@use "../../css/variables.scss";

.container {
  padding-top: 5px;
  font-family: variables.$defaultFontFamily;
  font-size: 0.9rem;
  line-height: 1.4;
}

.title {
  font-family: variables.$headerFontFamily;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.subtitle {
  margin-top: -0.2em;
  font-weight: bold;
}

.uncertain {
  margin-top: -0.2em;
  font-size: 0.8rem;
  color: variables.$lightText;
}

.nextStation {
  font-size: 0.8rem;
}

a.detailsLink {
  font-size: 1rem;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
}