@use "../../css/variables.scss";

.item {

  text-align: center;
  margin-bottom: 0.5em;

  &:last-child .connection {
    display: none;
  }

  .date {
    font-size: 0.9rem;
  }

  .city {
    font-size: 1.5rem;
    font-family: variables.$headerFontFamily;
  }

  .arrowImage {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .waypoints {
    font-size: 0.9rem;
    color: variables.$lightText;
  }

  .remark {
    margin-top: 1rem;
    font-style: italic;
  }

  .merges {
    font-size: 0.9rem;
    color: variables.$lightText;
  }
}

@media screen and (max-height: 500px) {
  .card {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  .footer {
    display: none;
  }
}

