@()(implicit req: KWRequest[_])

@main("Newsletter-Anmeldung erfolgreich", index = false) {
}{
@header()
@headerBackground("Newsletter-Anmeldung")

<main class="main-content">
    <section class="container is-max-desktop">
        <h2 class="title">Newsletter-Anmeldung erfolgreich</h2>
        <div class="block mb-6">
            <p>Vielen Dank für die Bestätigung deiner E-mail-Adresse.</p>

            <p>Wir halten dich jetzt auf dem Laufenden!</p>

        </div>
    </section>
</main>

}