.forgotPasswordLink {
  text-align: right;
  font-size: 13px;
}

.createNewAccount {
  margin-bottom: 2.5em;
  text-align: center;
}

.registerDescription {
  text-align: left;
  margin-bottom: 1.5em;
}