.website {
  display: none;
}

.textInputContainer {
  max-width: 400px;
}

.textInputContainer i {
  position: absolute;
  right: 0px;
}

.icon {
  padding: 10px;
  min-width: 40px;
  cursor: pointer;
}

.buttonContainer {
  text-align: right;

  @media screen and (max-width: 350px) {
    margin-right: -15px;
  }
}

.button {
  background-image: url("../../../../backend/public/images/button_bg_blue_new.svg");
  background-size: 100% 100%;
  border: 0;
  background-color: transparent;
  color: white;
  font-weight: bold;
  padding: 15px;
  height: auto;

  &:hover {
    color: white;
    text-decoration: underline;
  }
}