@import de.klimawuensche.locations.ClimateActionContent
@import de.klimawuensche.locations.ClimateAction
@import de.klimawuensche.locations.ClimateActionDetails
@import de.klimawuensche.locations.InternalContact
@import de.klimawuensche.locations.Organization
@import de.klimawuensche.user.User
@import de.klimawuensche.images.ImageDetails
@import de.klimawuensche.db.PagedList
@import play.api.libs.json.Json
@(action: ClimateAction, content: ClimateActionContent, belongsToUser: Boolean,
    optOwner: Option[User], optInternalContact: Option[InternalContact], internalPhone: Option[String], images: PagedList[ImageDetails])(implicit request: KWRequest[_])

@main(s"Klimabänder - ${action.actionType.germanName} ${content.name} in ${content.city}", index = true, description = Some(content.shortDescription)) {
    @views.html.helper.script(args = Symbol("type") -> "text/javascript") {
        window.climateActionDetails = @Html(ClimateActionDetails(action, content).asJsonString);
        window.climateActionImages = @Html(Json.toJson(images).toString)
    }    
    @includeCss("actionDetailsPage_css")
    @includeJsAndCss("actionDetailsPage")
} {
    @header()
    @headerBackground(content.name, backgroundImage = Some("images/photos/klimabaender_omasforfuture_aktionenvorort.jpg"),
        pagesBetween = Seq(Page.AktionenVorOrt))

    <main class="main-content">
        <section class="container is-max-desktop">

            <div class="titleContainer">
                <h3 class="action-type"><kb-climate-action-icon action-type="@action.actionType.entryName"></kb-climate-action-icon> 
                    <span>@action.actionType.germanName</span></h3>
                <h2 class="title">@content.name</h2>
            </div>

            @if(!action.approved) {
                <div class="notification is-warning">
                    Diese Aktion wurde noch nicht durch das Klimabänder-Team geprüft.
                    Daher ist die Detailseite bisher nur für dich sichtbar.
                </div>
            }
            @if(action.approved && belongsToUser && action.unapprovedContent.isDefined) {
                <div class="notification is-warning">
                    Geänderte Daten sind bis zur Prüfung durch das Klimabänder-Team nur für dich sichtbar.
                </div>
            }

            <div class="action-description">@content.description</div>

            <div class="map-and-address">
                <div class="address">
                    <h3 class="subtitle">Organisa&shy;tor:in</h3>
                    @if(action.content.organization.contains(Organization.OhneKerosinNachBerlin)) {
                        <div class="mt-3"><a href="https://ohnekerosinnachberlin.com/" target="_blank" rel="noopener">@imageTag(Image.create("logos/oknb-logo.svg", 220, 93, "Ohne Kerosin nach Berlin"))</a></div>
                    } else {
                        <div><strong>@content.organizerWithOrganization</strong></div>
                    }

                    <h3 class="subtitle">Adresse:</h3>
                    <div>@content.address</div>
                    <div>@content.postCode</div>
                    <div>@content.city</div>

                    <h3 class="subtitle">Zeitraum:</h3>
                    <div class="timespan">
                        <div class="from">@action.startDateAsString</div>
                        <div>bis</div>
                        <div class="until">@action.endDateAsString.getOrElse("September")</div>
                    </div>
                </div>
                <kb-action-details-mapview class="map-container"></kb-action-details-mapview>
            </div>

            @if(action.numberOfCollectedRibbons > 0) {
                <div class="collected-ribbons-container">
                    <div class="ribbons-count">@action.numberOfCollectedRibbons</div>
                    <div class="ribbons-count-label">Klimabänder wurden hier bisher gesammelt</div>
                </div>
            }

            <h3 class="subtitle">Kontakt</h3>
            @optOwner.map { owner =>
                <div class="notification is-warning">
                    <div class="help mb-2">Nur für Admins sichtbar</div>
                    <div>Benutzer, der die Aktion eingetragen hat:</div>
                    <div><strong>@owner.publicName</strong> - <a href="mailto:@owner.email">@owner.email</a></div>

                    @optInternalContact.map { internalContact =>
                        <div class="mt-2">Angegebener interner Kontakt:</div>
                        <div><strong>@internalContact.name</strong> - <a href="mailto:@internalContact.email">@internalContact.email</a></div>
                    }
                    @internalPhone.map { phone =>
                        <div class="mt-2">Interne Telefonnummer:</div>
                        <div><strong>@phone</strong></div>
                    }

                    <div class="mt-4">
                        <a href="@de.klimawuensche.biketour.routes.BikeTourController.bikeTourSettingsPage(action.id.toString)">Radtour-Daten bearbeiten</a>
                    </div>
                </div>
            }

            @if(content.contact.isEmpty) {
                <div>Es wurden keine Kontaktdaten angegeben. Schau einfach vorbei!</div>
            } else {
                <kb-climate-action-contact-details></kb-climate-action-contact-details>
            }

            <kb-action-details-image-gallery></kb-action-details-image-gallery>
        </section>
    </main>

}