@import de.klimawuensche.locations.MapFilter
@(mapFilter: MapFilter)(implicit request: KWRequest[_])

@main(mapFilter.pageTitle, true, description=Some(mapFilter.metaDescription)) {
    @includeCss("actionsOverview_css")
    @includeJsAndCss("mapWithFilterAndList")
}{
@header()
@headerBackground("Aktionen vor Ort", backgroundImage = Some(mapFilter.headerImage))

<main class="main-content">

    <kb-map-with-filter-and-list title="@mapFilter.title" initial-map-filter="@mapFilter.entryName"></kb-map-with-filter-and-list>

</main>

}