@import de.klimawuensche.locations.ClimateAction
@import de.klimawuensche.db.PagedList
@(events: PagedList[ClimateAction])(implicit request: KWRequest[_])

@main("Klimabänder - Veranstaltungen", index = true, description=Some("Hier findest du alle Klimabänder-Veranstaltungen in chronologischer Reihenfolge")) {
    @includeCss("eventsPage")
}{
@header()
@headerBackground("Veranstaltungen", backgroundImage = Some("images/photos/klimabaender_omasforfuture_aktionenvorort.jpg"), pagesBetween = Seq(Page.AktionenVorOrt))

<main class="main-content">

    <section class="container is-max-desktop">

        <h2 class="title">Die nächsten Veranstaltungen</h2>
        <div class="block">
            Hier findest du deutschlandweit alle Veranstaltungen, auf denen Klimabänder gesammelt werden.
        </div>
        <div class="block">
            Wenn du Veranstaltungen oder Sammelstellen an einem bestimmten Ort suchst, dann sieh bei den <a href="/aktionen-vor-ort">Aktionen vor Ort</a> nach.
            Wenn du selbst eine Klimabänder-Veranstaltung planst, dann findest du alle Informationen dazu unter <a href="/sammeln#infos-veranstaltungen">Veranstaltung planen</a>.
        </div>

        <div>
            @events.items.groupBy(_.startDate.toLocalDate).toSeq.sortBy(_._1).map { case (date, eventsForDate) =>
                <div class="mb-6">
                    <h3 class="title">@ClimateAction.dateOnlyFormatterWithFullMonth.format(date)</h3>
                    @eventsForDate.map { event =>
                        <div class="event">
                            <div class="event-date">@ClimateAction.timeFormatter.format(event.startDate)</div>
                            <div class="event-icon">
                                <a href="@de.klimawuensche.locations.routes.ClimateActionController.climateActionDetailPage(event.id.toString)">
                                    @eventIcon(event)
                                </a>
                            </div>
                            <div>
                                <div class="event-name">
                                    <a href="@de.klimawuensche.locations.routes.ClimateActionController.climateActionDetailPage(event.id.toString)">@event.content.name</a>
                                </div>
                                <div class="event-details">@event.content.organizerWithOrganization, @event.content.address, @event.content.city</div>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>

        @pagination(events.pagingInfo, page => de.klimawuensche.locations.routes.ClimateActionController.events(if (page == 1) None else Some(page)).url)

    </section>

</main>

}