@()(implicit req: KWRequest[_])

@main("Login-Bereich", index=false) {
    @includeJsAndCss("manageClimateActions")
}{

@header()
@headerBackground("Login-Bereich")

<section class="container is-max-desktop">
   Du bist eingeloggt als <b>@{req.optUser.get.email}</b>. <a href='@de.klimawuensche.user.routes.LoginController.logout()'>&rarr; Logout</a><br>
</section>

<section class="container is-max-desktop">
    <h2 class="title">Deine Fotos</h2>
    <p class="block">Lade Fotos von Klimabändern, Sammelstellen oder Veranstaltungen hoch!</p>

    <a class="button is-primary" href="@de.klimawuensche.images.routes.ImageUploadController.manageImages">Fotos hochladen/verwalten</a>

</section>

<section class="container is-max-desktop">
    <kb-manage-climate-actions></kb-manage-climate-actions>
</section>

}