@import de.klimawuensche.locations.ClimateAction
@(action: ClimateAction)(implicit req: KWRequest[_])

@main(s"Gesammelte Bänder für ${action.content.name}", index=false) {

@includeCss("manageCollectedRibbons_css")
@includeJsAndCss("manageCollectedRibbons")

}{

@header()
@headerBackground("Gesammelte Bänder", pagesBetween = Seq(Page.MyActions))

<section class="container is-max-desktop">
    <div class="mb-4">
        <a href="@Page.MyActions.url">&larr; Zurück zur Liste</a>
    </div>

    <div class="actionContainer">
        <div class="actionLabel">Für deine @action.actionType.germanName:</div>
        <div class="actionTitle">@action.content.name</div>
        <div class="actionAddress">@action.content.address, @action.content.city</div>
    </div>

    <kb-manage-collected-ribbons action-id="@action.id" count="@action.numberOfCollectedRibbons"></kb-manage-collected-ribbons>

    <h3 class="title mt-6">Sprüche auf den Bändern</h3>
    <div>Hier kannst du die Sprüche auf den gesammelten Bändern eingeben.</div>
    <div>Keine Angst, du musst nicht alle Sprüche abtippen. Aber vielleicht kannst du dir ja
        einfach ein paar gesammelte Bänder herausgreifen and diese abtippen.
        So bekommen wir einen Überblick über die Sprüche, können die häufigsten auf der
        Website hervorheben und am Ende der Aktion Auswertungen machen.</div>

    <kb-slogans-for-action action-id="@action.id"></kb-slogans-for-action>

</section>

}