@()(implicit request: KWRequest[_])

@main("Klimabänder - Aktionsdetails", index=true, description=Some("Alle Details zu gewählten Aktion")) {
}{
@header()
@headerBackground("Aktionsdetails", backgroundImage = Some("images/photos/klimabaender_omasforfuture_aktionenvorort.jpg"))

<main class="main-content">
    <section class="container is-max-desktop">
        <h2 class="title">Diese Aktion ist noch nicht freigegeben</h2>

        <p>
            Nach der Freigabe durch das Klimabänder-Team wird die Aktion unter dieser Adresse abrufbar sein.
        </p>
    </section>

</main>

}