@use "../../css/variables.scss";

.links {
  display: flex;
  align-items: flex-start;
  margin-bottom: -2.5em;

  a {
    padding: 35px 30px 35px;
    color: variables.$defaultFontColor;
    background-image: none;
    background-size: 100% 125%;
    background-position: center;
    width: 160px;
    text-align: center;
    font-family: variables.$headerFontFamily;
    font-size: 1.3em;
  

    &.activeTab, &:hover {
      background-image: url(../../../../backend/public/images/icons/icon-bg-bubble-orange.svg); 
    }

    &.activeTab {
      background-image: url(../../../../backend/public/images/icons/icon-bg-bubble-orange.svg);
      //background-size: 120% 140%;    
      font-size: 1.4em;
      z-index: 10;
    }

    .tabIcon {
      width: auto;
      height: 60px;
    }
  }

  @media screen and (max-width: 600px) {
    display: none;
  }
}

.blob {
  color: white;
  padding: 80px;
  padding-right: 160px;
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 300px;
  background-image: url(../../../../backend/public/images/info-blob.svg);
  background-size: 100% 100%;
  position: relative;

  h3 {
    color: white;
  }

  .pointer {
    position: absolute;
    top: -32px;
    padding-right: -50px;
    width: 120px;  
  }

  @media screen and (max-width: 600px) {
    background-image: url(../../../../backend/public/images/info-blob-mobile.svg);
    padding: 50px;
    padding-right: 50px;
    padding-top: 80px;
    padding-bottom: 90px;

    .pointer {
      display: none;
    }
  }

  @media screen and (max-width: 360px) {
    margin-left: -20px;
    margin-right: -20px;
  }

}

.content {
  a {
    color: white;
    text-decoration: underline; 
  }
}

.linkOnDark {
  color: variables.$linkOnDarkColor;

  &:hover {
    text-decoration: underline;
    color: variables.$linkOnDarkColor;
  }

}

.linkContainer {
  text-align:right;
  margin-top: 2em;

  @media screen and (max-width: 700px) {
    margin-top: 3em;
    text-align: center;
  }

  @media screen and (min-width: 371px) and (max-width: 500px) {
    text-align: left;
    margin-left: 1em;
  }
}

.spacer {
  @media screen and (max-width: 700px) {
    margin-top: 65px;
  }
}

.link {
  font-family: variables.$headerFontFamily;
  letter-spacing: 0.05em;
  font-size: 1.2em;
  text-align: center;
  background-image: url(../../../../backend/public/images/button_bg_white.svg);
  padding: 15px;
  background-size: 100% 100%;
  color: variables.$defaultFontColor;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }
}

.bearImage {
  position: absolute;
  bottom: 0;
  right: 40px;
  width: 110px;
  height: auto;

  @media screen and (max-width: 600px) {
    bottom: 50px;
    width: 70px;
    right: 70px;
  }

  &.buttonShown {
    @media screen and (max-width: 370px) {
      display: none;
    }
  }
}

.date {
  background-image: url(../../../../backend/public/images/info-date-blob.svg);
  background-size: 100% 100%;
  padding: 20px;
  position: absolute;
  right: 10px;
  top: 0;
  color: variables.$defaultFontColor;
  font-weight: bold;
  font-size: 1.2em;

  @media screen and (max-width: 500px) {
    font-size: 1em;
  }

}

.mobileNavi {
  @media screen and (min-width: 601px) {
    display: none;
  }

  display: flex;
  justify-content: center;
  align-items: center;
  margin: -50px 0 -70px 0;

  .currentItem {
    background-image: url(../../../../backend/public/images/info-navi-bubble-etappen.svg);
    background-size: 100% 100%;
    padding: 80px;
    //padding-bottom: 15%;
    text-align: center;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0;

    img {
      width: 55px;
      height: auto;
    }

    .currentItemTitle {
      padding: 10px;
      //max-width: 150px;
      font-family: variables.$headerFontFamily;
      font-size: 1.4em;
    }

    .itemNumber {
      font-size: 0.7em;
    }
  }

  a img {
    width: 50px;
    padding-left: 12px;
    padding-right: 12px;
    min-width: 50px;
    height: auto;
  }
}