@(title: String)(implicit req: LoggedInUserRequest[_])
<header class="admin-header">

    <div class="container is-max-desktop admin-header-title-container">
        <kb-logo home-link="/admin" small-margin="true"></kb-logo>

        <div class="admin-header-title">
            <h2>Admin-Bereich</h2>
            <h1>@title</h1>
        </div>
    </div>

    <nav class="container is-max-desktop admin-navigation">
        @if(req.user.role.hasRight(UserRight.AdminUsers)){<a href="/admin/users">Nutzer</a> | }
        <a href="/admin/climateActions">Aktionen</a> |
        <a href="/admin/images">Bilder</a> |
        <a href="/admin/slogans">Sprüche</a> |
        @if(req.user.role.hasRight(UserRight.DownloadPostalAddresses)){<a href="/admin/postalAddresses">Adress-Download</a> |}
        <a href="/logout">Ausloggen</a>
    </nav>

</header>
