@(stats: de.klimawuensche.admin.AdminSiteStatistics)(implicit req: LoggedInUserRequest[_])

@adminFrame("Übersicht") {
  <div>Nutze die Navigation oben, um in die verschiedenen Bereiche des Admin-Bereichs zu gelangen.</div>

  <h3 class="title mt-5">Statistiken</h3>
  <div class="stat-items">
    <div><span class="stat-number">@stats.numberOfVerifiedUsers</span><span>verifizierte Nutzer</span></div>
    <div><span class="stat-number">@stats.numberOfUnverifiedUsers</span><span>Nicht verifizierte Nutzer</span></div>
    <div><span class="stat-number">@stats.actionsOverall</span><span>Aktionen insgesamt</span></div>
    <div><span class="stat-number">@stats.actionsToApprove</span><span>nicht abgenommene Aktionen</span></div>
    <div><span class="stat-number">@stats.actionsWithChangesToApprove</span><span>Aktionen mit nicht abgenommenen Änderungen</span></div>
    <div><span class="stat-number">@stats.collectedRibbons</span><span>gesammelte Bänder insgesamt</span></div>
    <div><span class="stat-number">@stats.numberOfSlogans</span><span>eingegebene Sprüche</span></div>
    <div><span class="stat-number">@stats.unapprovedSlogans</span><span>nicht abgenommene Sprüche</span></div>
  </div>

  <h3 class="title mt-5">Downloads</h3>
  <div><a href="@de.klimawuensche.locations.routes.ClimateActionController.downloadActionsAsCsv">Aktionen als CSV herunterladen</a></div>

}