@(form: Form[java.time.LocalDate])(implicit req: LoggedInUserRequest[_])

@adminFrame("Adress-Download") {

    <div class="block">Du kannst hier Adressen der Aktionen, die Infomaterial zugeschickt bekommen möchten, als CSV-Dateien herunterladen.</div>

    <form action="@de.klimawuensche.locations.routes.ClimateActionController.downloadPostalAddresses" method="get">

        <div class="field">
            <label class="label">Alle Adressen ab folgendem Datum herunterladen:</label>
            <div class="control">
                @form.forField("date") { field =>
                    <input class="input @if(field.hasErrors){is-danger}" name="@field.name" value="@field.value">
                    @field.error.map { error =>
                        <p class="help is-danger">@error.format</p>
                    }
                }
            </div>
        </div>

        <div>
            <button class="button is-primary">Herunterladen</button>
        </div>

    </form>


}