@()(implicit req: LoggedInUserRequest[_])

@adminFrame("Postleitzahlen hochladen") {

    <div class="block">Du kannst hier Daten für Postleitzahlen hochladen.</div>

    <div class="block">Die benötigte Datei gibt es unter
        <a href="https://www.suche-postleitzahl.org/download_files/public/plz-gebiete.kmz">https://www.suche-postleitzahl.org/download_files/public/plz-gebiete.kmz</a>.
    </div>

    <div class="block">Das Hochladen und Verarbeiten der Datei dauert mehrere Minuten. Sieh einfach im Log nach, ob es eine Erfolgsmeldung gab.</div>

    <form action="@de.klimawuensche.geodata.routes.GeoCodeController.persistPostalCodes()" method="post" enctype="multipart/form-data">

        <div class="block">
            Datei auswählen: <input type="file" name="file">
        </div>

        <div>
            <button class="button is-primary">Hochladen</button>
        </div>

    </form>


}