@()(implicit request: KWRequest[_])

@main("Klimabänder - Über uns", index=true, description=Some("Wahljahr 2021: Gemeinsames Handeln ist jetzt wichtig! Gemeinsam bringen wir mit den Klimabändern das Thema Klima auf die Straße.")) {
    @includeCss("aboutUs_css")
}{
@header()
@headerBackground("Über uns", backgroundImage = Some("images/photos/klimabaender_omasforfuture_ueberuns3.jpg"))

<main class="main-content">

    <section class="container is-max-desktop">
        <h2 class="title">Gemeinsames Handeln ist jetzt wichtig!</h2>
        <p class="block">
            Das Projekt Klimabänder ist aus dem Gedanken heraus entstanden, gemeinsam das Thema Klima besonders im Wahljahr 2021 auf die Straße zu bringen. Wir befinden uns im Wahljahr 2021 wo wir als Gemeinschaft die politischen Weichen für die nächsten Jahre stellen können und müssen. Die nächsten 2-3 Jahre sind für unsere Erde entscheidend, um bis 2045 klimaneutral zu sein.
        </p>
        <p class="block">
            Das Klimaband ist ein Sinnbild und Klimabotschafter! Es treibt eine Bewegung voran, die den ganzen Sommer über die Themen Klima und Umwelt auf die Straße bringt – fröhlich, ermutigend und entschlossen. <br>
            <strong>Wir müssen JETZT gemeinsam handeln!</strong>
        </p>
        <p class="block">
            Wir sind dankbar, dass sich bereits so viele Menschen für das Projekt und unsere Erde einsetzen und an unsere Zukunft glauben.
        </p>
    </section>

    <section class="aboutUs container is-max-desktop">
        @imageWithText(Image.LogoOmasForFuture, reverseColumn=true) {
            <h3 class="title">Initiator:innen</h3>
                    <p class="block">
                        <strong>Handeln! Aus Liebe zum Leben.</strong>
                        Das ist das Motto der Omas for Future, einer Bewegung des gemeinnützigen Vereins 
                        "Leben im Einklang mit der Natur e.V.". Mit der gleichen Liebe, mit der wir uns 
                        für unsere Kinder eingesetzt haben, engagieren wir uns nun, um für unsere Kinder und 
                        Enkelkinder die Erde als lebenswerten Ort zu erhalten.
                    </p>
                    <a class="button-blue" href="/ueber-uns/initiator_innen">Mehr über die Initiator:innen</a>

        }
        @imageWithText(Image.UeberUns) {
            <h3 class="title">Team</h3>
            <p class="block">
                Hinter der Aktion Klimabänder steht ein diverses Team an Vernetzer:innen, Koordinator:innen, Designer:innen, Programmierer:innen und Kommunikator:innen. Nur durch den hohen ehrenamtlichen Einsatz war es möglich, diese interaktive Webseite, unser Corporate Design, Werbung, Social Media Posts und vieles mehr so professionell  und schnell in atemberaubend kurzer Zeit an den Start zu bringen.
            </p>
            <a class="button-blue" href="/ueber-uns/team">Mehr über das Team</a>

        }

        <h3 class="title">Schirmherr</h3>

        @imageWithTextRound(Image.cdnStatic("images/klimabotschafter/franz-alt.jpg", 550, 550, "Foto von Franz Alt"), reverseColumn=true, clipImage = true) {
            <h4 class="title">Franz Alt</h4>
            <p class="block">
                „Für die Klimabänder engagiere ich mich, um bundesweit mit darauf aufmerksam zu machen, dass es allerhöchste
                Zeit ist, sich mitverantwortlich gegen den Klimawandel einzusetzen.“
            </p>
            <p class="block">
                Franz Alt ist der am meisten ausgezeichnete deutsche Fernsehjournalist. Er profiliert sich heute im Bereich Umwelt- und Friedenspolitik.
                Von 1972 bis 1992 leitete und moderierte er das politische Magazin «Report». Seit 1997 sind er und seine Ehefrau mit der vielfach prämierten
                Webseite «Sonnenseite» im Internet aktiv und informieren über aktuelles Geschehen im Energie- und Umweltsektor.
            </p>
        }

        <h3 class="title">Klimabotschafter:innen</h3>

        @imageWithTextRound(Image.cdnStatic("images/klimabotschafter/LuciVanOrg.jpg", 500, 500, "Foto von Luci van Org"), reverseColumn=false, clipImage = true) {
            <h4 class="title">Luci van Org</h4>
            <h5 class="subtitle">Musikerin/Autorin</h5>
            <p class="block">
                „Wenn mein Haus von Feuer oder Überflutung bedroht, aber noch zu retten ist, gibt es nichts Wichtigeres, als das Feuer zu löschen
                und das Wasser aufzuhalten. Alles andere wird zweitrangig. Unsere ganze Erde ist gerade dieses Haus. Deshalb hat für mich der Kampf
                gegen den Klimawandel höchste Priorität und ich versuche zu helfen, wo ich kann.
                Indem ich mich verändere, was meine Ernährung, mein Konsumverhalten und die Wahl meiner Fortbewegungsmittel angeht.
                Und indem ich versuche, möglichst viele Menschen dafür zu begeistern, ebenfalls mitzuhelfen.
                Denn wir können es nur gemeinsam schaffen, das Schlimmste noch aufzuhalten.
                Die Klimabänder sind ein wunderschöner, überall sichtbarer Weg, Menschen an das Thema heranzuführen. Deshalb bin ich von Herzen gern Klimabotschafterin.“
            </p>
        }

        @imageWithTextRound(Image.cdnStatic("images/klimabotschafter/joerg-sommer.jpg?height=500&width=500&crop=smart", 500, 500, "Foto von Jörg Sommer"), reverseColumn=true, clipImage = true) {
            <h3 class="title">Jörg Sommer</h3>
            <h4 class="subtitle">Vorstandsvorsitzender der deutschen Umweltstiftung</h4>
            <p class="block">
                „Ich freue mich, als Klimabotschafter bei den Klimabändern dabei zu sein. Solche Aktionen fördern auf kreative Weise das Bewusstsein für einen wirksamen und generationengerechten Klimaschutz. Hoffnung durch Handeln ist das Motto der Deutschen Umweltstiftung. Dazu möchte ich Sie in diesem Sinne ermutigen:
                Lassen Sie uns gemeinsam handeln - denn nur so können wir etwas bewegen."
            </p>
        }

        @imageWithTextRound(Image.cdnStatic("images/klimabotschafter/PfarrerStief_Copyright-Lukas-Gensel_3.jpg?height=500&width=500&crop=smart", 500, 500, "Foto von Bernhard Stief"), reverseColumn=false, clipImage = true) {
            <h3 class="title">Bernhard Stief</h3>
            <h4 class="subtitle">Pfarrer Nikolaikirche Leipzig</h4>
            <p class="block">
                „Mit Begeisterung gehe ich durch die Berge wandern oder fahre mit dem Fahrrad quer durch Europa.
                Aufgrund der zahlreichen Proteste, Debatten und Veröffentlichungen zum Klima in den letzten Jahren nehme ich aufmerksamer die
                Eingriffe der Menschen in die Flussläufe und die Bergwelt wahr. Ich meine, wir sollten demütiger werden und der Natur
                den Respekt zurückgeben, den sie verdient. Darum möchte ich Teil der Klimabewegung sein und zur Bewahrung der uns geliehenen Erde beitragen."
            </p>
            <p class="help block">
                Foto: &copy; Lukas Gensel
            </p>
        }


        @imageWithText(Image.create("quadrate/unterstuetzerinnen.jpg", 700, 700, "Kind mit Klimaband"), reverseColumn=true) {
            <h3 class="title">Unterstützer:innen</h3>
            <p class="block">
                Die Aktion Klimabänder lebt von allen, die das Projekt unterstützen. Denjenigen, die Sammelstellen 
                organisieren, den vielen Aktionen bei denen gesammelt wird sowie den vielen Akteuren, 
                die sich in Berlin für das Festival der Zukunft vernetzen. 
                Erst diese große Gemeinschaft macht es möglich, dass diesen Sommer bunte 
                Bänder auf Deutschlands Straßen wehen.
            </p>
            <a class="button-blue" href="/ueber-uns/unterstuetzer_innen">Mehr über unsere Unterstützer:innen</a>
        }

    </section>

   
    <section class="container is-max-desktop">
        <div class="supporters-logos">
            <a href="https://www.omasforfuture.de/" target="_blank" rel="noopener">
                <img src='@routes.Assets.versioned("images/logos/logo_omasforfuture.png")' width="350" height="350" title="Omas for Future" alt="Omas for Future">
            </a>
            <a href="https://www.parentsforfuture.de/de/" target="_blank" rel="noopener">
                <img src='@routes.Assets.versioned("images/logos/logo_parents4future_360.png")' width="360" height="361" alt="PARENTS 4 FUTURE" title="PARENTS 4 FUTURE">
            </a>
            <a href="https://studentsforfuture.info/" target="_blank" rel="noopener">
                <img src='@routes.Assets.versioned("images/logos/logo_studentsforfuture_360.png")' width="352" height="352" alt="Students for Future" title="Students for Future">
            </a>
            <a href="https://www.kirchen-fuer-klimagerechtigkeit.de/churches-for-future" target="_blank" rel="noopener">
                <img src='@routes.Assets.versioned("images/logos/logo_churchesforfuture.png")' width="334" height="334" alt="Churches for Future" title="Churches for Future">
            </a>
            <a href="https://creativesforfuture.de/" target="_blank" rel="noopener">
                <img src='@routes.Assets.versioned("images/logos/logo_creativesforfuture.png")' width="369" height="369" alt="Creatives for Future" title="Creatives for Future">
            </a>
            <a href="https://healthforfuture.de/" target="_blank" rel="noopener">
                <img src='@routes.Assets.versioned("images/logos/logo_healthforfuture.png")' width="400" height="400" alt="Health For Future" title="Health For Future">
            </a>
            <a href="https://togetherforfuture.org/" target="_blank" rel="noopener">
                <img src='@routes.Assets.versioned("images/logos/logo_togetherforfuture.png")' width="720" height="269" class="broad-image" alt="Together for Future" title="Together for Future">
            </a>
            <a href="https://www.dieklimawette.de/" target="_blank" rel="noopener">
                <img src='@routes.Assets.versioned("images/logos/logo_klimawette.svg")' width="650" height="150" class="broad-image image-klimawette" alt="Die Klimawette" title="Die Klimawette">
            </a>
            <a href="https://changing-cities.org/" target="_blank" rel="noopener">
                <img src='@routes.Assets.versioned("images/logos/logo_changingcities.svg")' width="110" height="95" class="image-changing-cities" alt="Changing Cities" title="Changing Cities">
            </a>
        </div>
    </section>




        
        <div class="imageContainer">
            <section class="container is-max-desktop">
                <h2 class="title">Klimabänder verbinden</h2>
                <p class="block">
                    Nicht nur die Menschen in der For-Future-Bewegung - auch viele außerhalb haben erkannt, dass wir dringendst handeln müssen, um unsere Lebensgrundlage zu erhalten. Nicht nur die Erderwärmung, auch das Artensterben bedroht uns und unser Überleben. Diese Menschen wollen wir mit unserer Aktion sichtbar machen. Gerade im Wahljahr 2021 wollen wir das Klimathema in den Alltag, auf die Straße holen - sichtbar für jede:n. Die große Gemeinschaft derer zeigen, die bereit sind ihr Verhalten zu ändern, die die Dringlichkeit zu handeln und neue politische Weichen zu stellen, erkannt haben.
                </p>
                <p class="block">
                    Die Klimabänder verbinden uns - machen uns zu einer großen Gemeinschaft im Einsatz für unsere Erde. Nur gemeinsam können wir die Erde retten. Darum sagen wir DANKE für die Unterstützung durch viele andere Bewegungen und Verbände. Wir hoffen, dass nach und nach alle, denen unsere Erde am Herzen liegt, sich der Aktion Klimabänder anschließen: Wir gemeinsam - für unsere Erde!
                </p>
            <a class="button-blue" href="/mitmachen">Mitmachen</a>
                
            </section>
        </div> 

</main>


}

