@()(implicit request: KWRequest[_])

@main("Klimabänder sammeln", index=true, description=Some("Infos für Sammelstellen und Veranstaltungen: Wie melde ich eine Aktion an, wie kann ich die Bänder aufhängen und wie kommen sie nach Berlin.")) {
    @includeJsAndCss("collectPage")
}{
@header()
@headerBackground("Klimabänder sammeln", backgroundImage = Some("images/photos/klimabaender_omasforfuture_faq2.jpg"),
    pagesBetween = Seq(Page.Mitmachen))

<main class="main-content">

    <section class="container is-max-desktop">
        <h2 class="title">Deine Aktion zum Klimabänder sammeln</h2>
        <p class="block">
            Damit eine bunte Welle aus Klimabändern über Deutschland zieht, braucht es viele Sammelstellen, große und kleine Veranstaltungen,
            Aktionen und Stände, um möglichst viele Menschen zu erreichen. Jede:r kann mitmachen mit einer eigenen ganz individuellen, kreativen Aktion.
        </p>
        <p class="block">
            Lass deiner Kreativität und deinem Aktionismus freien Lauf und mach die Klimabänder zu deinem ganz eigenen Projekt. Starte jetzt deine Aktion.
        </p>
    </section>

    <section class="wide-container bg-color-grey">
        <section class="container is-max-desktop">
            <div class="twoColumnsContainer strech">
                <div class="firstColumn bg-white">
                    <img src="/assets/images/photos/klimaband-sammelstelle.jpg">
                    <h3 class="title">Sammelstelle eröffnen</h3>
                    <p class="block">
                        Sammel Klimabänder an einer Sammelstelle. An Sammelstellen können bis zum Start der Radtour Klimabänder beschriftet und abgegeben werden. Sammelstellen können an allen möglichen Orten sein: In Schulen, Kindergärten, in Cafés, an öffentlichen Orten.. 
                    </p>
                    <a class="button-blue" href="/login">Registrieren</a>
                    <a class="button-blue-outline" href="#infos-sammelstelle">Mehr zur Sammelstelle</a>
                </div>
                <div class="secondColumn bg-white">
                    <img src="/assets/images/photos/klimaband-veranstaltung.jpg">
                    <h3 class="title">Veranstaltung planen</h3>
                    <p class="block">
                        Plane eine Veranstaltung zum Thema "Klima". Veranstaltungen sind zeitlich begrenzt und finden zu einem bestimmten Zeitpunkt statt. Während der Veranstaltungen werden Klimabänder gesammelt, damit diese mit nach Berlin geradelt werden können.
                    </p>
                    <a class="button-blue" href="/login">Registrieren</a>
                    <a class="button-blue-outline" href="#infos-veranstaltungen">Mehr zu Veranstaltungen</a>
                </div>
            </div>
        </section>
    
    </section>

    <section class="container is-max-desktop">
    
        <h2 class="title">Inspiration für deine Aktion</h2>

        <kb-collect-image-gallery />

    </section>

    <section class="container is-max-desktop">
        <h2 class="title" id="infos-sammelstelle">Alle Informationen rund um deine Sammelstelle</h2>

        <h3 class="title">Wie erfahren andere von meiner Sammelstelle?</h3>

        <div class="twoColumnsContainer top">
            <div class="firstColumn">
                <img src="/assets/images/screenshots/sammelstelle-anlegen.jpg">
            </div>
            <div class="secondColumn">
                <p class="block">
                    Zunächst einmal solltest du deine Sammelstelle <a href="/login">auf dieser Website anmelden</a>.
                    Dadurch habe alle Nutzer:innen die Möglichkeit, deine Sammelstelle auf der <a href="/aktionen-vor-ort">Karte</a> zu finden.
                </p>
                <p class="block">
                    Zusätzlich kannst du in deinem Ort auch Flyer in Geschäften auslegen oder an Freunde und Bekannte verteilen.
                    Nachdem du eine Aktion angemeldet hast, erhältst du von uns ein Paket mit Werbematerial. Dies enthält Flyer, Poster und Quizbücher.
                    Zusätzlich kannst du dir unter <a href="/downloads">Downloads</a> Material zum selbst Ausdrucken herunterladen.
                </p>
            </div>
        </div>

        <p class="block">
            Ganz nach dem Motto „Tu etwas Gutes und sprich darüber“ machst du deine Aktion eigenständig groß.
            In unserem <a href="/presse">Pressebereich</a> kannst du auch eine Pressemitteilung auswählen, nach deinen Wünschen
            ergänzen und damit zur lokalen Presse gehen, um möglichst viele Menschen in deiner Region zu erreichen.
        </p>

        <h3 class="title">Anzahl der gesammelten Bänder angeben</h3>
        <p class="block">
            Bitte gib im Login-Bereich regelmäßig die ungefähre Anzahl der schon gesammelten Bänder an deiner Sammelstelle ein.
            Nur so haben wir einen Überblick, wie viele Bänder wir auf der Fahrradtour ungefähr transportieren müssen. Außerdem
            wird die Gesamtanzahl der Bänder auf der Startseite angezeigt.
        </p>

        <h3 class="title">Fotos hochladen</h3>
        <p class="block">
            Im Login-Bereich hast du die Möglichkeit, Fotos für deine Sammelstelle hochzuladen. Du kannst jeweils noch Kategorie und Beschreibung
            angeben. Die Fotos werden auf der Detailseite der Sammelstelle angezeigt und können auch in Fotogalerien an anderen Stellen auf der Website
            erscheinen.
        </p>

        <h3 class="title">Kann ich die Bänder auch im öffentlichen Raum aufhängen?</h3>
        <p class="block">
            Die Rechtslage ist hier von Kommune zu Kommune sehr unterschiedlich.
            Wenn du unsicher bist, melde für einmalige Aktionen beim Ordnungsamt eine Demo bzw.
            für Sammelstellen oder wehende Bänder eine Sondernutzung beim Verkehrsamt an.
            Wenn du Bänder in Parks, z.B. an Geländer oder Laternen bindest, musst du damit rechnen,
            dass sie ggf. wieder entfernt werden.
            Bitte binde keine Klimabänder an Bäume, wenn diese dabei beschädigt werden.
        </p>

        <h3 class="title">Die Bänderbox</h3>
                
        <p class="block">
            Mit einer Bänderbox bietest du Menschen beim Vorbeilaufen an deiner Sammelstelle jederzeit die Möglichkeit, sich an der Aktion zu beteiligen
            und eigene Klimabänder zu beschriften.
        </p>

        <div class="twoColumnsContainer top">
            <div class="firstColumn">
                <div class="video-teaser">
                    <kb-vimeo-play-button video-id="566437132" class="play-button"></kb-vimeo-play-button>
                    @imageTag(Image.create("photos/baenderbox.jpg", 800, 426, "Bänderbox selbst basteln"), "video-image")
                </div>
            </div>
            <div class="secondColumn">
                <p class="block">
                    Es handelt sich dabei um eine fest installierte Kiste direkt an deiner Sammelstelle. Dadurch können Menschen rund um die Uhr Klimabänder beschriften.
                    Die Bänderbox beinhaltet Stoffbänder, Stifte und Flyer. Auch ein Poster zur Erklärung der Aktion sollte in der Nähe befestigt werden.
                </p>
                <p class="block">
                    Du kannst eine solche Kiste ganz einfach selbst gestalten, zum Beispiel aus einer alten Weinkiste, einem Wäsche- oder Einkaufskorb.
                    Wenn sie wettergeschützt steht, kannst du auch einfach einen alten Schuhkarton nehmen. Sieh dir das Video an:
                </p>
            </div>
        </div>

        <h3 class="title">Wie kommen die Klimabänder nach Berlin?</h3>
        <p class="block">
            Natürlich muss nicht zwangsweise jede:r Einzelne direkt nach Berlin radeln.
            Es wird sechs Hauptströme durch ganz Deutschland geben, an deren Knotenpunkten Klimabänder abgegeben werden können.
            Nimm dazu bitte spätestens ab Anfang August mit allen Sammelstellen im Umkreis von 10-20 Kilometern Kontakt auf.
            Wenn es keine Sammelstelle in deinem direkten Umfeld gibt, nimm die nächstgelegene oder wende dich notfalls <a href="/kontakt">an uns</a>.
        </p>
        <p class="block">
            <strong>Tipp:</strong> Frage Freunde, Bekannte oder auch lokale Radfahrer-Sportgruppen, ob sie nicht Lust haben mitzuradeln.
        </p>

        <p class="block">
            Vernetze dich mit den anderen Sammelstellen und überlegt gemeinsam, wie ihr eure gesammelten Klimabänder zu den Hauptströmen radeln könnt.
            Stimmt euch gemeinsam beispielsweise über Messenger-Apps ab und vereinbart untereinander die
            einzelnen Routen und die Übergabe bzw. Entgegennahme der Bänder. So bewegt sich der Strom Stück für Stück Richtung Berlin.
        </p>

        <p class="block">
            Schau selbst, was für dich stimmige und schöne Radwege sind. Du kennst deine Gegend am besten. Wann die Hauptströme in einer Stadt
            auch in deiner Nähe Richtung Berlin starten, siehst du auf der Website ab Mitte Juli. Dann wird auch ersichtlich sein,
            bis wann die Klimabänder an bestimmten Knotenpunkten angekommen sein müssen.
        </p>

        <p class="block">
            Sei eigenständig und kreativ. Sofern die Menge der Bänder so groß ist, dass sie nicht mehr auf Rädern oder Lastenrädern transportiert werden kann,
            werden auf den Hauptroute vermutlich Elektrofahrzeuge mit Anhänger unterstützen - das sollte aber die Ausnahme sein.
            Gibt es Lücken oder Probleme: Meldet Euch. Ansonsten setzen wir – wie bei der gesamten Aktion - auf “Schwarmintelligenz”.
            Wir freuen uns sehr, wenn durch diese Radtour Menschen sich näherkommen, Freundschaften entstehen,
            Zusammenarbeit zwischen Orten entsteht. Teilt eure Geschichten, Bilder und Erfahrungen auf den Social-Media-Kanälen mit dem Hashtag #Klimabänder.
        </p>

        <p class="block">
            Weitere Infos zur Radtour findest du auf der <a href="@de.klimawuensche.info.routes.InfoController.mitradeln">Radtour-Seite</a>.
        </p>

        <h2 class="title">Häufige Fragen zur Sammelstelle</h2>

        <kb-collect-faq></kb-collect-faq>
    </section>

    <a name="infos-veranstaltungen"></a>
    <section class="container is-max-desktop">
        <h2 class="title" id="infos-veranstaltung">Alle Informationen rund um deine Veranstaltung</h2>
        
        <h3 class="title">Wie melde ich eine Veranstaltung an?</h3>
        <p class="block">
            <a href="/login">Registriere dich hier</a>, um eine Veranstaltung anzumelden.
            Nach dem Login kommst du sofort auf die Übersicht deiner Aktionen, wo du auch eine neue Aktion anlegen kannst.
            Diese wird zunächst vom Klimabänder-Team geprüft. Sobald deine Veranstaltung abgenommen wurde, wirst du per Mail benachrichtigt
            und die Veranstaltung ist für alle unter <a href="/aktionen-vor-ort">Aktionen vor Ort</a> sichtbar.</div>
        </p>

        <h3 class="title">Wo kann ich Bänder bei meiner Veranstaltung sammeln?</h3>
        <p class="block">
            Den passenden Platz für Klimabänder bei deiner Veranstaltung kennst du am besten. Die Klimabänder können aufgehängt werden, in
            einer Kiste gesammelt oder zum Mitnehmen verteilt werden. Klimabänder brauchen nicht viel Platz, haben aber durch ihre bunten Farben und
            positive Bedeutung eine riesen Wirkung.
        </p>

        <h3 class="title">Meine Veranstaltung ist schon fertig geplant, kann ich trotzdem Klimabänder sammeln?</h3>
        <p class="block">
            Auf jeden Fall! Die Klimabänder können zu jeder Veranstaltung eine Ergänzung sein. Alles was du dafür brauchst, sind Klimabänder,
            wasserfeste Stifte und eine Kiste zum Abgeben oder eine Wäscheleine zum Aufhängen. Wie du Klimabänder selber machst
            findest du unter <a href="mitmachen/klimaband-gestalten">Klimaband gestalten</a>.
        </p>

        <h3 class="title">Was mache ich mit den Bändern nach der Veranstaltung?</h3>
        <p class="block">
            Es gibt verschiedene Möglichkeiten:
        </p>
        <ul class="list-dot">
            <li>Du kannst sie hängen lassen: Auf einem Schulhof zum Beispiel oder im Foyer eines Unternehmens. Dort wirken die Klimabänder als fröhlicher Klimabotschafter bis zur Bundestagswahl.</li>
            <li>Du kannst sie zur nächsten Sammelstelle bringen, damit sie von dort mit nach Berlin genommen werden.</li>
            <li>Du kannst die Bänder natürlich auch selber nach Berlin fahren im August. Mehr Infos zur Radtour bekommst du <a href="/mitmachen/klimaneutral-nach-berlin">hier</a>.</li>
            <li>Falls keine Sammelstelle in deiner Nähe ist, kannst du die Klimabänder alle in einen Karton packen und an folgende Adresse schicken. Von dort kommen deine Klimabänder dann mit nach Berlin.<br>
                    Adresse: Leben im Einklang mit der Natur e.V., Henricistr. 7, 04177 Leipzig </li>
        </ul>

        <h3 class="title">Anzahl der gesammelten Bänder angeben</h3>
        <p class="block">
            Bitte gib im Login-Bereich nach dem Abschluss der Veranstaltung die ungefähre Anzahl der gesammelten Bänder ein.
            Nur so haben wir einen Überblick, wie viele Bänder wir auf der Fahrradtour ungefähr transportieren müssen. Außerdem
            wird die Gesamtanzahl der Bänder auf der Startseite angezeigt.
        </p>

        <h3 class="title">Fotos hochladen</h3>
        <p class="block">
            Im Login-Bereich hast du die Möglichkeit, Fotos deiner Veranstaltung hochzuladen. Du kannst jeweils noch Kategorie und Beschreibung
            angeben. Die Fotos werden auf der Detailseite der Veranstaltung angezeigt und können auch in Fotogalerien an anderen Stellen auf der Website
            erscheinen.
        </p>

        <h2 class="title">Häufige Fragen zur Veranstaltung</h2>
        <kb-event-faq></kb-event-faq>
    </section>

</main>

}