@()(implicit request: KWRequest[_])

@main("Klimabänder - Kontakt", index=true, description=Some("Hier kannst du das Klimabänder-Team kontaktieren und findest Telegram-Kanäle für die Vernetzung")) {
}{
@header()
@headerBackground("Kontakt")

<main class="main-content">

    <section class="container is-max-desktop">
        <h2 class="title">E-Mail-Adressen</h2>

        <p class="block">Du erreichst uns unter <a href="mailto:info@@klimabaender.de">info@@klimabaender.de</a>.</p>

        <p class="block">
            Damit möglichst viele Klimabänder gesammelt und nach Berlin geradelt werden können, versuchen wir unsere Webseite stetig für euch zu verbessern.
            Falls ihr also Anregungen, Ideen oder Schwierigkeiten habt, meldet euch unter <a href="mailto:feedback@@klimabaender.de">feedback@@klimabaender.de</a>.
        </p>

        <h2 class="title">Telegram-Kanäle</h2>
        <p class="block">
            Damit du dich mit anderen Sammelstellen und Veranstaltungen in Verbindung setzen kannst, haben wir für euch als Gemeinschaft zwei
            Telegram-Kanäle eingerichtet.
        </p>
        <p class="block">
            Dort könnt ihr Erfahrungen austauschen, tolle Aktionen feiern und immer auf dem neuesten Stand bleiben.
            Stelle Fragen, gib Feedback und verbinde dich mit anderen!
        </p>
        <p>
            Schau vorbei und mach die Klimabänder zu deinem ganz eigenen Projekt:
            <ul class="bullet-list">
                <li><a href="https://t.me/joinchat/UKiuo3S_yZphY2Zi" target="_blank" rel="noopener">Infokanal Klimabänder</a></li>
                <li><a href="https://t.me/joinchat/IV4jc4CAgTVjYjQy" target="_blank" rel="noopener">Diskussionskanal Klimabänder</a><br />
                    (Tipp: In diesem Kanal werden automatisch auch alle Beiträge des Infokanals gepostet)</li>
            </ul>
        </p>
    </section>



</main>
}