@()(implicit request: KWRequest[_])

@main("Klimabänder - Spenden", index=true, description=Some("Du findest die Klimabänder Aktion gut und möchtest uns mit einer Spende unterstützen? Hier findest du alle Angaben, die du benötigst.")) {
}{
@header()
@headerBackground("Spenden", backgroundImage = Some("images/photos/klimabaender_omasforfuture_baenderambaum_ersatzbild.jpg"))


<main class="main-content">

    <section class="container is-max-desktop">
        <h2 class="title">Eine große Aktion braucht viel Unterstützung</h2>
        <p class="block">
            Die Klimabänder sind Botschafter des Klimas, verbinden Menschen und bringen das Thema Klima auf die Straße.
            Damit sich möglichst viele Menschen beteiligen können, ihre Aktionen sichtbar werden und viele Klimabänder in ganz Deutschland zu sehen sind,
            benötigen wir Spenden.
        </p>
        <p class="block">
            Mit deiner Spende können wir noch mehr Menschen miteinander in Verbindung bringen, mehr Info- und Werbematerial und Klimabänder zur
            Verfügung stellen und das Festival der Zukunft in Berlin zu einer riesen Veranstaltung wachsen lassen.
        </p>

        <p class="block">
            Wir freuen uns über deine Unterstützung:
        </p>
    </section>

    <section class="container is-max-desktop">
    
        @imageWithText(Image.cdnStatic("images/spenden/spenden-bild.jpg?width=500", 500, 500, "Klimabänder-Utensilien")) {
            <h3 class="title">Paypal</h3>
            <p class="block">
                Per PayPal kannst du uns am einfachsten unterstützen. Die Spende geht an den Verein der Omas for Future,
                <i>Leben im Einklang mit der Natur e. V.</i>
            </p>
            <a class="button-blue" href="https://www.paypal.com/donate/?hosted_button_id=L3P4VKYZWS58C" target="_blank" rel="noopener">Über Paypal spenden</a>
        }
    </section>

    <section class="container is-max-desktop">
    
        @imageWithText(Image.create("icons/newsletter-icon.svg", 120, 108, "Brief-Icon"), reverseColumn=true) {
            <h3 class="title">Überweisung</h3>
            <p class="block">
                Selbstverständlich kannst Du auch direkt von Deinem Konto überweisen. Nutze dazu folgende Bankverbindung:
            </p>
            <p class="block">
                Leben im Einklang mit der Natur e. V.<br>
                IBAN: DE 1683 0944 9500 0342 2070<br>
                BIC: GENO DE F1ETK<br>
                EthikBank e.G.<br>
                Verwendungszweck: Spende / Dein Name
            </p>
            
        }
    </section>

    <section class="container is-max-desktop">
        <h2 class="title">Spendenquittung</h2>
        <p class="block">
            Vielen Dank für Deine Spende! Eine Spendenquittung kannst Du über die Seite unseres Vereins <i>Leben im Einklang mit der Natur e. V.</i> anfordern:
        </p>   
        <a class="button-blue" href="https://lebenimeinklangmitdernatur.de/#Spenden" target="_blank" rel="noopener">Spendenquittung anfordern</a>
    </section>

}
