@()(implicit request: KWRequest[_])

@main("Klimabänder - Downloads und Werbematerial", index=true, description=Some("Hier findest du Downloads wie Flyer, Plakate und Werbematerial rund um die Klimabänder mit den Klimawünschen. Mach jetzt auf die Aktion aufmerksam!")) {
}{
@header()
@headerBackground("Downloads")

<main class="main-content">

    <section class="container is-max-desktop">
        <p class="block">
            Hier findest du <strong>Flyer</strong> und <strong>Poster</strong>, die du für deine Sammelstelle oder Veranstaltung selbst ausdrucken kannst.
            Wir schicken dir auch gerne gedruckte Poster und Flyer zu. Gib dafür bei der Anmeldung deiner Aktion einfach eine Adresse an.
        </p>

        <p class="block">
            Für Websites, Social Media und Presse gibt es hier außerdem <strong>Grafiken</strong> und <strong>Fotos</strong> zum Herunterladen.
        </p>

        <p class="block mb-6"><strong>Pressemitteilungen</strong> findest du unter <a href="/presse">Presse</a>.</p>

        @imageWithText(Image.FestivalDerZukunft) {
            <h3 class="title">Fotos vom Festival der Zukunft und der Fahrraddemo</h3>

            Auf den Seiten des Festivals der Zukunft und der Fahrraddemo gibt es Bildergalerien mit Download-Links für die
            Fotos in Originalgröße. Diese können gerne genutzt werden.

            <ul class="bullet-list">
                <li><a href="/festival-der-zukunft">Festival der Zukunft</a></li>
                <li><a href="/fahrraddemo-berlin">Fahrraddemo in Berlin</a></li>
            </ul>
        }
        @imageWithText(Image.FlyerPreview) {
            <h3 class="title">Flyer</h3>
            <div class="block">
                Der Flyer mit Infos zur Klimabänder-Aktion zum selber Drucken:
                <ul class="bullet-list">
                    <li><a href='@cdnStaticUrl("downloads/flyer/klimabaender-flyer-2021-08-07.pdf")'>Flyer im PDF-Format</a></li>
                </ul>
            </div>
        }
        @imageWithText(Image.cdnStatic("downloads/poster/erklaerposter-vorschau-a3-quadratisch.jpg", 425, 600, "Erklärposter Vorschaubild"), reverseColumn=true) {
            <h3 class="title">Poster</h3>
            <div class="block">
                Poster zum selber Drucken:
                <ul class="bullet-list">
                    <li><a href='@cdnStaticUrl("downloads/poster/KB_Erklaerposter_A3_0621_Druck_ZW.pdf")'>Erklärposter im Format A3 für die Sammelstellen (PDF)</a></li>
                </ul>
            </div>
        }
        @imageWithText(Image.cdnStatic("downloads/dokumente/radtour-sharepic-vorlage.jpg", 1080, 1080, "Sharepic Radtour Vorlage", Some(500)), reverseColumn=false) {
        <h3 class="title">Sharepics für die Radtour</h3>
        <div class="block">
            Wir haben Vorlagen für Sharepics erstellt, die ihr in Social-Media-Kanälen posten könnt.
            Wie ihr die Vorlagen anpassen könnt, steht in dem Dokument:
            <ul class="bullet-list">
                <li><a href='@cdnStaticUrl("downloads/dokumente/radtour-socialmedia-vorlagen.docx")'>Radtour-Sharepic-Vorlagen für Social Media (DOCX)</a></li>
            </ul>
        </div>
        }
        @imageWithText(Image.create("downloads/klimabaender-zusammenfassung-screenshot.jpg", 500, 500, "Zusammenfassungs-PDF Vorschaubild"), reverseColumn=true) {
            <h3 class="title">Auf einer Seite zusammengefasst</h3>
            <div>
                Dieses PDF kannst du zum Beispiel nutzen, um es an eine E-mail anzuhängen, wenn du das Projekt jemandem vorstellen möchtest.
                Alternativ kannst du für eine Kurzzusammenfassung auch auf die Seite <a href="/zusammengefasst">Zusammengefasst</a> verweisen.
            </div>

            <ul class="bullet-list">
                <li>
                    <a href='@routes.Assets.versioned("documents/klimabaender-zusammenfassung.pdf")'>PDF mit einer Kurzzusammenfassung der Aktion</a>
                </li>
            </ul>
        }
        @imageWithText(Image.create("downloads/unterrichtsentwuerfe.jpg", 500, 500, "Klimabänder im Unterricht"), reverseColumn=false) {
            <h3 class="title">Unterrichtsentwürfe</h3>
            <div>
                Klimabänder können sehr gut als Thema im Unterricht eingesetzt werden. Zwei Lehrer haben uns ihre Unterrichtsentwürfe für verschiedene
                Jahrgänge zur Verfügung gestellt:
            </div>

            <ul class="bullet-list">
                <li>
                    <a href='@routes.Assets.versioned("documents/Klimabaender-Unterrichtsentwurf-Klasse-5-6.pdf")'>Unterrichtsentwurf für die 5. und 6. Klasse (Realschule)</a>
                </li>
                <li>
                    <a href='@routes.Assets.versioned("documents/Klimabaender-Unterrichtsentwurf-Klasse-7-9.pdf")'>Unterrichtsentwurf für die Klassen 7-9 (Politik/Erdkunde)</a>
                </li>
            </ul>
        }
        @imageWithText(Image.create("downloads/Logo-Klimabaender-2c-short.svg", 100, 100, "Logo Klimabänder"), reverseColumn=true) {
            <h3 class="title">Logo</h3>
            <div class="block">
                Hier kannst du das Logo in verschiedenen Formaten herunterladen:
                <ul class="bullet-list">
                    <li>Logo (normal): <a href="assets/images/downloads/Logo-Klimabaender-2c.png">PNG</a> | <a href="assets/images/downloads/Logo-Klimabaender-2c.svg">SVG</a></li>
                    <li>Logo (Hochformat): <a href="assets/images/downloads/Logo-Klimabaender-2c-stacked.png">PNG</a> | <a href="assets/images/downloads/Logo-Klimabaender-2c-stacked.svg">SVG</a></li>
                    <li>Logo (nur Fahrrad): <a href="assets/images/downloads/Logo-Klimabaender-2c-short.png">PNG</a> | <a href="assets/images/downloads/Logo-Klimabaender-2c-short.svg">SVG</a></li>
                </ul>
            </div>
        }

        <div>
            <h3 class="title">Fotos</h3>
            <p class="block">
                Die folgenden Fotos kannst du gerne für Artikel, Blogposts, Flyer oder ähnliches im Zusammenhang 
                mit den Klimabändern verwenden: 
            </p>
            <div class="images-for-download">
                @Image.ImagesForDownload.map { image =>
                    <div style="max-width:@{image.widthHeightRatio * 280}px">
                        <a href="@image.downloadUrl.get">@imageTag(image)</a> 
                        <div>@image.alt</div>
                        <div><a href="@image.downloadUrl.get">Foto in voller Auflösung (@image.width x @image.height)</a></div>
                    </div>
                }
            </div>
        </div>

        <div>
            <h3 class="title">Social-Media Posts</h3>
            <p class="block">
                Die folgenden Grafiken kannst du auf Social-Media-Plattformen wie Instagram, Facebook oder Twitter posten, wenn du die
                Aktion unterstützen möchtest. Nutze dabei die Hashtags <strong>#Klimaband</strong> oder <strong>#Klimabänder</strong>.
            </p>
            <h4 class="title">Quadratische Grafiken</h4>
            <div class="images-for-download">
                @Image.SocialMediaPostImages.map { image =>
                <div style="max-width:@{image.widthHeightRatio * 250}px">
                    <a href="@image.downloadUrl.get">@imageTag(image)</a>
                    <div>@image.alt</div>
                    <div><a href="@image.downloadUrl.get">Grafik in voller Auflösung</a></div>
                </div>
                }
            </div>
            <h4 class="title">Grafiken im Hochformat</h4>
            <div class="images-for-download big">
                @Image.SocialMediaStoryImages.map { image =>
                <div style="max-width:@{image.widthHeightRatio * 300}px">
                    <a href="@image.downloadUrl.get">@imageTag(image)</a>
                    <div>@image.alt</div>
                    <div><a href="@image.downloadUrl.get">Grafik in voller Auflösung</a></div>
                </div>
                }
            </div>
        </div>
    </section>

</main>

}
