@()(implicit request: KWRequest[_])

@main("Klimabänder-Fahrraddemo in Berlin", index=true, description=Some("Am 11. September 2021 ab 10 Uhr werden die Klimabänder aus ganz Deutschland das letzte Stück vom Olympischen Platz zum Washingtonplatz geradelt")) {
@includeJsAndCss("bikeDemoBerlin")
@includeJsAndCss("AsyncImageGallery")
}{
@header()
@headerBackground("Fahrraddemo in Berlin", backgroundImage = Some("images/photos/klimabaender_omasforfuture_mitradeln.jpg"), pagesBetween = Seq(Page.Mitmachen))

<main class="main-content">

    <section class="container is-max-desktop">

        <h3 class="title">Große Klimabänder-Fahrraddemo in Berlin</h3>

        @imageWithText(Image.Fahrraddemo2, reverseColumn=true) {
            <div class="block">
                <div class="is-size-4 header-font"><span class="text-orange">Datum:</span> Samstag, 11. September 2021</div>
                <div class="is-size-4 header-font"><span class="text-orange">Start:</span> 10 Uhr am Olympischen Platz, 14053 Berlin</div>
                <div class="is-size-4 header-font"><span class="text-orange">Ziel:</span> Washingtonplatz, 10557 Berlin</div>
            </div>
            <div class="block">
                Die Klimabänder aus ganz Deutschland sind über verschiedene <a href="/mitmachen/klimaneutral-nach-berlin">Radtouren</a> am 10. September in Berlin eingetroffen.
                Mit der Fahrraddemo wurden die Bänder die letzten Kilometer zum abschließenden <a href="/festival-der-zukunft">Festival der Zukunft</a> gebracht.
            </div>
            <div class="block">
                Für euch mit dabei waren: <a href="https://www.instagram.com/p/CQa6R7htOCc/" target="_blank" rel="noopener">Las Maleantes</a> (Fahrradbühne mit DJ) und
                <a href="https://atiptap.org" target="_blank" rel="noopener">Wasserkiez Neukölln a tip:tap e.V.</a> (Leitungswasser aus dem Lastenrad)
            </div>
        }

        @imageWithText(Image.Fahrraddemo, reverseColumn=false) {
            <div class="block">
                Quer durch Berlin fuhren ca. 150 Fahrräder mit bunten Klimabändern, lauten Klingeln und Musik.
                Vorbei an der Siegessäule bis zum Washingtonplatz zum <a href="/festival-der-zukunft">Festival der Zukunft</a>.
            </div>
        }

        <div class="mb-6 mt-6">
            <a name="fotos"></a>
            <h3 class="title">Fotos der Fahrraddemo</h3>
            <kb-async-image-gallery fetch-url="/images-for-climate-action/611bb5842b46560b61d27f4e?page=PAGE"></kb-async-image-gallery>
        </div>

        <div class="block">
            <h3 class="title">Hier siehst du die genaue Route:</h3>
        </div>

        <kb-bike-demo-map></kb-bike-demo-map>
    </section>

</main>


}

