@()(implicit request: KWRequest[_])

@main("Klimabänder - FAQ", index=true, description=Some("Hier findest du häufig gestellte Fragen (FAQ) rund um Klimabänder, Sammelstellen, Radtouren und das Festival der Zukunft in Berlin.")) {
  @includeJsAndCss("faq")
}{
@header()
@headerBackground("Häufige Fragen", backgroundImage = Some("images/photos/klimabaender_omasforfuture_faq2.jpg"))

<main class="main-content">
  <section class="container is-max-desktop">
    <kb-faq></kb-faq>
  </section>

</main>

}
