@import de.klimawuensche.info.Festival
@()(implicit request: KWRequest[_])

@main("Festival der Zukunft in Berlin", index=true, description=Some("Am 11. und 12. September 2021 ab 13 Uhr findet auf dem Washingtonplatz in Berlin das Finale der Klimabänder-Aktion statt. Es gibt Workshops, Vorträge, Ausstellungen, Musik und die Klimabänder aus ganz Deutschland.")) {
@includeCss("festivalDerZukunft_css")
@includeJsAndCss("AsyncImageGallery")
}{
@header()
@headerBackground("Festival der Zukunft", backgroundImage = Some("images/photos/video-screenshot.jpg"), pagesBetween = Seq(Page.Mitmachen))

<main class="main-content">

    <section class="container is-max-desktop">

        <h2 class="title">Festival der Zukunft in Berlin</h2>

        <p>
        Das Festival der Zukunft war der Höhepunkt der Klimabänder-Aktion. Es hat uns die Welt gezeigt, die möglich ist, wenn die Politik jetzt handelt.
        Umgeben von zig-tausenden Klimabändern wurde die Welt von Morgen erlebbar und spürbar gemacht.
        </p>

        @imageWithText(Image.FestivalDerZukunft, reverseColumn=true) {
        <div class="block">
            <div class="is-size-4 header-font"><span class="text-orange">Start:</span> Samstag, 11. September 2021 um 13 Uhr</div>
            <div class="is-size-4 header-font"><span class="text-orange">Ende:</span> Sonntag, 12. September gegen 22 Uhr</div>
            <div class="is-size-4 header-font"><span class="text-orange">Ort:</span> Washingtonplatz, 10557 Berlin</div>
        </div>
        <div class="block">
            Mit Workshops, Vorträgen, Ausstellungen, Musik und den Klimabändern aus ganz Deutschland.

            <ul class="bullet-list">
                <li><a href="#bericht">So war das Festival</a></li>
                <li><a href="#fotos">Fotos</a></li>
                <li><a href="#karte">Übersichtskarte</a></li>
                <li><a href="#ausstellung">Ausstellung</a></li>
                <li><a href="#programm">Programm</a></li>
                <li><a href="#danach">Nach dem Festival</a></li>
            </ul>
        </div>
        }
    </section>

    <a name="bericht"></a>
    <section class="container is-max-desktop">
        <h3 class="title">Großes Finale der Klimabänder in Berlin</h3>
        <h4 class="title">Was für ein Finale der Aktion Klimabänder!</h4>
        <div class="block">
            Die Klimabänder fanden am 11./12. September ihr vorerst großes Finale in Berlin. Die Aktion war ein voller Erfolg.
        </div>
        <div class="block">
            Das große Finale begann mit unserer Klimabänder-Fahrraddemo. Quer durch Berlin fuhren ca. 150 Fahrräder mit bunten Klimabändern,
            lauten Klingeln und Musik. Vorbei an der Siegessäule bis zum Washingtonplatz zum Festival der Zukunft.
            Eine absolut atemberaubende Energie. In unserem Klima-Flashmob wurde der graue und triste Washingtonplatz mehr und mehr zu
            einem bunten Hoffnungsträger der Zukunft und der Erde. Zukunftsbilder wurden gezeigt und die Energie der Fahrraddemo wurde durch
            Trommelmusik, bunte Bänder und viele tanzende Menschen auf dem Washingtonplatz verankert.
            Alle bundesweit gesammelten Klimabänder wurden auf dem Festival der Zukunft sichtbar gemacht - durch vier große Türme wurde der
            Platz eingerahmt von den Wünschen und Forderungen unserer Gesellschaft an die Politik.<br />
            Mehrere Zehntausende Klimabänder fanden so Einzug und hinterließen mitten in Berlin einen bunten Fußabdruck.<br />
            Unter dem Motto „Wenn wir es wollen, ist unsere Zukunft bunt!“ führten Infotalks, Workshops, Infostände und Live-Musik
            die Teilnehmer:innen und Zuschauer:innen durch das Programm und das Wochenende.<br />
            Beiträge von Lucy van Org, Transformation Haus und Feld und Patagonia schafften es jung und alt zusammenzubringen und sich gemeinsam für
            unsere Zukunft und unsere Natur zu engagieren!
        </div>
        <div class="block">
            An dieser Stelle möchten wir allen Beteiligten danken, die es ermöglicht haben, dass die bunte Welle der Klimabänder und die positive Energie in Berlin sichtbar wird!
            <strong>WIR DANKEN JEDEM UND JEDER EINZELNEN UNTER EUCH VON HERZEN FÜR‘S MITMACHEN!<br />
                DANKE DANKE DANKE!</strong>
        </div>
        <div class="block">
            Wie Aktion Klimabänder wird weitergehen. Durch viel positives Feedback und bereits neue Ideen
            werden die bunten Klimabotschafter weitergetragen werden und die Stimmen all derer werden gezeigt, die sich für unsere Erde und
            für unsere Zukunft einsetzen. Aktuell werden die Klimabänder noch für den <a href="https://www.klimabaender.de/aktionen-vor-ort/614883ecb0714c3d5932c756">Globalen Klimastreik am 24.09.</a>
            eingesetzt, bevor dann neue Ideen geschmiedet werden.
        </div>
        <div class="block">
            Sei gerne <a href="https://www.klimabaender.de/aktionen-vor-ort/614883ecb0714c3d5932c756">in Berlin am 24.09.</a> dabei, wenn die bunten Klimabänder
            erneut durch Berlin ziehen!
        </div>
        <div class="block">
            Wenn ihr erfahren möchtet, wie die Klimabänder-Aktion und künftige Omas for Future Aktionen weitergehen werden, dann tragt euch bitte in
            unseren <a href="/#newsletter">Newsletter-Verteiler</a> ein. Ihr erhaltet auf diesem Weg in mehrwöchigen Abständen unsere zentralen Updates.
        </div>

        <div class="block">
            Wenn wir es wollen, ist unsere Zukunft bunt!
            Danke an Alle.
        </div>
        <div class="block">
            Euer Klimabänder-Team
        </div>

        <div class="mb-6 mt-6">
            <a name="fotos"></a>
            <h3 class="title">Fotos des Festivals</h3>
            <kb-async-image-gallery fetch-url="/images-for-climate-action/611bb6b62b46560b61d27f4f?page=PAGE"></kb-async-image-gallery>
        </div>

    </section>

    <a name="karte"></a>
    <section class="container is-max-desktop">
        <h3 class="title">Übersichtskarte</h3>

        @imageTag(Image.FestivalKarte)
    </section>

    <a name="ausstellung"></a>
    <section class="container is-max-desktop">
        <h3 class="title">Ausstellung</h3>
        <ul class="bullet-list">
            <li><strong><a href="https://www.omasforfuture.de/" target="_blank" rel="noopener">Omas for Future</a></strong>: Infostand und Umweltquiz (Sonntag 13-15 Uhr)</li>
            <li><strong><a href="https://omasgegenrechts.berlin/" target="_blank" rel="noopener">OMAS GEGEN RECHTS</a></strong>: Infostand und um 15 Uhr Mitsingaktion "OMA Marnis Klimalieder"</li>
            <li><strong><a href="https://transformation-haus-feld.de/" target="_blank" rel="noopener">Transformation Haus und Feld</a></strong>: Transformation für alle</li>
            <li><strong><a href="https://klimaneustart.berlin" target="_blank" rel="noopener">Klimaneustart Berlin</a></strong>: Volksbegehren "Berlin2030 klimaneutral" + Unterschriftensammlung</li>
            <li><strong><a href="https://www.plantage.farm" target="_blank" rel="noopener">PlantAge eG</a></strong>: Infostand</li>
            <li><strong><a href="https://cosum.de" target="_blank" rel="noopener">Cosum</a></strong>: Zero Waste Box + Workshop (Samstag 15-17 Uhr)</li>
            <li><strong><a href="https://www.oekom-crowd.de/projekte/solutions/" target="_blank" rel="noopener">Tina Eichner</a></strong>: Fotoausstellung</li>
            <li><strong><a href="https://atiptap.org" target="_blank" rel="noopener">"Wasserkiez Neukölln" a tip: tap e.V.</a></strong>: Sa bis 19 Uhr, Leitungswasser Ausschank, Spenden sammeln</li>
            <li><strong>Possitopia e.V.</strong>: Stand mit vergänglichen Tattoos</li>
            <li><strong><a href="http://artistania.org" target="_blank" rel="noopener">Artistania</a>: Siebdruck-Ecke</strong>: Slogans und Motive zum Klimaschutz auf alte T-Shirts und recyclete Pappe und co. drucken:<br />
                Bringt T-Shirts, Taschen, Pappe oder anderes mit und bedruckt es mit einem tollen Motiv oder Spruch.
            </li>
            <li><strong><a href="https://www.buerger-energie-berlin.de" target="_blank" rel="noopener">BürgerEnergie Berlin e.G.</a></strong>: Infostand</li>
        </ul>
    </section>

    <a name="programm"></a>
    <section class="container is-max-desktop">
        <h3 class="title">Programm</h3>

        <div class="day-columns">
            @Festival.days.map { day =>
                <div class="day-column">
                    <h4 class="title day-title">@day.name</h4>
                    @day.hours.map { hour =>
                        <div class="hour">
                            <div class="time-column"><div class="time">@{hour.hour}:@{hour.minutes.getOrElse("00")}</div><div class="day">@{day.shortName}</div></div>
                            <div>
                                @hour.locationEvents.map { location =>
                                    <div class="location-name">@location.location.name</div>
                                    <div class="location-content">
                                        @location.acts.map { act =>
                                            <div>@act.name</div>
                                            @act.description.map { description =>
                                                <div class="act-description">@description @act.url.map { url => - <a href="@url" target="_blank" rel="noopener">Mehr Infos</a>}</div>
                                            }
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>
            }
        </div>

    </section>

    <a name="danach"></a>
    <section class="container is-max-desktop">
        <h3 class="title">Nach dem Festival</h3>
        <p class="block">
            Nach unserem Festival feiern wir weiter, gemeinsam mit <a href="https://transformation-haus-feld.de/" target="_blank" rel="noopener">„Transformation Haus und Feld”</a>
            und den Fridays for Future geht es im Klimacamp in der Nähe des Reichstags weiter.
            Der Link zum Klimacamp wird in Kürze eingestellt.
        </p>
    </section>

</main>


}

