@()(implicit request: KWRequest[_])

@main("Klimabänder - Klimaband selbst gestalten", index=true, description=Some("WIR GEMEINSAM FÜR UNSERE ERDE: mit deinen Wünschen auf dem Klimaband. Beteilige dich an der Aktion und mach jetzt dein eigenes Klimaband.")) {
    @includeJsAndCss("createRibbonPage")   
}{
    @header()
    @headerBackground("Klimaband gestalten", backgroundImage = Some("images/photos/baender-header.jpg"),
        pagesBetween = Seq(Page.Mitmachen))
<main class="main-content">
    <section class="container is-max-desktop">
        <h2 class="title">Was ist eigentlich ein Klimaband?</h2>
        <p class="block">
            Ein Klimaband ist  ein ca. 2-4 cm breites und ca. 80 - 100 cm langes Stoffband. 
            Sehr gut eignen sich Stoffreste (Uni-Tischdecken, Bettlaken, Gardinen, Futterstoffe). 
            Du hast keine Stoffreste? Dann suche unter <a href="/aktionen-vor-ort">Aktionen vor Ort</a> die nächste Sammelstelle, 
            dort stehen in der Regel Bänder zum Beschriften zur Verfügung.
        </p>
        <p class="block">
            Auf das Band wird wasserfest – sehr gut geht Kuli oder wasserfester dünnerer Filzstift - 
            der eigene Klimawunsch, eine Klimabotschaft geschrieben. Dieser Wunsch kann eine Forderung an die Politik sein – ein 
            Plädoyer für unsere Erde, eine Bitte an die Mitmenschen. Das – was Dir wichtig ist. 
            Du kannst auch zwei oder mehr Klimabänder beschriften. Jedes Klimaband wird öffentlich sichtbar aufgehangen. 
            So wird es zum Klimabotschafter und erinnert uns, wie wichtig es ist, bei allen Entscheidungen stets das Wohl 
            unserer Erde, die unsere Lebensgrundlage ist, zu beachten. 
        </p>
        <p class="block">Du kannst dein Klimaband selber machen oder bei einer Sammelstelle in deiner Nähe beschriften.</p>
    </section>

    <section class="wide-container bg-color-grey">
        <section class="container is-max-desktop">
            <h2 class="title">Klimaband selber machen</h2>
            <div class="twoColumnsContainer strech">
                <div class="firstColumn bg-white">
                    <h3 class="title">So gehts</h3>
                    <p class="block">
                        <strong>Was du brauchst:</strong><br>
                        Stoffreste<br>
                        Schere<br>
                        wasserfester Stift<br>
                        </ul>
                    </p>
                    <p class="block">
                        Zerschneide den Stoff in 2-4cm breite Streifen und schreib mit wasserfestem Stift deinen Klimawunsch darauf.
                    </p>
                </div>
                <div class="secondColumn">
                    <img src="/assets/images/how-to/klimaband-gestalten_was-du-brauchst.jpg">
                    
                </div>
            </div>
            <div class="threeColumnsContainer">
                <div class="firstColumn">
                    <img src="/assets/images/how-to/klimaband-gestalten_step1.jpg">
                </div>
                <div class="secondColumn">
                    <img src="/assets/images/how-to/klimaband-gestalten_step2.jpg">
                </div>
                <div class="thirdColumn">
                    <img src="/assets/images/how-to/klimaband-gestalten_step3.jpg">
                </div>
            </div>

            <div class="twoColumnsContainer">
                <div class="firstColumn">
                    <img src="/assets/images/how-to/klimaband-gestalten_und-dann.jpg">
                </div>
                <div class="secondColumn bg-white">
                    <p class="block">
                        Gib dein Klimaband bei einer <a href="/aktionen-vor-ort">Sammelstelle oder einer Veranstaltung in deiner Nähe</a> ab, damit deine Botschaft nach Berlin geradelt wird.
                    </p>
                    <p class="block">
                        Du kannst dein Klimaband aber auch bei dir behalten – am Fahrrad, am Rucksack, am Baum im Vorgarten. So schafft das Klimaband Gemeinschaft. Stell dir vor, jemand radelt dir entgegen, und hat auch ein Klimaband am Rad: Sofort werdet ihr zu Verbündeten. Notiere am besten auf dem Klimaband die Webseite www.klimabänder.de, damit andere nachschauen können, was es damit auf sich hat.
                    </p>
                    <p class="block">
                        Lade ein Bild deines Klimabands hier auf der Website hoch. <a href="/login">Registriere</a> dich einfach und klicke dann im Login-Bereich
                        auf "Fotos hochladen/verwalten".<br>
                        Alle eingereichten Bilder werden genau wie die physischen Klimabänder Teil beim Finale in Berlin!
                    </p>
                    <p class="block">
                        Teile ein Bild deines Klimabandes auf Instagram mit dem Hashtag <a href="https://www.instagram.com/explore/tags/klimab%C3%A4nder/" target="_blank" rel="noopener">#klimabänder</a>.
                    </p>
                </div>
            </div>
        </section>
    
    </section>


    <section class="container is-max-desktop">
    
        <h2 class="title">Inspiration für dein Klimaband</h2>

        <kb-ribbon-image-gallery></kb-ribbon-image-gallery>

    </section>

    <section class="container is-max-desktop">
    
        <h2 class="title">Häufige Fragen zum Klimaband</h2>

        <kb-ribbon-faq></kb-ribbon-faq>

    </section>


}