@()(implicit req: KWRequest[_])
@main("Impressum", index = true) {
}{

@header()
@headerBackground("Impressum")

<div class="container is-max-desktop">
    <h1 class="title">Impressum</h1>
    <h2 class="title">Adresse:</h2>

    <div class="block">
        Leben im Einklang mit der Natur e. V.<br>
        Henricistr. 7<br>
        04177 Leipzig
    </div>
    <div class="block">
        Vertreten durch:<br>
        Cordula Weimann (Vorsitzende)
    </div>

    <h2 class="title">Kontakt:</h2>
    <div class="block">
        Telefon: +49 (0) 163 3654168<br>
        E-Mail: <a href="mailto:info@@klimabaender.de">info@@klimabaender.de</a>
    </div>

    <h2 class="title">Registrierung:</h2>
    <div class="block">
        Registergericht: Amtsgericht Leipzig<br>
        Registernummer: VR 6819<br>
        Steuernummer: 232/140/19116 Finanzamt Leipzig 1
    </div>

    <h2 class="title">Streitschlichtung:</h2>
    <div class="block">
        Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit:
        <a href="https://ec.europa.eu/consumers/odr" target="_blank" rel="noopener">https://ec.europa.eu/consumers/odr</a><br>
        Unsere E-Mail-Adresse finden Sie oben im Impressum.<br>
        Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.
    </div>
</div>


}