@()(implicit request: KWRequest[_])

@main("Liebesbrücken-Aktion der Klimabänder", index=true, description=Some("Wir machen deutschlandweit Liebesbrücken mit Schlössern zu Klimabänder-Brücken am 06.08. von 15.30 – 18.00 Uhr.")) {
@includeJsAndCss("LoveBridgesMapWithList")
@includeJsAndCss("AsyncImageGallery")
}{
@header()
@headerBackground("Liebesbrücken-Aktion", backgroundImage = Some("images/photos/klimabaender_omasforfuture_aktionenvorort.jpg"), pagesBetween = Seq(Page.AktionenVorOrt))

<main class="main-content">

    <section class="container is-max-desktop">

        @imageWithText(Image.Liebesbruecke, reverseColumn=false) {
            <p class="block">
                Jede Stadt hat sie – eine Brücke mit kleinen Schlössern, auf der verliebte Paare den Schlüssel ins Wasser werfen und sich damit ewige Liebe versprechen.
            </p>

            <div class="block">
                <h3 class="title">Wir haben diese Liebesbrücken zu Klimabänder-Brücken gemacht!</h3>
            </div>
            <p class="block">
                Motto: Gemeinsam für unsere Erde! Aus Liebe.️
            </p>
            <p class="block">
                Die Aktion fand statt am <strong>6. August 2021 von 15.30 – 18.00 Uhr</strong>.
            </p>
        }

        <div class="mb-6 mt-6">
            <h3 class="title">Fotos der Aktionen</h3>
            <kb-async-image-gallery fetch-url="/liebesbruecken-bilder?page=PAGE"></kb-async-image-gallery>
        </div>

        <div class="block">
            <h3 class="title">Die Liebesbrücken-Aktion in der Presse</h3>

            @pressTable(de.klimawuensche.info.PressArticle.liebesbruecken)
        </div>

        <p class="block">
            <h3 class="title">Hier fanden Liebesbrücken-Aktionen statt:</h3>
        </p>

        <kb-love-bridges-map-with-list></kb-love-bridges-map-with-list>
    </section>

</main>


}

