@()(implicit request: KWRequest[_])

@main("Klimabänder - Klimaneutral nach Berlin", index=true, description=Some("Ab August radeln wir die Klimabänder mit den Klimawünschen CO2-neutral nach Berlin zur Bundestagswahl. Radel mit und beteilige dich.")) {
    @includeJsAndCss("cyclingTourPage")
}{
@header()
@headerBackground("Klimaneutral nach Berlin", backgroundImage = Some("images/photos/klimabaender_omasforfuture_mitradeln.jpg"),
    pagesBetween = Seq(Page.Mitmachen))

<main class="main-content">

    <section class="container is-max-desktop">
        <h2 class="title">Alle Infos rund um die Fahrrad-Touren</h2>
        <p class="block">
            Ab Mitte August radeln wir in zig Einzeletappen aus ganz Deutschland die Klimabänder nach Berlin. Zig-tausende können (coronatauglich) mitradeln – auch kleine Strecken von nur wenigen Kilometern.
        </p>
        <p class="block">
            Ein wachsender sich ständig neu bildender Strom, der sich Richtung Berlin bewegt – Tag für Tag – mit einer Mission:
            Wir bringen die Botschaften der Bevölkerung zu den Politiker:innen nach Berlin - aus allen Richtungen Deutschlands.
            Medienwirksam mit bunten, wehenden Bändern an den Rädern: Jung und Alt, Menschen aller Nationen, gemeinsam für unsere Erde.
            Ziel ist es, dass spätestens am 10.9. viele, viele Radfahrer:innen aus vielen Teilen Deutschlands vor den Toren von Berlin eintreffen
            und wir am 11.9. vormittags gemeinsam mit einer abschließenden <a href="/fahrraddemo-berlin">Fahrraddemo</a> vom Olympischen Platz zum Washingtonplatz fahren.
        </p>  
    </section>

    <section class="wide-container bg-color-grey">
        <section class="container is-max-desktop">
            <div class="twoColumnsContainer strech">
                <div class="firstColumn bg-white">
                    @imageTag(Image.BikeTour)
                    <h3 class="title">6 Hauptströme</h3>
                    <p class="block">
                        Wir radeln über die Sammelstellen in 6 Hauptströmen nach Berlin. Jede:r kann dazustoßen. 
                    </p>
                    <p class="block">
                        Alle Fahrradtouren sind auf der <a href="/fahrradtouren">Aktionskarte</a> eingezeichnet.
                    </p>
                    <p class="block">
                        Hier kannst du alternativ den Verlauf der einzelnen Hauptströme auch in Textform sehen:
                        <kb-main-bike-routes-list></kb-main-bike-routes-list>
                    </p>
                </p>
                </div>
                <div class="secondColumn bg-white">
                    @imageTag(Image.FahrradDemoBerlin)
                    <h3 class="title">Fahrraddemo in Berlin</h3>
                    <p class="block">
                        <strong>Am 11. September um 10 Uhr</strong> startet die letzte Etappe der
                        Radtour als große Fahrraddemo am Olympischen Platz in Berlin.
                    </p>
                    <p>
                        <a href="/fahrraddemo-berlin" class="button-blue">Mehr Infos zur Fahrraddemo</a>
                    </p>
                </div>
            </div>

            
        </section>
    
    </section>

    <section class="container is-max-desktop">
        <h3 class="title">Radtour planen und bewerben</h3>

        <p class="block">
            Bitte überlegt, wo ihr zum Hauptstrom dazustoßen möchtet und vernetzt euch mit den umliegenden Sammelstellen, um
            eure eigenen Fahrradtouren und Übergabeaktionen zu planen.
            Tragt den Start eurer Radtouren und die Übergabeorte als <strong>Veranstaltung</strong> ein. Dazu einfach rechts oben einloggen oder registrieren.
        </p>
        <p class="block">
            Bei der Veranstaltung für die Abfahrt eurer Radtour kannst du auf <strong>"Angaben zur Radtour"</strong> klicken und "Wir nehmen an der Radtour teil" auswählen.
            Wenn die Radtour auf einer Hauptroute liegt, kannst du den zugehörigen Ort auf der Hauptroute auswählen. Der genaue Ort und das Datum wird dann für die
            Hauptroute übernommen und die Veranstaltung ist dann auf der Karte Teil der Radroute. Wenn die Radtour nicht auf der Hauptroute liegt, kannst du
            den nächstgelegenen Ort auf der Hauptroute auswählen, deine Veranstaltung wird dann auf der Karte mit diesem verbunden.
        </p>

        <p class="block">
            <strong>Damaris</strong> ist die bundesweite Koordinatorin der Radtour. Kontaktiert sie gerne wenn ihr Fragen habt: <a href="mailto:damaris.knaak@@klimabaender.de">damaris.knaak@@klimabaender.de</a>.<br />
            Hilfreich ist auch die <a href="https://t.me/joinchat/IV4jc4CAgTVjYjQy" target="_blank" rel="noopener">Telegram-Diskussionsgruppe</a>.
        </p>

        <p class="block">
            Die Radtour und die Übergabe-Veranstaltungen müssen eventuell beim <strong>Ordnungsamt</strong> angemeldet werden.
            Fragt am besten bei der Stadtverwaltung nach, meist kann man sich dafür Formulare auf den Websites herunterladen. Die genauen Bestimmungen unterscheiden sich
            aber je nach Bundesland und Kommune.<br />
            Wir unterstützen euch gerne dabei - meldet euch einfach bei Salomon: <a href="mailto:salomon.derreza@@klimabaender.de">salomon.derreza@@klimabaender.de</a>
            oder  <a href="https://t.me/SalomonDe" target="_blank" rel="noopener">@@SalomonDe</a> bei Telegram.
        </p>

        <p class="block">
            Bitte informiert auch die lokale <strong>Presse</strong> über eure Radtour. Nutzt dafür gerne <a href='@routes.Assets.versioned("documents/PM_Abfahrt_und_Ankunft.docx")'>unsere Vorlage für eine Pressemitteilung</a>.
            Und postet Infos über eure Radtour in euren <strong>Social-Media-Kanälen</strong>. Dafür könnt ihr
            <a href='@cdnStaticUrl("downloads/dokumente/radtour-socialmedia-vorlagen.docx")'>unsere Vorlage für Radtour-Sharepics</a> benutzen.<br />
            Wir posten auch gerne Aufrufe für eure Touren in unseren eigenen Social-Media-Kanälen und erstellen bei Bedarf Sharepics für euch.
            Meldet euch dafür ebenfalls bei Salomon: <a href="mailto:salomon.derreza@@klimabaender.de">salomon.derreza@@klimabaender.de</a>
            oder  <a href="https://t.me/SalomonDe" target="_blank" rel="noopener">@@SalomonDe</a> bei Telegram.
        </p>

        <p class="block">
            Macht bitte <strong>Fotos</strong> der Radtour und der Aktionen und ladet sie hier auf der Website hoch. Dazu einfach oben rechts einloggen oder registrieren
            und dann auf "Fotos hochladen" klicken.
            Teilt Links zu <strong>Presseartikeln</strong> gerne in der <a href="https://t.me/joinchat/IV4jc4CAgTVjYjQy" target="_blank" rel="noopener">Telegram-Gruppe</a>.
        </p>
    </section>


    <section class="container is-max-desktop">
        <h3 class="title">Häufige Fragen zum Thema Radtour</h3>

        <kb-cycling-tour-faq></kb-cycling-tour-faq>
    </section>
</main>


}

