@()(implicit request: KWRequest[_])

@main("Klimabänder - Omas For Future", index=true, description=Some("Handeln! Aus Liebe zum Leben. Das ist das Motto der Omas for Future: der Bewegung, die hinter der Aktion steht. Wir bringen dein Klimaband nach Berlin.")) {
}{
@header()
@headerBackground("Omas For Future", backgroundImage = Some("images/photos/klimabaender_omasforfuture_ueberuns.jpg"),
    pagesBetween = Seq(Page.UeberUns))

<main class="main-content">

    <section class="container is-max-desktop">
        @imageWithTextRound(Image.LogoOmasForFuture) {
            <h2 class="title">Handeln! Aus Liebe zum Leben. </h2>
            <p class="block">
                Das ist das Motto der Omas for Future, einer Bewegung des gemeinnützigen Vereins 
                "Leben im Einklang mit der Natur e.V.". Mit der gleichen Liebe, mit der wir uns 
                für unsere Kinder eingesetzt haben, engagieren wir uns nun, um für unsere Kinder und 
                Enkelkinder die Erde als lebenswerten Ort zu erhalten.
            </p>
            <a class="button-blue" href="https://omasforfuture.de/" target="_blank">Mehr über uns und unsere Botschaft</a>
        }
    </section>

    <section class="container is-max-desktop">
        <h2 class="title">Was uns zur Aktion bewegt hat</h2>
        <p class="block">
            Wir schreiben das Wahljahr 2021 - Eines ist klar: Damit wir in 2045 klimaneutral sind, müssen in den nächsten 2-3 Jahren die entscheidenden politischen Weichen gestellt werden – anders ist das Pariser Ziel, die Erderwärmung auf 1,5 Grad zu begrenzen, nicht zu erreichen. 
        </p>
        <p class="block">
            <strong>Was wir dafür brauchen?</strong> Eine Bewegung, die den ganzen Sommer über das Thema Klima und Umwelt auf die Straße bringt - fröhlich, Mut machend und mit klarer Botschaft zugleich: Wir müssen handeln und zwar JETZT. So entstand die Idee zur Aktion Klimabänder und wir sind dankbar, dass es so viele Menschen gibt, die von Anafng an an uns und die Aktion geglaubt haben.
        </p>
    </section>

    <section class="container is-max-desktop">
        @imageWithTextRound(Image.create("photos/team_cordula-weimann.png", 500, 500, "Foto von Cordula Weimann")) {
            <p class="block">
                "Wir leben auf Kosten unserer Kinder. Für unser aktuelles Konsum- und Alltagsverhalten zahlen sie die Rechnung. Aus Liebe zu unserer Erde und zu unseren Kindern: Lasst uns Handeln! Gemeinsam! Auf politischer und privater Ebene. "
            </p>
            <p class="block">
                <strong>Cordula</strong>
            </p>
        }
        @imageWithTextRound(Image.create("photos/team_harry-lehmann.png", 500, 500, "Foto von Harry Lehmann"), reverseColumn=true) {
            <p class="block">
                "Es ist machbar! Mithilfe von Sonne, Effizienz und vernünftiger Einteilung (Factor X) eine „Große Transformation“ verwirklichen. Rettet das Anthropozän!"
            </p>
            <p class="block">
                <strong>Harry</strong>
            </p>
        }
    </section>

</main>


}

