@()(implicit request: KWRequest[_])

@main("Klimabänder - Mitmachen", index=true, description=Some("Beteilige dich an der Aktion! Mach jetzt dein eigenes Klimaband und verbreite so deine Klimabotschaft. Eröffne eine Sammelstelle oder radel mit nach Berlin.")) {
    @includeCss("participate_css")
}{
    @header()
    @headerBackground("Jetzt Mitmachen!", backgroundImage = Some("images/photos/klimabaender_omasforfuture_mitmachen3.jpg"))
<main class="main-content">
    <section class="container is-max-desktop">
        <h2 class="title">Werde Teil der Aktion</h2>
        <p class="block">
            Wir sammeln deutschlandweit Klimawünsche auf Klimabändern – von allem Menschen, denen die Zunkunft unserer Erde am Herzen liegt. 
            Ab Mitte August radeln wir die Klimabänder aus verschiedenen Richtungen klimaneutral nach Berlin, wo im September eine große Demonstration und das Festival der Zukunft stattfindet. 
        </p>
        <p class="block">
            <strong>Jede:r ist beteiligt. Jede:r ist betroffen. Jede:r kann was tun.</strong>
        </p>
    </section>

    <section class="container is-max-desktop" id="etappe1">
        @etappeHeadline("1. Mitsammeln", 1)

        <p class="block">
            Damit in ganz Deutschland die Klimawünsche sichtbar werden, brauchen wir viele Bänder und Klimawünsche: In Schulen, Vereinen, Vorgärten, an Fahrrädern, in den Straßen und auch online. Sei dabei und sammel mit – geb dein Band ab, eröffne eine Sammelstelle, teile Fotos von deinem Klimaband oder überleg dir deine ganz eigene Aktion. 
        </p>

        @imageWithText(Image.create("quadrate/klimaband-sammeln.jpg", 700, 700, "Viele Klimabänder hängen an einem Baum"), reverseColumn=true) {
            <h3 class="title" id="abgeben">Klimaband gestalten und abgeben</h3>
            <p class="block">
                <strong>Du hast einen Klimawunsch und möchtest deine Botschaft abgeben?</strong><br>
                Mach jetzt dein eigenes Klimaband und geb es bei einer Sammelstelle oder im Rahmen einer Veranstaltung ab, damit dein Klimawunsch nach Berlin geradelt wird. Alle Sammelstellen und Veranstaltungen in ganz Deutschland findest du auf der Aktionskarte.
            </p>
            <a class="button-blue" href="/aktionen-vor-ort">Aktionen vor Ort finden</a> <a class="button-blue-outline" href="/mitmachen/klimaband-gestalten">Tipps zum Klimaband gestalten</a>
        }
        @imageWithText(Image.create("quadrate/vielebaender.jpg", 700, 700, "Viele bunte Klimabänder")) {
            <h3 class="title">Klimabänder bei eigener Aktion sammeln</h3>
            <p class="block">
                <strong>Du möchtest aktiv werden und Klimabänder sammeln?</strong><br>
                Damit eine bunte Welle aus Klimabändern über Deutschland zieht, braucht es viele Sammelstellen, große und kleine Veranstaltungen, Aktionen und Stände, um möglichst viele Menschen zu erreichen. Mach mit – und mach daraus deine ganz individuelle kreative Aktion.
            </p>
            <a class="button-blue" href="/login">Aktion anmelden</a> <a class="button-blue-outline" href="/mitmachen/sammeln">Mehr Informationen zum Sammeln</a>
        }

        <a name="verbreiten"></a>
        @imageWithText(Image.create("quadrate/bandfestmachen.jpg", 700, 700, "Klimaband wird an einem Stab festgemacht"), reverseColumn=true) {
            <h3 class="title">Klimabotschaft verbreiten</h3>
            <p class="block">
                <strong>... bei dir im Ort</strong><br>
                Du kannst dein Klimaband bei dir behalten – am Fahrrad, am Rucksack, am Baum im Vorgarten oder am Balkon. So verbreitest du deinen Klimawunsch und trägst dazu bei, dass mehr Klimabänder sichtbar sind. Außerdem schafft das Klimaband Gemeinschaft. Stell dir vor, jemand radelt dir entgegen, und hat auch ein Klimaband am Rad: Sofort werdet ihr zu Verbündeten.<br>
                Notiere am besten auf dem Klimaband die Webseite www.klimabänder.de. So können andere nachschauen, was es damit auf sich hat.
            </p>
            <p class="block">
                <strong>... oder online</strong><br>
                Teile ein Bild deines Klimabandes auf Instagram mit dem Hashtag <a href="https://www.instagram.com/explore/tags/klimab%C3%A4nder/" target="_blank" rel="noopener">#klimabänder</a> und werde so online Teil der Aktion. Alle eingereichten Bilder werden genau wie die physischen Klimabänder Teil beim Finale in Berlin!
            </p>
            <a class="button-blue" href="https://www.instagram.com/klimabaender/" target="_blank" rel="noopener">Zu Klimabändern auf Instagram</a>
        }
        
        
    </section>

    <section class="container is-max-desktop" id="etappe2">
        @etappeHeadline("2. Mitradeln", 2)

        <p class="block">
            Ab Mitte August radeln wir in 6 Hauptströmen und in zig Einzeletappen aus ganz Deutschland die Klimabänder nach Berlin.
            Zigtausende können (coronatauglich) mitradeln und eigene Fahrradtouren planen – auch kleine Strecken von nur wenigen Kilometern. 
            Ziel ist es, dass spätestens am 10.9. viele, viele Radfahrer:innen aus vielen Teilen Deutschlands vor den 
            Toren von Berlin eintreffen und wir am 11.9. vormittags gemeinsam die letzten Kilometer vom Olympischen Platz zum
            Washingtonplatz radeln, auf dem dann das <a href="/festival-der-zukunft">Festival der Zukunft</a> stattfindet.
        </p>

        @imageWithText(Image.create("quadrate/wenig-aufwand-grosse-wirkung.jpg", 700, 700, "Fahrrad mit Klimabändern")) {
            <h3 class="title">Radtouren</h3>
            <p class="block">
                 Sieh dir die Detailseite zur Fahrradtour an, um mehr zu erfahren.
            </p>
            <a class="button-blue-outline" href="/mitmachen/klimaneutral-nach-berlin">Alle Infos rund um die Fahrradtouren</a>
        }

    </section>

    <section class="container is-max-desktop" id="etappe3">
        @etappeHeadline("3. Berlin", 3)

        <p class="block">
            Die Klimabänder aus ganz Deutschland treffen über verschiedene <a href="/mitmachen/klimaneutral-nach-berlin">Radtouren</a> am 10. September in Berlin ein.
            Am 11.9. radeln wir in Berlin die letzten Kilometer vom Olympischen Platz zum Washingtonplatz.
            Beim dortigen <a href="/festival-der-zukunft">Festival der Zukunft</a> werden die mitgebrachten Klimabänder medienwirksam öffentlich aufgehängt.
        </p>

        @imageWithText(Image.FahrradDemoBerlin) {
            <h3 class="title">Fahrraddemo</h3>
            <p class="block">
                Am 11. September um 10 Uhr startet die Fahrraddemo am Olympischen Platz.
                Sei mit dabei: Für den Erhalt der Erde. Für eine sinnvolle Klimapolitik.
            </p>
            <p>
                <a class="button-blue" href="/fahrraddemo-berlin">Mehr zur Fahrraddemo</a>
            </p>
        }

        @imageWithText(Image.BaenderAnLeine, reverseColumn=true) {
            <h3 class="title">Festival der Zukunft</h3>
            <p class="block">
                Vom 11.9.-12.9. feiern wir mit einem krönenden Festival den Höhepunkt der Aktion Klimabänder.
                Das Festival der Zukunft zeigt uns die Welt, die möglich ist, wenn die Politik jetzt handelt.
                Umgeben von zig-tausenden Klimabändern wird die Welt von Morgen erlebbar und spürbar gemacht.
            </p>
            <p>
                <a class="button-blue" href="/festival-der-zukunft">Details zum Festival der Zukunft</a>
            </p>

        }

    </section>

    <section class="container is-max-desktop">
        <h2 class="title">Spenden</h2>

        @imageWithText(Image.cdnStatic("images/spenden/spenden-bild.jpg?width=500", 500, 500, "Klimabänder-Utensilien")) {
            <p class="block">
                Wir benötigen dringend Spenden, damit wir den Gruppen vor Ort mehr Info- und Werbematerial zur
                Verfügung stellen können und damit das Festival der Zukunft in Berlin eine riesige Veranstaltung werden kann.
            </p>

            <a class="button-blue" href="/spenden">Spenden</a>
        }

    </section>



}