@()(implicit request: KWRequest[_])
@import de.klimawuensche.info.PressArticle

@main("Klimabänder - Presse", index=true, description=Some("Du möchtest über die Klimabänder berichten? Hier findest du aktuelle Pressemittleitungen, Werbemittel und Kontakte.")) {
}{
@header()
@headerBackground("Presse", backgroundImage = Some("images/photos/klimabaender_omasforfuture_presse.jpg"))


<main class="main-content">

    <section class="container is-max-desktop">
        <h2 class="title">Vorlage für Pressemitteilungen</h2>
        <p>
            Folgende Vorlagen kannst du für deine Sammelstellen, Veranstaltungen und Radtouren nutzen:
        </p>

        <ul class="bullet-list">
            <li><a href='@routes.Assets.versioned("documents/pressemitteilung.docx")'>Allgemeine Vorlage für Pressemitteilungen</a></li>
            <li><a href='@routes.Assets.versioned("documents/PM_Abfahrt_und_Ankunft.docx")'>Pressemitteilung für Ankunft oder Abfahrt einer Klimabänder-Radtour</a></li>
        </ul>
    </section>


    <section class="container is-max-desktop">
        <h2 class="title">Infomaterial</h2>
        <p class="block">
            Grafiken und Fotos, die du für die Berichterstattung verwenden kannst, sowie Flyer und Poster findest du unter <a href="/downloads">Downloads</a>.
        </p>
    </section>

    <section class="container is-max-desktop">
        <h2 class="title">Die Klimabänder in der Presse</h2>
        <p class="block">
            In folgenden Pressebeiträgen wird über die Klimabänder berichtet:
        </p>
        @pressTable(PressArticle.all)
    </section>
</main>
}
