@()(implicit req: KWRequest[_])
@main("Datenschutzerklärung", index = true) {
}{

@header()
@headerBackground("Datenschutzerklärung")

<div class="container is-max-desktop">
    <div class="content">
        <div class="section">
            <h1 class="title is-2">Datenschutz&shy;erklärung</h1>
            <h2 class="title is-3">1. Datenschutz auf einen Blick:</h2>
            <h3 class="title is-4">Allgemeine Hinweise</h3>
            <div class="block">
                Die folgenden Hinweise geben einen einfachen Überblick darüber, was mit Ihren
                personenbezogenen Daten passiert, wenn Sie diese Website besuchen. Personenbezogene Daten sind alle
                Daten, mit denen Sie persönlich identifiziert werden können. Ausführliche Informationen zum Thema
                Datenschutz entnehmen Sie unserer unter diesem Text aufgeführten Datenschutzerklärung.
            </div>
            <h3 class="title is-4">Datenerfassung auf dieser Website</h3>
            <h4 class="title is-5">Wer ist verantwortlich
                für die Datenerfassung auf dieser Website?</h4>
            <div class="block">
                Die Datenverarbeitung auf dieser Website erfolgt durch den Websitebetreiber. Dessen
                Kontaktdaten können Sie dem Impressum dieser Website entnehmen.
            </div>
            <h4 class="title is-5">Wie erfassen wir Ihre Daten?</h4>
            <div class="block">
                Ihre Daten werden zum einen dadurch erhoben, dass Sie uns diese mitteilen. Hierbei kann
                es sich z. B. um Daten handeln, die Sie in ein Kontaktformular eingeben. Andere Daten werden automatisch
                oder nach Ihrer Einwilligung beim Besuch der Website durch unsere IT-Systeme erfasst. Das sind vor allem
                technische Daten (z. B. Internetbrowser, Betriebssystem oder Uhrzeit des Seitenaufrufs). Die Erfassung
                dieser Daten erfolgt automatisch, sobald Sie diese Website betreten.
            </div>
            <h4 class="title is-5">Wofür nutzen wir Ihre Daten?</h4>
            <div class="block">
                Ein Teil der Daten wird erhoben, um eine fehlerfreie Bereitstellung der Website zu
                gewährleisten. Andere Daten können zur Analyse Ihres Nutzerverhaltens verwendet werden.
            </div>
            <h4 class="title is-5">Welche Rechte haben Sie bezüglich Ihrer Daten?</h4>
            <div class="block">
                Sie haben jederzeit das Recht, unentgeltlich Auskunft über Herkunft, Empfänger und Zweck
                Ihrer gespeicherten personenbezogenen Daten zu erhalten. Sie haben außerdem ein Recht, die Berichtigung
                oder Löschung dieser Daten zu verlangen. Wenn Sie eine Einwilligung zur Datenverarbeitung erteilt haben,
                können Sie diese Einwilligung jederzeit für die Zukunft widerrufen. Außerdem haben Sie das Recht, unter
                bestimmten Umständen die Einschränkung der Verarbeitung Ihrer personenbezogenen Daten zu verlangen. Des
                Weiteren steht Ihnen ein Beschwerderecht bei der zuständigen Aufsichtsbehörde zu.
            </div>
            <div class="block">
                Hierzu sowie zu
                weiteren Fragen zum Thema Datenschutz können Sie sich jederzeit unter der im Impressum angegebenen
                Adresse an uns wenden.
            </div>
        </div>
        <div class="section">
            <h2 class="title is-3">2. Hosting und Content Delivery Networks (CDN)</h2>
            <h3 class="title is-4">Externes Hosting</h3>
            <div class="block">
                Diese Website wird bei einem externen Dienstleister gehostet (Hoster). Die
                personenbezogenen Daten, die auf dieser Website erfasst werden, werden auf den Servern des Hosters
                gespeichert. Hierbei kann es sich v. a. um IP-Adressen, Kontaktanfragen, Meta- und Kommunikationsdaten,
                Vertragsdaten, Kontaktdaten, Namen, Websitezugriffe und sonstige Daten, die über eine Website generiert
                werden, handeln.
            </div>
            <div class="block">
                Der Einsatz des Hosters erfolgt zum Zwecke der Vertragserfüllung gegenüber unseren
                potenziellen und bestehenden Kunden (Art. 6 Abs. 1 lit. b DSGVO) und im Interesse einer sicheren,
                schnellen und effizienten Bereitstellung unseres Online-Angebots durch einen professionellen Anbieter
                (Art. 6 Abs. 1 lit. f DSGVO).
            </div>
            <div class="block">
                Unser Hoster wird Ihre Daten nur insoweit verarbeiten, wie dies zur
                Erfüllung seiner Leistungspflichten erforderlich ist und unsere Weisungen in Bezug auf diese Daten
                befolgen.
            </div>
            <div class="block">
                Wir setzen folgenden Hoster ein:
            </div>
            <div class="block">
                <strong>Dienstanbieter im Sinne von § 5 TMG:</strong><br/>
                Hetzner Online GmbH<br/>
                Industriestr. 25<br/>
                91710 Gunzenhausen<br/>
                Deutschland
            </div>
            <h3 class="title is-4">Abschluss eines Vertrages über Auftragsverarbeitung</h3>
            <div class="block">
                Um die datenschutzkonforme Verarbeitung zu gewährleisten, haben wir einen Vertrag über
                Auftragsverarbeitung mit unserem Hoster geschlossen.
            </div>
            <h3 class="title is-4">
                Content-Delivery-Networks
            </h3>
            <div class="block">
                Wir benutzen zum Ausspielen bestimmter Bild- und Videodateien ein Content-Delivery-Network (CDN).
                Ein CDN ist ein Netz regional verteilter und über das Internet verbundener Server. Über das CDN werden
                skalierende Speicher- und Auslieferungskapazitäten zur Verfügung gestellt.
                Hierdurch werden die Ladezeiten unserer Internetseiten optimiert und auch bei großen Lastspitzen ein optimaler
                Datendurchsatz gewährleistet. Nutzeranfragen auf unseren Internetseiten werden über Server des CDN geleitet.
                Aus diesen Datenströmen werden Statistiken erstellt. Dies dient zum einen dazu, potentielle Bedrohungen für
                unsere Internetseiten durch Schadsoftware frühzeitig zu erkennen und zum anderen unser Angebot stetig zu verbessern und
                unsere Internetseiten für Sie als Nutzer nutzerfreundlicher auszugestalten.
            </div>
            <div class="block">
                Wir möchten Sie darauf hinweisen, dass je nach Sitzland des unten genannten Diensteanbieters die über den Dienst erfassten
                Daten außerhalb des Raumes der Europäischen Union übertragen und verarbeitet werden können.
                Es besteht in diesem Fall das Risiko, dass das von der DSGVO vorgeschriebene Datenschutzniveau nicht eingehalten und die
                Durchsetzung Ihrer Rechte nicht oder nur erschwert erfolgen kann.
            </div>
            <div class="block">
                Betroffene Daten:

                <ul>
                    <li>Inhaltsdaten (bspw. Fotos, Videos)</li>
                    <li>Nutzungsdaten (bspw. Zugriffszeiten, angeklickte Webseiten)</li>
                    <li>Kommunikationsdaten (bspw. Informationen über das genutzte Gerät, IP-Adresse)</li>
                </ul>
                Verarbeitungszweck: Technische Optimierung der Internetpräsenz, Analyse von Fehlern und Nutzerverhalten<br />
                Rechtsgrundlage: Berechtigtes Interesse, Art. 6 Abs. 1 lit. f DSGVO
            </div>
            <div class="block">
                <strong>Eingesetze CDN-Dienstleister:</strong>
            </div>
            <div class="block">
                <strong>HiDrive S3</strong><br />

                Dienstanbieter: STRATO AG, Pascalstraße 10, 10587 Berlin<br />
                Internetseite: https://www.strato.de/cloud-speicher/hidrive-s3/<br />
                Datenschutzerklärung: <a href="https://www.strato.de/datenschutz/" target="_blank" rel="noopener">https://www.strato.de/datenschutz/</a><br />
            </div>
            <div class="block">
                <strong>KeyCDN</strong><br />

                Dienstanbieter: proinity LLC, Faerberstrasse 9, CH-8832 Wollerau, Schweiz<br />
                Internetseite: https://www.keycdn.com/<br />
                Datenschutzerklärung: <a href="https://www.keycdn.com/privacy" target="_blank" rel="noopener">https://www.keycdn.com/privacy</a><br />
            </div>

        </div>
        <div class="section">

            <h2 class="title is-3">3. Allgemeine Hinweise und Pflichtinformationen</h2>

            <h3 class="title is-4">Datenschutz</h3>
            <div class="block">
                Die Betreiber dieser Seiten nehmen den Schutz Ihrer persönlichen Daten sehr ernst. Wir
                behandeln Ihre personenbezogenen Daten vertraulich und entsprechend der gesetzlichen
                Datenschutzvorschriften sowie dieser Datenschutzerklärung.
            </div>
            <div class="block">
                Wenn Sie diese Website benutzen, werden
                verschiedene personenbezogene Daten erhoben. Personenbezogene Daten sind Daten, mit denen Sie persönlich
                identifiziert werden können. Die vorliegende Datenschutzerklärung erläutert, welche Daten wir erheben
                und wofür wir sie nutzen. Sie erläutert auch, wie und zu welchem Zweck das geschieht.
            </div>
            <div class="block">
                Wir weisen darauf
                hin, dass die Datenübertragung im Internet (z. B. bei der Kommunikation per E-Mail) Sicherheitslücken
                aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich.
            </div>

            <h4 class="title is-5">Hinweis zur verantwortlichen Stelle</h4>

            <div class="block">
                Die verantwortliche Stelle für die Datenverarbeitung auf dieser Website ist:
            </div>
            <div class="block">
                Leben im Einklang mit der Natur e.V.<br/>
                vertreten durch Vorsitzende Cordula
                Weimann<br/>
                Henricistr. 7<br/>
                04177 Leipzig<br/>
                Telefon: +49 (0) 163 3654168<br/>
            </div>
            <div class="block">
                Verantwortliche Stelle ist die natürliche oder juristische Person, die allein oder
                gemeinsam mit anderen über die Zwecke und Mittel der Verarbeitung von personenbezogenen Daten (z. B.
                Namen, E-Mail-Adressen o. Ä.) entscheidet.
            </div>

            <h3 class="title is-4">Speicherdauer</h3>
            <div class="block">
                Soweit innerhalb dieser Datenschutzerklärung keine speziellere Speicherdauer genannt
                wurde, verbleiben Ihre personenbezogenen Daten bei uns, bis der Zweck für die Datenverarbeitung
                entfällt. Wenn Sie ein berechtigtes Löschersuchen geltend machen oder eine Einwilligung zur
                Datenverarbeitung widerrufen, werden Ihre Daten gelöscht, sofern wir keinen anderen rechtlich zulässigen
                Gründe für die Speicherung Ihrer personenbezogenen Daten haben (z.B. steuer- oder handelsrechtliche
                Aufbewahrungsfristen); im letztgenannten Fall erfolgt die Löschung nach Fortfall dieser Gründe.
            </div>

            <h3 class="title is-4">Gültigkeit</h3>
            <div class="block">
                Diese Datenschutzerklärung gilt für mehrere Webseiten, welche jeweils hierher verlinkt
                wurden. Nicht alle hier aufgeführten Drittanbieter und Datenübertragungen sind auf allen Webseiten
                integriert. Wir sind bei der Auswahl sehr sorgsam und sparsam. Wir bemühen uns Ihnen das größtmögliche
                Nutzererlebnis zu bieten und gleichzeitig die Datenübertragungen auf ein Minimum zu reduzieren.
            </div>

            <h3 class="title is-4">Widerruf Ihrer Einwilligung zur Datenverarbeitung</h3>
            <div class="block">
                Viele Datenverarbeitungsvorgänge sind nur mit Ihrer ausdrücklichen Einwilligung möglich.
                Sie können eine bereits erteilte Einwilligung jederzeit widerrufen. Die Rechtmäßigkeit der bis zum
                Widerruf erfolgten Datenverarbeitung bleibt vom Widerruf unberührt.
            </div>

            <h3 class="title is-4">Widerspruchsrecht gegen die Datenerhebung in besonderen Fällen sowie gegen
                Direktwerbung (Art. 21 DSGVO)</h3>
            <div class="block">
                WENN DIE DATENVERARBEITUNG AUF GRUNDLAGE VON ART. 6 ABS. 1 LIT. E ODER F DSGVO ERFOLGT,
                HABEN SIE JEDERZEIT DAS RECHT, AUS GRÜNDEN, DIE SICH AUS IHRER BESONDEREN SITUATION ERGEBEN, GEGEN DIE
                VERARBEITUNG IHRER PERSONENBEZOGENEN DATEN WIDERSPRUCH EINZULEGEN; DIES GILT AUCH FÜR EIN AUF DIESE
                BESTIMMUNGEN GESTÜTZTES PROFILING. DIE JEWEILIGE RECHTSGRUNDLAGE, AUF DENEN EINE VERARBEITUNG BERUHT,
                ENTNEHMEN SIE DIESER DATENSCHUTZERKLÄRUNG. WENN SIE WIDERSPRUCH EINLEGEN, WERDEN WIR IHRE BETROFFENEN
                PERSONENBEZOGENEN DATEN NICHT MEHR VERARBEITEN, ES SEI DENN, WIR KÖNNEN ZWINGENDE SCHUTZWÜRDIGE GRÜNDE
                FÜR DIE VERARBEITUNG NACHWEISEN, DIE IHRE INTERESSEN, RECHTE UND FREIHEITEN ÜBERWIEGEN ODER DIE
                VERARBEITUNG DIENT DER GELTENDMACHUNG, AUSÜBUNG ODER VERTEIDIGUNG VON RECHTSANSPRÜCHEN (WIDERSPRUCH NACH
                ART. 21 ABS. 1 DSGVO). WERDEN IHRE PERSONENBEZOGENEN DATEN VERARBEITET, UM DIREKTWERBUNG ZU BETREIBEN,
                SO HABEN SIE DAS RECHT, JEDERZEIT WIDERSPRUCH GEGEN DIE VERARBEITUNG SIE BETREFFENDER PERSONENBEZOGENER
                DATEN ZUM ZWECKE DERARTIGER WERBUNG EINZULEGEN; DIES GILT AUCH FÜR DAS PROFILING, SOWEIT ES MIT SOLCHER
                DIREKTWERBUNG IN VERBINDUNG STEHT. WENN SIE WIDERSPRECHEN, WERDEN IHRE PERSONENBEZOGENEN DATEN
                ANSCHLIESSEND NICHT MEHR ZUM ZWECKE DER DIREKTWERBUNG VERWENDET (WIDERSPRUCH NACH ART. 21 ABS. 2 DSGVO).
            </div>

            <h3 class="title is-4">Beschwerderecht bei der zuständigen Aufsichtsbehörde</h3>
            <div class="block">
                Im Falle von Verstößen gegen die DSGVO steht den Betroffenen ein Beschwerderecht bei
                einer Aufsichtsbehörde, insbesondere in dem Mitgliedstaat ihres gewöhnlichen Aufenthalts, ihres
                Arbeitsplatzes oder des Orts des mutmaßlichen Verstoßes zu. Das Beschwerderecht besteht unbeschadet
                anderweitiger verwaltungsrechtlicher oder gerichtlicher Rechtsbehelfe.
            </div>

            <h3 class="title is-4">Recht auf Datenübertragbarkeit</h3>
            <div class="block">
                Sie haben das Recht, Daten, die wir auf Grundlage Ihrer Einwilligung oder in Erfüllung
                eines Vertrags automatisiert verarbeiten, an sich oder an einen Dritten in einem gängigen,
                maschinenlesbaren Format aushändigen zu lassen. Sofern Sie die direkte Übertragung der Daten an einen
                anderen Verantwortlichen verlangen, erfolgt dies nur, soweit es technisch machbar ist.
            </div>

            <h3 class="title is-4">SSL- bzw. TLS-Verschlüsselung</h3>
            <div class="block">
                Diese Seite nutzt aus Sicherheitsgründen und zum Schutz der Übertragung vertraulicher
                Inhalte, wie zum Beispiel Bestellungen oder Anfragen, die Sie an uns als Seitenbetreiber senden, eine
                SSL- bzw. TLS-Verschlüsselung. Eine verschlüsselte Verbindung erkennen Sie daran, dass die Adresszeile
                des Browsers von „http://“ auf „https://“ wechselt und an dem Schloss-Symbol in Ihrer Browserzeile. Wenn
                die SSL- bzw. TLS-Verschlüsselung aktiviert ist, können die Daten, die Sie an uns übermitteln, nicht von
                Dritten mitgelesen werden.
            </div>

            <h3 class="title is-4">Auskunft, Löschung und Berichtigung</h3>
            <div class="block">
                Sie haben im Rahmen der geltenden gesetzlichen Bestimmungen jederzeit das Recht auf
                unentgeltliche Auskunft über Ihre gespeicherten personenbezogenen Daten, deren Herkunft und Empfänger
                und den Zweck der Datenverarbeitung und ggf. ein Recht auf Berichtigung oder Löschung dieser Daten.
                Hierzu sowie zu weiteren Fragen zum Thema personenbezogene Daten können Sie sich jederzeit unter der im
                Impressum angegebenen Adresse an uns wenden.
            </div>

            <h3 class="title is-4">Recht auf Einschränkung der Verarbeitung</h3>
            <div class="block">
                Sie haben das Recht, die Einschränkung der Verarbeitung Ihrer personenbezogenen Daten zu
                verlangen. Hierzu können Sie sich jederzeit unter der im Impressum angegebenen Adresse an uns wenden.
                Das Recht auf Einschränkung der Verarbeitung besteht in folgenden Fällen:
            </div>
            <div class="block">
                <ul>
                    <li>
                        Wenn Sie die Richtigkeit Ihrer bei uns gespeicherten personenbezogenen Daten bestreiten,
                        benötigen wir in der Regel Zeit, um dies zu überprüfen. Für die Dauer der Prüfung haben Sie das
                        Recht, die Einschränkung der Verarbeitung Ihrer personenbezogenen Daten zu verlangen.
                    </li>
                    <li>
                        Wenn die Verarbeitung Ihrer personenbezogenen Daten unrechtmäßig geschah/geschieht, können Sie
                        statt der Löschung die Einschränkung der Datenverarbeitung verlangen.
                    </li>
                    <li>
                        Wenn wir Ihre personenbezogenen Daten nicht mehr benötigen, Sie sie jedoch zur Ausübung,
                        Verteidigung oder Geltendmachung von Rechtsansprüchen benötigen, haben Sie das Recht, statt der
                        Löschung die Einschränkung der Verarbeitung Ihrer personenbezogenen Daten zu verlangen.
                    </li>
                    <li>
                        Wenn Sie einen Widerspruch nach Art. 21 Abs. 1 DSGVO eingelegt haben, muss eine Abwägung
                        zwischen Ihren und unseren Interessen vorgenommen werden. Solange noch nicht feststeht, wessen
                        Interessen überwiegen, haben Sie das Recht, die Einschränkung der Verarbeitung Ihrer
                        personenbezogenen Daten zu verlangen.
                    </li>
                </ul>
            </div>
            <div class="block">
                Wenn Sie die Verarbeitung Ihrer personenbezogenen Daten eingeschränkt haben, dürfen
                diese Daten – von ihrer Speicherung abgesehen – nur mit Ihrer Einwilligung oder zur Geltendmachung,
                Ausübung oder Verteidigung von Rechtsansprüchen oder zum Schutz der Rechte einer anderen natürlichen
                oder juristischen Person oder aus Gründen eines wichtigen öffentlichen Interesses der Europäischen Union
                oder eines Mitgliedstaats verarbeitet werden.
            </div>

            <h3 class="title is-4">Widerspruch gegen Werbe-E-Mails</h3>
            <div class="block">
                Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten zur
                Übersendung von nicht ausdrücklich angeforderter Werbung und Informationsmaterialien wird hiermit
                widersprochen. Die Betreiber der Seiten behalten sich ausdrücklich rechtliche Schritte im Falle der
                unverlangten Zusendung von Werbeinformationen, etwa durch Spam-E-Mails, vor.
            </div>
        </div>
        <div class="section">
            <h2 class="title is-3">4. Datenerfassung auf dieser Website</h2>

            <h3 class="title is-4">Cookies</h3>
            <div class="block">
                Unsere Internetseiten verwenden so genannte „Cookies“. Cookies sind kleine Textdateien
                und richten auf Ihrem Endgerät keinen Schaden an. Sie werden entweder vorübergehend für die Dauer einer
                Sitzung (Session-Cookies) oder dauerhaft (permanente Cookies) auf Ihrem Endgerät gespeichert.
                Session-Cookies werden nach Ende Ihres Besuchs automatisch gelöscht. Permanente Cookies bleiben auf
                Ihrem Endgerät gespeichert, bis Sie diese selbst löschen oder eine automatische Löschung durch Ihren
                Webbrowser erfolgt. Teilweise können auch Cookies von Drittunternehmen auf Ihrem Endgerät gespeichert
                werden, wenn Sie unsere Seite betreten (Third-Party-Cookies). Diese ermöglichen uns oder Ihnen die
                Nutzung bestimmter Dienstleistungen des Drittunternehmens (z.B. Cookies zur Abwicklung von
                Zahlungsdienstleistungen).
            </div>
            <div class="block">
                Cookies haben verschiedene Funktionen. Zahlreiche Cookies sind technisch notwendig, da
                bestimmte Websitefunktionen ohne diese nicht funktionieren würden (z.B. die Warenkorbfunktion oder die
                Anzeige von Videos). Andere Cookies dienen dazu, das Nutzerverhalten auszuwerten oder Werbung
                anzuzeigen. Cookies, die zur Durchführung des elektronischen Kommunikationsvorgangs (notwendige Cookies)
                oder zur Bereitstellung bestimmter, von Ihnen erwünschter Funktionen (funktionale Cookies, z. B. für die
                Warenkorbfunktion) oder zur Optimierung der Website (z.B. Cookies zur Messung des Webpublikums)
                erforderlich sind, werden auf Grundlage von Art. 6 Abs. 1 lit. f DSGVO gespeichert, sofern keine andere
                Rechtsgrundlage angegeben wird. Der Websitebetreiber hat ein berechtigtes Interesse an der Speicherung
                von Cookies zur technisch fehlerfreien und optimierten Bereitstellung seiner Dienste. Sofern eine
                Einwilligung zur Speicherung von Cookies abgefragt wurde, erfolgt die Speicherung der betreffenden
                Cookies ausschließlich auf Grundlage dieser Einwilligung (Art. 6 Abs. 1 lit. a DSGVO); die Einwilligung
                ist jederzeit widerrufbar.
            </div>
            <div class="block">
                Sie können Ihren Browser so einstellen, dass Sie über das Setzen von Cookies informiert
                werden und Cookies nur im Einzelfall erlauben, die Annahme von Cookies für bestimmte Fälle oder generell
                ausschließen sowie das automatische Löschen der Cookies beim Schließen des Browsers aktivieren. Bei der
                Deaktivierung von Cookies kann die Funktionalität dieser Website eingeschränkt sein. Soweit Cookies von
                Drittunternehmen oder zu Analysezwecken eingesetzt werden, werden wir Sie hierüber im Rahmen dieser
                Datenschutzerklärung gesondert informieren und ggf. eine Einwilligung abfragen.
            </div>

            <h3 class="title is-4">Server-Log-Dateien</h3>
            <div class="block">
                Der Provider der Seiten erhebt und speichert automatisch Informationen in so genannten
                Server-Log-Dateien, die Ihr Browser automatisch an uns übermittelt. Dies sind:
            </div>
            <div class="block">
                <ul>
                    <li>Browsertyp und Browserversion</li>
                    <li>verwendetes Betriebssystem</li>
                    <li>Referrer URL</li>
                    <li>Hostname des zugreifenden Rechners</li>
                    <li>Uhrzeit der Serveranfrage</li>
                    <li>IP-Adresse</li>
                </ul>
            </div>
            <div class="block">
                Eine Zusammenführung dieser Daten mit anderen Datenquellen wird nicht vorgenommen. Die
                Erfassung dieser Daten erfolgt auf Grundlage von Art. 6 Abs. 1 lit. f DSGVO. Der Websitebetreiber hat
                ein berechtigtes Interesse an der technisch fehlerfreien Darstellung und der Optimierung seiner Website
                – hierzu müssen die Server-Log-Files erfasst werden.
            </div>

            <h3 class="title is-4">Matomo</h3>
            <h4 class="title is-5">Zweck der Datenverarbeitung</h4>
            <div class="block">
                Diese Webseite verwendet Matomo, eine Open Source, selbstgehostete Software um anonyme Nutzungsdaten für diese Webseite zu sammeln.
                Die Daten zum Verhalten der Besucher werden gesammelt um eventuelle Probleme wie nicht gefundene Seiten, Suchmaschinenprobleme oder
                unbeliebte Seiten herauszufinden. Sobald die Daten (Anzahl der Besucher die Fehlerseiten oder nur eine Seite sehen, usw.)
                verarbeitet werden, erzeugt Matomo Berichte für die Webseitenbetreiber, damit diese darauf reagieren können.
            </div>
            <div class="block">
                Matomo verarbeitet die folgenden Daten:
                <ul>
                    <li>Cookies</li>
                    <li>Anonymisierte IP-Adressen indem die letzten 2 bytes entfernt werden (also 198.51.0.0 anstatt 198.51.100.54)</li>
                    <li>Pseudoanonymisierter Standort (basierend auf der anonymisierten IP-Adresse)</li>
                    <li>Datum und Uhrzeit</li>
                    <li>Titel der aufgerufenen Seite</li>
                    <li>URL der aufgerufenen Seite</li>
                    <li>URL der vorhergehenden Seite (sofern diese das erlaubt)</li>
                    <li>Bildschirmauflösung</li>
                    <li>Lokale Zeit</li>
                    <li>Dateien, die angeklickt und heruntergeladen wurden</li>
                    <li>Externe Links</li>
                    <li>Dauer des Seitenaufbaus</li>
                    <li>Land, Region, Stadt (mit niedriger Genauigkeit aufgrund von IP-Adresse)</li>
                    <li>Hauptsprache des Browsers</li>
                    <li>User Agent des Browsers</li>
                    <li>Interaktionen mit Formularen (aber nicht deren Inhalt)</li>
                </ul>
            </div>
            <h4 class="title is-5">Basis des Legitimen Interesses</h4>
            <div class="block">
                Die Datenverarbeitung basiert auf dem Prinzip des legitimen Interesses.
                Verarbeiten der Daten hilft uns herauszufinden, was auf unserer Seite funktioniert und was nicht.
                Zum Beispiel finden wir damit heraus, ob die Inhalte gut ankommen oder wie wir die Struktur der Webseite verbessern können.
                Unser Team profitiert davon und kann darauf reagieren. Aufgrund der Datenverarbeitung profitieren Sie
                somit von einer Webseite, die laufend besser wird. Ohne die Daten könnten wir den Service nicht bieten.
                Ihre Daten werden ausschließlich zum Verbessern der Webseitennutzung verwendet.
            </div>
            <div class="block">
                Weitere Informationen finden Sie unter: <a href="https://matomo.org/privacy-policy/" target="_blank" rel="noopener">https://matomo.org/privacy-policy/</a>
            </div>

            <h3 class="title is-4">Anfrage per E-Mail, Telefon oder Telefax</h3>
            <div class="block">
                Wenn Sie uns per E-Mail, Telefon oder Telefax kontaktieren, wird Ihre Anfrage inklusive
                aller daraus hervorgehenden personenbezogenen Daten (Name, Anfrage) zum Zwecke der Bearbeitung Ihres
                Anliegens bei uns gespeichert und verarbeitet. Diese Daten geben wir nicht ohne Ihre Einwilligung
                weiter. Die Verarbeitung dieser Daten erfolgt auf Grundlage von Art. 6 Abs. 1 lit. b DSGVO, sofern Ihre
                Anfrage mit der Erfüllung eines Vertrags zusammenhängt oder zur Durchführung vorvertraglicher Maßnahmen
                erforderlich ist. In allen übrigen Fällen beruht die Verarbeitung auf unserem berechtigten Interesse an
                der effektiven Bearbeitung der an uns gerichteten Anfragen (Art. 6 Abs. 1 lit. f DSGVO) oder auf Ihrer
                Einwilligung (Art. 6 Abs. 1 lit. a DSGVO) sofern diese abgefragt wurde.
            </div>
            <div class="block">
                Die von Ihnen an uns per Kontaktanfragen übersandten Daten verbleiben bei uns, bis Sie
                uns zur Löschung auffordern, Ihre Einwilligung zur Speicherung widerrufen oder der Zweck für die
                Datenspeicherung entfällt (z. B. nach abgeschlossener Bearbeitung Ihres Anliegens). Zwingende
                gesetzliche Bestimmungen – insbesondere gesetzliche Aufbewahrungsfristen – bleiben unberührt.
            </div>

        </div>
        <div class="section">
            <h2 class="title is-3">5. Newsletter</h2>

            <h3 class="title is-4">Newsletterdaten</h3>
            <div class="block">
                Wenn Sie den auf der Website angebotenen Newsletter beziehen möchten, benötigen wir von Ihnen eine
                E-Mail-Adresse sowie Informationen, welche uns die Überprüfung gestatten, dass Sie der Inhaber der
                angegebenen E-Mail-Adresse sind und mit dem Empfang des Newsletters einverstanden sind. Weitere Daten
                werden nicht bzw. nur auf freiwilliger Basis erhoben. Diese Daten verwenden wir ausschließlich für den
                Versand der angeforderten Informationen und geben diese nicht an Dritte weiter.
            </div>
            <div class="block">
                Die Verarbeitung der in
                das Newsletteranmeldeformular eingegebenen Daten erfolgt ausschließlich auf Grundlage Ihrer Einwilligung
                (Art. 6 Abs. 1 lit. a DSGVO). Die erteilte Einwilligung zur Speicherung der Daten, der E-Mail-Adresse
                sowie deren Nutzung zum Versand des Newsletters können Sie jederzeit widerrufen, etwa über den
                „Austragen“-Link im Newsletter. Die Rechtmäßigkeit der bereits erfolgten Datenverarbeitungsvorgänge
                bleibt vom Widerruf unberührt.
            </div>
            <div class="block">
                Die von Ihnen zum Zwecke des Newsletter-Bezugs bei uns hinterlegten Daten
                werden von uns bis zu Ihrer Austragung aus dem Newsletter bei uns bzw. dem Newsletterdiensteanbieter
                gespeichert und nach der Abbestellung des Newsletters aus der Newsletterverteilerliste gelöscht. Daten,
                die zu anderen Zwecken bei uns gespeichert wurden bleiben hiervon unberührt.
            </div>
            <div class="block">
                Nach Ihrer Austragung aus
                der Newsletterverteilerliste wird Ihre E-Mail-Adresse bei uns bzw. dem Newsletterdiensteanbieter ggf. in
                einer Blacklist gespeichert, um künftige Mailings zu verhindern. Die Daten aus der Blacklist werden nur
                für diesen Zweck verwendet und nicht mit anderen Daten zusammengeführt. Dies dient sowohl Ihrem
                Interesse als auch unserem Interesse an der Einhaltung der gesetzlichen Vorgaben beim Versand von
                Newslettern (berechtigtes Interesse im Sinne des Art. 6 Abs. 1 lit. f DSGVO). Die Speicherung in der
                Blacklist ist zeitlich nicht befristet. Sie können der Speicherung widersprechen, sofern Ihre Interessen
                unser berechtigtes Interesse überwiegen.
            </div>
            <h3 class="title is-4">
                SendinBlue GmbH
            </h3>
            <div class="block">
                Diese Website nutzt SendinBlue GmbH für den Versand von Newslettern. Anbieter ist
            </div>
            <div class="block">
                SendinBlue GmbH <br/>
                mit eingetragenem Geschäftssitz in <br/>
                Köpenicker Straße 126, 10179 Berlin, Deutschland <br/>
                Website: <a href="https://de.sendinblue.com">https://de.sendinblue.com</a><br/>
                (im Folgenden „SendinBlue“).
            </div>
            <div class="block">
                SendinBlue ist ein Dienst, mit dem u. a. der Versand von Newslettern organisiert und analysiert werden
                kann. Die von Ihnen zum Zwecke des Newsletterbezugs eingegeben Daten werden auf den Servern von
                SendinBlue gespeichert. Datenanalyse durch SendinBlue Unsere mit SendinBlue versandten Newsletter
                ermöglichen uns die Analyse des Verhaltens der Newsletterempfänger. Hierbei kann u. a. analysiert
                werden, wie viele Empfänger die Newsletternachricht geöffnet haben und wie oft welcher Link im
                Newsletter angeklickt wurde. Mithilfe des sogenannten Conversion-Trackings kann außerdem festgestellt
                werden, ob nach Anklicken der Links im Newsletter eine vorab definierte Aktion (z. B. Kauf eines
                Produkts, Teilen von Informationen auf sozialen Medien, Abmeldungen) erfolgt ist. Des Weiteren können
                wir auch erfassen, wann eine Newsletternachricht geöffnet wurde. Dies ermöglicht es uns,
                Newslettersendungen dann zuzustellen, wenn der jeweilige Newsletterempfänger voraussichtlich am
                aktivsten ist. Auch die Zeitzone des Newsletterempfängers kann hierbei berücksichtigt werden. SendinBlue
                bietet uns ferner die Möglichkeit, Newsletterempfänger anhand ihrer Interessen in Gruppen aufzuteilen.
                Auf diese Weise können wir unseren Newsletterempfängern möglichst interessengerechte Inhalte zur
                Verfügung stellen.
            </div>
            <div class="block">
                Weitere Informationen zu den Funktionen von SendinBlue erhalten Sie unter:
                <a href="https://de.sendinblue.com">https://de.sendinblue.com</a>.
            </div>

            <h3 class="title is-4">Rechtsgrundlage</h3>
            <div class="block">
                Die Datenverarbeitung erfolgt auf Grundlage Ihrer Einwilligung (Art. 6 Abs. 1 lit. a DSGVO). Sie können
                diese
                Einwilligung jederzeit widerrufen. Die Rechtmäßigkeit, der bereits erfolgten Datenverarbeitungsvorgänge
                bleibt
                vom Widerruf unberührt.
            </div>
            <h3 class="title is-4">Speicherdauer</h3>
            <div class="block">
                Die von Ihnen zum Zwecke des Newsletter-Bezugs bei uns hinterlegten Daten werden von uns bis zu Ihrer
                Austragung
                aus dem Newsletter bei uns bzw. dem Newsletterdiensteanbieter gespeichert und nach der Abbestellung des
                Newsletters aus der Newsletterverteilerliste gelöscht. Daten, die zu anderen Zwecken bei uns gespeichert
                wurden,
                bleiben hiervon unberührt.
            </div>
            <div class="block">
                Nach Ihrer Austragung aus der Newsletterverteilerliste wird Ihre E-Mail-Adresse bei uns bzw. dem
                Newsletterdiensteanbieter ggf. in einer Blacklist gespeichert, um künftige Mailings zu verhindern. Die
                Daten aus
                der Blacklist werden nur für diesen Zweck verwendet und nicht mit anderen Daten zusammengeführt. Dies
                dient
                sowohl Ihrem Interesse als auch unserem Interesse an der Einhaltung der gesetzlichen Vorgaben beim
                Versand von
                Newslettern (berechtigtes Interesse im Sinne des Art. 6 Abs. 1 lit. f DSGVO). Die Speicherung in der
                Blacklist
                ist zeitlich nicht befristet. Sie können der Speicherung widersprechen, sofern Ihre Interessen unser
                berechtigtes Interesse überwiegen.
            </div>
            <div class="block">
                Näheres entnehmen Sie den Datenschutzbestimmungen von SendinBlue unter:
                <a href="https://de.sendinblue.com/datenschutz-uebersicht/">https://de.sendinblue.com/datenschutz-uebersicht/</a>.
            </div>
            <div class="block">
                SendinBlue GmbH garantiert gemäß EU-Standardvertragsklausel einen angemessenen Umgang mit
                personenbezogenen
                Nutzerdaten.
            </div>
        </div>

        <div class="section">
            <h2 class="title is-3">6. Plugins und Tools</h2>
            <h3 class="title is-4">Vimeo</h3>
            <div class="block">
                Auf unserer Seite verwenden wir Videos von Vimeo, um über unser Projekt zu berichten. Da es nicht ohne weiteres möglich ist,
                die Videos lokal auf unserem Server zu hosten, nutzen wir das Angebot von Vimeo, einem Drittanbieter.
                Technisch bedingt kommt es durch die Einbindung von Vimeo Videos zu Aufrufen der Server von Vimeo.
                An den Vimeo-Server werden dabei Daten Ihres Browsers bzw. Ihres Endgerätes übermittelt.
                Es wird dabei auch übermittelt, welche unserer Internetseiten Sie besucht haben.
                Für die mit dem Abspielen eines Videos verbundene Verwendung von Daten Ihres Browsers bzw. Endgerätes verweisen wir auf die
                Datenschutzhinweise des Anbieters. Weitere Informationen zur Datenverarbeitung und Hinweise zum Datenschutz durch Vimeo
                finden Sie unter <a href="https://vimeo.com/privacy" target="_blank" rel="noopener">https://vimeo.com/privacy</a>.
            </div>

            <h3 class="title is-4">MapTiler</h3>
            <div class="block">
                Auf unserer Seite verwenden wir zur Veranschaulichung und Registrierung von Aktionen eine interaktive Karte des Drittanbieters MapTiler.
                Durch den Anbieter MapTiler werden keine personenbezogenen Daten gespeichert oder weitergegeben.
                Die IP wird bei Nutzung der MapTiler Cloud für 20 Minuten gespeichert und danach wieder gelöscht.
                Weitere Informationen zum Datenschutz durch MapTiler finden Sie unter:
                <a href="https://www.maptiler.com/privacy-policy/index.html" target="_blank" rel="noopener">https://www.maptiler.com/privacy-policy/index.html</a>
            </div>

            <h3 class="title is-4">Google Fonts</h3>
            <div class="block">
                Auf unserer Website verwenden wir Google Fonts. Das sind die „Google-Schriften“ der Firma Google Inc.
                Für den europäischen Raum ist das Unternehmen Google Ireland Limited (Gordon House, Barrow Street Dublin
                4, Irland) für alle Google-Dienste verantwortlich. Für die Verwendung von Google-Schriftarten müssen Sie
                sich nicht anmelden bzw. ein Passwort hinterlegen. Weiters werden auch keine Cookies in Ihrem Browser
                gespeichert. Die Dateien (CSS, Schriftarten/Fonts) werden über die Google-Domains fonts.googleapis.com
                und fonts.gstatic.com angefordert. Laut Google sind die Anfragen nach CSS und Schriften vollkommen
                getrennt von allen anderen Google-Diensten. Wenn Sie ein Google-Konto haben, brauchen Sie keine Sorge
                haben, dass Ihre Google-Kontodaten, während der Verwendung von Google Fonts, an Google übermittelt
                werden. Google erfasst die Nutzung von CSS (Cascading Style Sheets) und der verwendeten Schriftarten und
                speichert diese Daten sicher. Wie die Datenspeicherung genau aussieht, werden wir uns noch im Detail
                ansehen.
            </div>

            <h3 class="title is-5">Was sind Google Fonts?</h3>
            <div class="block">
                Google Fonts (früher Google Web Fonts) ist ein Verzeichnis mit über 800 Schriftarten,
                die Google Ihren Nutzern kostenlos zu Verfügung stellen. Viele dieser Schriftarten sind unter der SIL
                Open Font License veröffentlicht, während andere unter der Apache-Lizenz veröffentlicht wurden. Beides
                sind freie Software-Lizenzen.
            </div>

            <h3 class="title is-5">Warum verwenden wir Google Fonts auf unserer Webseite?</h3>
            <div class="block">
                Mit Google Fonts können wir auf der eigenen Webseite Schriften nutzen, und müssen sie
                nicht auf unserem eigenen Server hochladen. Google Fonts ist ein wichtiger Baustein, um die Qualität
                unserer Webseite hoch zu halten. Alle Google-Schriften sind automatisch für das Web optimiert und dies
                spart Datenvolumen und ist speziell für die Verwendung bei mobilen Endgeräten ein großer Vorteil. Wenn
                Sie unsere Seite besuchen, sorgt die niedrige Dateigröße für eine schnelle Ladezeit. Des Weiteren sind
                Google Fonts sichere Web Fonts. Unterschiedliche Bildsynthese-Systeme (Rendering) in verschiedenen
                Browsern, Betriebssystemen und mobilen Endgeräten können zu Fehlern führen. Solche Fehler können
                teilweise Texte bzw. ganze Webseiten optisch verzerren. Dank des schnellen Content Delivery Network
                (CDN) gibt es mit Google Fonts keine plattformübergreifenden Probleme. Google Fonts unterstützt alle
                gängigen Browser (Google Chrome, Mozilla Firefox, Apple Safari, Opera) und funktioniert zuverlässig auf
                den meisten modernen mobilen Betriebssystemen, einschließlich Android 2.2+ und iOS 4.2+ (iPhone, iPad,
                iPod). Wir verwenden die Google Fonts also, damit wir unser gesamtes Online-Service so schön und
                einheitlich wie möglich darstellen können.
            </div>

            <h3 class="title is-5">Welche Daten werden von Google gespeichert?</h3>
            <div class="block">
                Wenn Sie unsere Webseite besuchen, werden die Schriften über einen Google-Server
                nachgeladen. Durch diesen externen Aufruf werden Daten an die Google-Server übermittelt. So erkennt
                Google auch, dass Sie bzw. Ihre IP-Adresse unsere Webseite besucht. Die Google Fonts API wurde
                entwickelt, um Verwendung, Speicherung und Erfassung von Endnutzerdaten auf das zu reduzieren, was für
                eine ordentliche Bereitstellung von Schriften nötig ist. API steht übrigens für „Application Programming
                Interface“ und dient unter anderem als Datenübermittler im Softwarebereich. Google Fonts speichert CSS-
                und Schrift-Anfragen sicher bei Google und ist somit geschützt. Durch die gesammelten Nutzungszahlen
                kann Google feststellen, wie gut die einzelnen Schriften ankommen. Die Ergebnisse veröffentlicht Google
                auf internen Analyseseiten, wie beispielsweise Google Analytics. Zudem verwendet Google auch Daten des
                eigenen Web-Crawlers, um festzustellen, welche Webseiten Google-Schriften verwenden. Diese Daten werden
                in der BigQuery-Datenbank von Google Fonts veröffentlicht. Unternehmer und Entwickler nützen das
                Google-Webservice BigQuery, um große Datenmengen untersuchen und bewegen zu können. Zu bedenken gilt
                allerdings noch, dass durch jede Google Font Anfrage auch Informationen wie Spracheinstellungen,
                IP-Adresse, Version des Browsers, Bildschirmauflösung des Browsers und Name des Browsers automatisch an
                die Google-Server übertragen werden. Ob diese Daten auch gespeichert werden, ist nicht klar feststellbar
                bzw. wird von Google nicht eindeutig kommuniziert.
            </div>

            <h3 class="title is-5">Wie lange und wo werden die Daten gespeichert?</h3>
            <div class="block">
                Anfragen für CSS-Assets speichert Google einen Tag lang auf seinen Servern, die
                hauptsächlich außerhalb der EU angesiedelt sind. Das ermöglicht uns, mithilfe eines Google-Stylesheets
                die Schriftarten zu nutzen. Ein Stylesheet ist eine Formatvorlage, über die man einfach und schnell z.B.
                das Design bzw. die Schriftart einer Webseite ändern kann.
            </div>
            <div class="block">
                Die Font-Dateien werden bei Google ein Jahr
                gespeichert. Google verfolgt damit das Ziel, die Ladezeit von Webseiten grundsätzlich zu verbessern.
                Wenn Millionen von Webseiten auf die gleichen Schriften verweisen, werden sie nach dem ersten Besuch
                zwischengespeichert und erscheinen sofort auf allen anderen später besuchten Webseiten wieder. Manchmal
                aktualisiert Google Schriftdateien, um die Dateigröße zu reduzieren, die Abdeckung von Sprache zu
                erhöhen und das Design zu verbessern.
            </div>

            <h3 class="title is-5">Wie kann ich meine Daten löschen bzw. die Datenspeicherung verhindern?</h3>
            <div class="block">
                Jene Daten, die Google für einen Tag bzw. ein Jahr speichert können nicht einfach gelöscht werden. Die
                Daten werden beim Seitenaufruf automatisch an Google übermittelt. Um diese Daten vorzeitig löschen zu
                können, müssen Sie den Google-Support auf <a href="https://support.google.com/">https://support.google.com/</a>
                kontaktieren. Datenspeicherung verhindern Sie in diesem Fall nur, wenn Sie unsere Seite nicht besuchen.
            </div>
            <div class="block">
                Anders als andere Web-Schriften erlaubt uns Google uneingeschränkten Zugriff auf alle Schriftarten. Wir
                können also unlimitiert auf ein Meer an Schriftarten zugreifen und so das Optimum für unsere Webseite
                rausholen. Mehr zu Google Fonts und weiteren Fragen finden Sie auf <a
                    href="https://developers.google.com/fonts/faq">https://developers.google.com/fonts/faq</a>. Dort
                geht zwar Google auf datenschutzrelevante Angelegenheiten ein, doch wirklich detaillierte Informationen
                über Datenspeicherung sind nicht enthalten. Es ist relativ schwierig, von Google wirklich präzise
                Informationen über gespeicherten Daten zu bekommen.
            </div>
            <div class="block">
                Welche Daten grundsätzlich von Google erfasst werden
                und wofür diese Daten verwendet werden, können Sie auch auf <a
                    href="https://www.google.com/intl/de/policies/privacy/">https://www.google.com/intl/de/policies/privacy/</a>
                nachlesen.
            </div>

        </div>
    </div>
</div>

}