@()(implicit request: KWRequest[_])

@main("Klimabänder - die Aktion zusammengefasst", index=true, description=Some("Das Wichtigste über die Aktion Klimabänder auf einer Seite zusammengefasst")) {
}{
@header()
@headerBackground("Zusammengefasst", backgroundImage = Some("images/photos/klimabaender_omasforfuture_aktionenvorort.jpg"))

<main class="main-content">

    <section class="container is-max-desktop">
        <h2 class="title">Was sind Klimabänder?</h2>
        <p class="block">
            Alle Menschen können ihre Wünsche und Forderungen für
            klimagerechte Politik auf Bänder schreiben. Diese hängen im
            öffentlichen Raum, im Vorgarten oder am Fahrrad. Im
            September, kurz vor der Bundestagswahl, bringen wir einen Teil
            der Bänder zusätzlich per Fahrrad aus ganz Deutschland nach
            Berlin - zum <a href="/festival-der-zukunft">Festival der Zukunft</a>. So entsteht im Wahljahr eine
            Bewegung, die zum Nachdenken und Handeln anregt: Wir
            gemeinsam für unsere Erde!
        </p>
    </section>
    <section class="container is-max-desktop">
        <h2 class="title">Klimabänder-Aktionen Juni bis September</h2>
        <div class="block mb-6">
            <table class="table is-striped">
                <tbody>
                    <tr>
                        <td>Juni</td><td>Warm up - Aktionen</td>
                    </tr>
                    <tr>
                        <td>Juli</td><td>Bundesweiter Auftakt 10. Juli 2021</td>
                    </tr>
                    <tr>
                        <td>August</td><td>Klimabänder wehen in ganz Deutschland</td>
                    </tr>
                    <tr>
                        <td>Aug./Sept.</td><td><a href="@de.klimawuensche.info.routes.InfoController.mitradeln">Radtour nach Berlin</a></td>
                    </tr>
                    <tr>
                        <td>September</td><td>Berlin: <a href="/fahrraddemo-berlin">Fahrraddemo</a> 11. Sept. + <a href="/festival-der-zukunft">Festival der Zukunft</a> 11. - 12. Sept.</td>
                    </tr>
                    <tr>
                        <td>September</td><td>Bundestagswahl: 26. September - Ende der Aktionen</td>
                    </tr>
                </tbody>
            </table>
        </div>

        @imageWithText(Image.cdnStatic("images/gestalten/Howto.jpg?width=500", 1347, 1010, "Sammelstelle für Klimabänder"), reverseColumn=false) {
            <h2 class="title">Wie bastel ich ein Klimaband?</h2>
            <ol class="numbered-list">
                <li>Aus Stoffresten ein Band schneiden (3-4 cm breit, ca. 80-100
                    cm lang)</li>
                <li>Wasserfeste Stifte besorgen - Wachsmalstifte halten am längsten</li>
                <li>Klimawunsch formulieren - Band beschriften - flattern lassen</li>
            </ol>
        }

        @imageWithText(Image.cdnStatic("images/gestalten/Klimabaender-ideen-1.jpg?width=500&height=500&fit=cover", 500, 500, "Sammelstelle für Klimabänder"), reverseColumn=true) {
            <h2 class="title">Wo bekomme ich Bänder her?</h2>
            <ul class="bullet-list">
                <li>Aus Stoffresten selbst schneiden (alte Tischdecken, Bettlaken,
                    Gardinen...)
                <li>Aus Recycling-Material bestellen &rarr; mehr Informationen
                        in den <a href="/faq">häufigen Fragen</a>.
                <li>Vielleicht willst du auch eine Sammelbox für Stoffreste
                aufstellen?</li>
            </ul>
        }

        @imageWithText(Image.create("quadrate/mitmachen.jpg", 800, 800, "Sammelstelle für Klimabänder"), reverseColumn=false) {
            <h2 class="title">Wo und wie werden die Bänder gesammelt?</h2>
            <p>
                Jede:r kann Klimabänder basteln und öffentlich aufhängen. Du kannst
                aber auch Sammelstellen einrichten, z.B. bei dir zu
                Hause, an der Kirche, Bioläden o.ä. Dort können diese Bänder
                abgegeben werden und öffentlich hängen.
                Unter <a href="/mitmachen/sammeln">Klimabänder sammeln</a> erfährst du,
                wie du eine Sammelstelle einrichten und anmelden kannst.
            </p>
        }

    </section>

        <div class="imageContainer" style='background-image:url(@routes.Assets.versioned("images/photos/klimabaender_omasforfuture_mitmachen3.jpg"))'>
            <section class="container is-max-desktop">
                <h2 class="title">Wo kann ich Bänder aufhängen?</h2>
                <ul class="bullet-list">
                    <li>Auf privaten Grundstücken überall - natürlich mit
                        Zustimmung der Eigentümer: Im Garten oder am Zaun, in, an
                        und vor Kirchen, Läden, Cafés etc.</li>
                    <li>Im öffentlichen Raum: Die Rechtslage ist hier von Kommune
                        zu Kommune sehr unterschiedlich. Wenn du unsicher bist,
                        melde für einmalige Aktionen beim Ordnungsamt eine Demo
                        bzw. für Sammelstellen oder wehende Bänder eine
                        Sondernutzung beim Verkehrsamt an. Wenn du Bänder in Parks,
                        z.B. an Geländer oder Laternen bindest, musst du damit rechnen,
                        dass sie ggf. wieder entfernt werden. Bitte binde keine
                        Klimabänder an Bäume, wenn diese dabei beschädigt werden.</li>
                    <li>Bei Kooperationen mit Schulen, Kitas und anderen
                        Bildungseinrichtungen: Wenn es eigene Projekte sind, können
                        die Bänder dort ganz lange wehen...</li>
                </ul>
            </section>
        </div>

    <section class="container is-max-desktop">
        @imageWithText(Image.create("quadrate/wenig-aufwand-grosse-wirkung.jpg", 700, 700, "Fahrrad mit Klimabändern"), reverseColumn=false) {
            <h2 class="title">Muss (ich) mein Klimaband nach Berlin fahren?</h2>
            <ul class="bullet-list">
                <li>Wenn du möchtest, kannst du dein Band selbst (ein Stück)
                    nach Berlin radeln. Alle Infos dazu findest du auf der <a href="@de.klimawuensche.info.routes.InfoController.mitradeln">Radtour-Seite</a>.
                </li>
                <li>
                    Du kannst aber auch dein Band einfach <a href="/mitmachen#verbreiten">öffentlich flattern
                    lassen</a>: An deinem Fahrrad, im Vorgarten, am Zaun oder an einer
                    Sammelstelle - dort, wo es viele Menschen sehen können!
                </li>
            </ul>
        }

        <h2 class="title">Diese Seite als PDF</h2>
        <p class="block">Wenn du diese Kurzzusammenfassung der Klimabänder-Aktion
            als kompaktes PDF zum Beispiel per E-mail verschicken möchtest, kannst du
            <a href='@routes.Assets.versioned("documents/klimabaender-zusammenfassung.pdf")'>diese Datei herunterladen</a>.
        </p>

        <h2 class="title">Noch Fragen?</h2>
        <p class="block">
            Viele Antworten findest du in den <a href="/faq">häufigen Fragen</a>.
        </p>
        <p>
            Zu vielen Themen gibt es auch eigene Seiten, zum Beispiel:
            <ul class="bullet-list">
                <li><a href="/mitmachen/sammeln">Klimabänder sammeln</a>: Alle Infos für Sammelstellen und Veranstaltungen</li>
                <li><a href="/downloads">Downloads</a>: Hier findest du Material, das du für die Einrichtung einer Sammelstelle oder für die Öffentlichkeitsarbeit nutzen kannst</li>
                <li><a href="@de.klimawuensche.info.routes.InfoController.mitradeln">Alles über die Radtour</a></li>
                <li><a href="/ueber-uns">Über uns</a>: Wie ist die Idee entstanden und wer sind die Unterstützer:innen?</li>
                <li><a href="/mitmachen">Mitmachen</a>: Welche verschiedenen Möglichkeiten gibt es, mich an der Aktion zu beteiligen?</li>
                <li>Unter <a href="/kontakt">Kontakt</a> findest du E-Mail-Adressen, über die wir erreichbar sind und Telegram-Gruppen für Diskussionen und aktuelle Infos.
                </li>
            </ul>
        </p>
    </section>

</main>

}