@()(implicit request: KWRequest[_])

@main("Klimabänder - Unterstützer:innen", index=true, description=Some("Erst eine große Gemeinschaft macht es möglich, dass im Sommer Klimabänder auf Deutschlands Straßen wehen. Viele Initativen unterstützen die Aktion.")) {
}{
@header()
@headerBackground("Unterstützer:innen", backgroundImage = Some("images/photos/video-screenshot.jpg"),
    pagesBetween = Seq(Page.UeberUns))


<main class="main-content">

    <section class="container is-max-desktop">
        <h2 class="title">Eine große Gemeinschaft macht es möglich</h2>
        <p class="block">
            Die Aktion Klimabänder lebt von allen, die das Projekt unterstützen. Diejenigen, die Sammelstellen organisieren, den vielen Aktionen bei denen gesammelt wird sowie den vielen Akteuren, die sich in Berlin für das Festival der Zukunft vernetzen. Erst diese große Gemeinschaft macht es möglich, dass diesen Sommer bunte Bänder auf Deutschlands Straßen wehen.
        </p>
        
        @imageWithTextRound(Image.create("logos/logo_parents4future_360.png", 360, 361, "Logo Parents for Future")) {
            <h3 class="title">Parents For Future</h3>
            <p class="block">
                WIR sind Parents for Future! Wir sind erwachsene Menschen der Eltern- und Großelterngeneration - und wir lassen nicht zu, dass die Zukunft der jungen und folgenden Generationen durch klimapolitisches Versagen in einer Katastrophe endet! Als Teil der Klimaschutzbewegung organisieren und unterstützen wir verschiedene Aktionen, suchen den Kontakt zur Politik und sorgen für Aufklärung über Klimaschutz in der Öffentlichkeit.
            </p>
            <a class="button-blue" href="https://www.parentsforfuture.de/de/" target="_blank">Zur Website</a>
        }
        @imageWithTextRound(Image.create("logos/logo_studentsforfuture_360.png", 352, 352, "Logo Students for Future"), reverseColumn=true) {
            <h3 class="title">Students For Future</h3>
            <p class="block">
                Ohne Kerosin Nach Berlin 2021 (OKNB), die Fahrradprotesttour ausgehend von Students for Future, freut sich über die Initiative der Klimabänder durch die Omas for Future. Es wird eine niedrigschwellige Möglichkeit geschaffen persönliche Anliegen zur Klimakrise zu äußern und sichtbar zu machen. Es zeigt außerdem: Wir sind viele! Gerne bringen wir die zahlreichen Stimmen mit dem Rad nach Berlin und machen so die Forderung nach einer gesamtgesellschaftlichen Transformation deutlich. Im Wahljahr 2021 ist es wichtiger denn je, dass ältere Generationen den Mut fassen und ihre Stimme für jüngere und kommende Generationen einsetzen.
            </p>
            <a class="button-blue" href="https://studentsforfuture.info/" target="_blank">Zur Website</a>
        }
        @imageWithTextRound(Image.create("logos/logo_churchesforfuture.png", 334, 334, "Logo Churches for Future")) {
            <h3 class="title">Churches For Future</h3>
            <p class="block">
                Klimapolitik ist Zukunftspolitik: die Klimabänder machen auf eindrucksvolle und vielfältige Weise sichtbar, wie viele Menschen sich um die Zukunft Sorgen machen und dass die Zeit zum Handeln immer knapper wird. Gleichzeitig spenden sie Hoffnung und verbinden die Menschen. Genau deshalb unterstützen Churches For Future diese Aktion. 
            </p>
            <a class="button-blue" href="https://www.kirchen-fuer-klimagerechtigkeit.de/churches-for-future" target="_blank">Zur Website</a>
        }
        @imageWithTextRound(Image.create("logos/logo_creativesforfuture.png", 369, 369, "Logo Creatives for Future"), reverseColumn=true) {
        <h3 class="title">Creatives For Future</h3>
        <p class="block">
            Wir sind eine Initiative von Designer:innen und Kommunikationsexperten:innen, die dafür kämpfen, Nachhaltigkeit in den Mittelpunkt der Entscheidungsfindung von Menschen und Unternehmen zu stellen. Die Kampagne „Klimabänder“ sehen wir als große Chance, dass viele Menschen zeigen können, dass ihnen eine lebenswerte Zukunft mit intakten Ökosystemen sehr wichtig ist.
        </p>
        <a class="button-blue" href="https://creativesforfuture.de/" target="_blank">Zur Website</a>
        }
        @imageWithTextRound(Image.create("logos/logo_healthforfuture.png", 400, 400, "Logo Health for Future")) {
            <h3 class="title">Health For Future</h3>
            <p class="block">
                Die Klima- und Umweltkrisen sind die größte globale Gesundheitsbedrohung, der die Welt im 21. Jahrhundert gegenübersteht. Alle Menschen, aber insbesondere sozial benachteiligte Bevölkerungsgruppen, leiden unter den negativen gesundheitlichen Folgen dieser Krisen. Gleichzeitig wirken sich gerecht gestaltete Klima- und Umweltschutzmaßnahmen – neben der Abmilderung der Klimakrise – oft auch unmittelbar positiv auf die Gesundheit aus und sind somit eine große Chance. Bei Health for Future engagieren sich Akteur*innen des Gesundheitswesens deshalb für Gesundheit und Klimaschutz.
            </p>
            <a class="button-blue" href="https://healthforfuture.de/" target="_blank">Zur Website</a>
        }
        @imageWithTextRound(Image.create("logos/logo_klimawette-rund.png", 500, 500, "Logo Klimawette"), reverseColumn=true) {
            <h3 class="title">Klimawette</h3>
            <p class="block">
                Wir von der Klimawette wissen, was es bedeutet Großes anzustreben, Wünsche zu haben, sich mit anderen zusammenzuschließen, um heute schon das Unmögliche möglich zu machen - besserer und effektiverer Klimaschutz! Im Namen des gesamten Teams der Klimawette freue ich mich, das Projekt Klimabänder der Omas for Future zu unterstützen. Wir werden auf unserer Sommertour quer durch Deutschland natürlich Klima-Wunschzettel mitnehmen und mit dem Rad zur Bundestagswahl nach Berlin bringen. Zum Glück haben wir ein großes Fass dabei – kein Wunsch für eine enkeltaugliche Zukunft wird uns zu groß oder zu schwer sein!
            </p>
            <a class="button-blue" href="https://www.dieklimawette.de/" target="_blank">Zur Website</a>
        }
        @imageWithTextRound(Image.create("logos/logo_changingcities.svg", 100, 100, "Logo Changing Cities"), reverseColumn=false) {
            <h3 class="title">Changing Cities</h3>
            <p class="block">
                Wir fördern zivilgesellschaftliches Engagement für lebenswertere Städte. Das bislang größte Projekt von Changing Cities e.V. ist der Volksentscheid Fahrrad in Berlin, mit dem es 2016 gelang, die Berliner Verkehrspolitik zu drehen und das bundesweit erste Mobilitätsgesetz anzustoßen. Changing Cities e.V. unterstützt landes- und bundesweit Bürger*inneninitiativen, die sich im Bereich nachhaltige Verkehrswende und lebenswerte Städte einsetzen, mit Kampagnenwissen oder stößt solche Initiativen an. Changing Cities ist als gemeinnützig anerkannt.
            </p>
            <a class="button-blue" href="https://changing-cities.org/" target="_blank">Zur Website</a>
        }
       
    </section>

</main>
}
