@()(implicit request: KWRequest[_])

@main("Klimabänder - Team", index=true, description=Some("Hinter der Aktion Klimabänder steht ein diverses Team an Vernetzer:innen, Koordinator:innen, Designer:innen, Programmierer:innen und Kommunikator:innen.")) {
}{
@header()
@headerBackground("Team", backgroundImage = Some("images/photos/klimabaender_omasforfuture_ueberuns2.jpg"),
    pagesBetween = Seq(Page.UeberUns))

<main class="main-content">

    <section class="container is-max-desktop">
        <h2 class="title">Das Herzstück der Aktion</h2>
        <p class="block">
            Wir sind noch ein kleines Team, das generationsübergreifendes Arbeiten lebt. Cordula und Harry haben die Initiative Omas for Future gegründet.
            Harry ist der Wissenschafts-Watchdog in unserem Team und prüft relevante Studien und Veröffentlichungen.
            Cordula ist unsere Frontfrau, sie hält Vorträge, vernetzt uns in alle Richtungen und ist die Visionärin in unserem Team.
            Maxie hilft unseren Regionalgruppen bei der Vernetzung und koordiniert unsere überregionalen Projekte.
            Annika betreut die sozialen Medien und optimiert interne Prozesse.
        </p>
        <div class="twoColumnsContainer">
            <div class="firstColumn">
                @imageWithTextTop(Image.create("quadrate/Cordula-Weimann.jpg", 500, 500, "Cordula Weimann"), reverseColumn=true) {
                    <h3 class="title small">Cordula Weimann</h3>
                }
            </div>
            <div class="secondColumn">
                @imageWithTextTop(Image.create("quadrate/Harry-Lehmann.jpg", 500, 500, "Harry Lehmann")) {
                    <h3 class="title small">Harry Lehmann</h3>
                }
            </div>
        </div>

        <div class="twoColumnsContainer">
            <div class="firstColumn">
                @imageWithTextTop(Image.create("quadrate/Maxie-Wolf.jpg", 500, 500, "Maxie Wolf")) {
                    <h3 class="title small">Maxie Wolf</h3>
                    <p class="block">
                        <strong>Projektmanagerin</strong><br>
                        Wer sich bei Omas for Future engagieren will, landet zuerst bei mir: Mit großem Spaß betreue ich die Regionalgruppen und koordiniere unsere überregionalen Aktivitäten. 
                    </p>
                }
            </div>
            <div class="secondColumn">
                @imageWithTextTop(Image.create("quadrate/Annika-Wiese.jpg", 500, 500, "Annika Wiese"), reverseColumn=true) {
                    <h3 class="title small">Annika Wiese</h3>
                    <p class="block">
                        <strong>Öffentlichkeitsarbeit</strong><br>
                        Mit kreativen Ideen und einer gesunden Portion Aktionismus setze ich mich für die Klimabänder ein. Bei den Omas for Future konzipiere und koordiniere unseren öffentlichen Auftritt in Zeitung und den Sozialen Medien. Ich bin davon überzeugt, dass wir nur gemeinsam unsere Vision einer lebenswerten Zukunft erreichen können. 
                    </p>
                }
            </div>
        </div>
       
    </section>

    <section class="container is-max-desktop">
        <h2 class="title">Design-, Website-, und Orga-Team</h2>
        <p class="block">
            Gemeinsam für unsere Erde bedeutet auch, ein großes Netzwerk von verschiedenen Bewegungen und Organisationen, die alle das gleiche Ziel haben:
            Unsere Erde als Lebensraum zu erhalten. Gemeinsam wollen wir die Klimabänder deutschlandweit sichtbar machen und die
            vielen Aktionen und Initiativen mit ins Boot holen. Denn eines steht fest: Die Klimabänder haben das Potenzial, das
            Symbol der Gemeinschaft aller Menschen im Einsatz für unsere Erde, unser Klima, unsere Natur zu werden.
        </p>


        <div class="twoColumnsContainer">
            <div class="firstColumn">
                @imageWithTextTop(Image.create("quadrate/Alexandra-Koerber.jpg", 500, 500, "Alexandra Körber"), reverseColumn=true) {
                    <h3 class="title small">Alexandra Körber</h3>
                    <p class="block">
                        <strong>Advertising & Branding Designerin</strong><br>
                        Mit viel Freude habe ich die Markenstrategie und das Designkonzept der Kampagne Klimabänder entwickelt und den späteren Designprozess, sowie verschiedene Druckmittel betreut und entworfen.  
                    </p>
                    <p class="block">
                        <a href="https://www.linkedin.com/in/alexandra-körber-8801a8136/" target="_blank" rel="noopener">Linkedin</a>
                        @** Not yet online: | <a href="https://www.matchmaker-design.de/" target="_blank" rel="noopener">Website</a> **@
                    </p>
                }
            </div>
            <div class="secondColumn">
                @imageWithTextTop(Image.create("quadrate/Anna-Haeger.jpg", 500, 500, "Anna Häger")) {
                    <h3 class="title small">Anna Häger</h3>
                    <p class="block">
                        <strong>Branding, Illustrationen, Social Media </strong><br>
                        Ich bin selbstständige Grafikerin und liebe es Corporate Designs und Illustrationen für Projekte mit einem guten Zweck zu entwickeln.
                    </p>
                    <p class="block">
                        <a href="https://www.anna-haeger.com" target="_blank" rel="noopener">anna-haeger.com</a> |
                        <a href="https://www.instagram.com/annahaeger.design/" target="_blank" rel="noopener">Instagram</a> |
                        <a href="https://www.facebook.com/Anna-H%C3%A4ger-Design-101437835448969" target="_blank" rel="noopener">Facebook</a>
                    </p>
                }
            </div>
        </div>

        <div class="twoColumnsContainer">
            <div class="firstColumn">
                @imageWithTextTop(Image.create("quadrate/Anna-Volkmann.jpg", 500, 500, "Anna Theresa Volkmann")) {
                    <h3 class="title small">Anna Theresa Volkmann</h3>
                    <p class="block">
                        <strong>UX Designerin</strong><br>
                        Mit Strategie, Konzept und Design unterstütze ich die Omas4Future bei diesem großartigen Projekt. So trage ich einen kleinen Teil zum Klimaaktivismus bei und kann mich dabei kreativ ausleben.  
                    </p>
                    <p class="block">
                        <a href="https://www.linkedin.com/in/anna-theresa-volkmann-250b80146/" target="_blank" rel="noopener">Linkedin</a> |
                        <a href="https://www.xing.com/profile/AnnaTheresa_Volkmann/cv" target="_blank" rel="noopener">XING</a> |
                        <a href="https://www.instagram.com/annatheresavolkmann/" target="_blank" rel="noopener">Instagram</a>
                    </p>
                }
            </div>
            <div class="secondColumn">
                @imageWithTextTop(Image.create("quadrate/Janine-Schulz.jpg", 500, 500, "Janine Schulz"), reverseColumn=true) {
                    <h3 class="title small">Janine Schulz</h3>
                    <p class="block">
                        <strong>Brand & Media Managerin</strong><br>
                        Mit Expertise aus der Marken- und Medienwelt wirbt sie für ein positives Image von Klimaschutz und mehr Reichweite für das Thema in der Gesellschaft.   
                    </p>
                    <p class="block">
                        <a href="https://www.linkedin.com/in/janineschulz" target="_blank" rel="noopener">Linkedin</a>
                    </p>
                }
            </div>
        </div>

        <div class="twoColumnsContainer">
            <div class="firstColumn">
                @imageWithTextTop(Image.create("quadrate/Katarina-Jurczok.jpg", 500, 500, "Katarina Jurczok"), reverseColumn=true) {
                    <h3 class="title small">Katarina Jurczok</h3>
                    <p class="block">
                        <strong>Conceptionerin</strong><br>
                        Mit Know-how zu Content, Concept und Social Media tobt sie sich auch bei uns kreativ aus. 
                    </p>
                }
            </div>
            <div class="secondColumn">
                @imageWithTextTop(Image.create("quadrate/Michael-Gottschalk.jpg", 500, 500, "Michael Gottschalk")) {
                    <h3 class="title small">Michael Gottschalk</h3>
                    <p class="block">
                        <strong>Softwareentwickler</strong><br>
                        Ich programmiere an Backend und Frontend der Website und koordiniere das Entwicklungsteam.
                        Der gesamte Quelltext ist übrigens frei verfügbar bei <a href="https://gitlab.com/klimawuensche" target="_blank" rel="noopener">Gitlab</a>.
                    </p>
                    <p class="block">
                        <a href="https://www.linkedin.com/in/michael-gottschalk/" target="_blank" rel="noopener">Linkedin</a> | <a href="https://www.xing.com/profile/Michael_Gottschalk9" target="_blank" rel="noopener">XING</a> | <a href="https://gitlab.com/mgottschalk" target="_blank" rel="noopener">GitLab</a>
                    </p>
                }
            </div>
        </div>

        
        <div class="twoColumnsContainer">
            <div class="firstColumn">
                @imageWithTextTop(Image.create("quadrate/Platzhalter.jpg", 500, 500, "Platzhalter Bild")) {
                    <h3 class="title small">Moritz Wagner </h3>
                    <p class="block">
                        <strong>Softwareentwickler</strong><br>
                        Ich arbeite an unserer Cloud-Infrastruktur und dem Deployment unserer Website. 
                    </p>
                    <p class="block">
                        <a href="https://gitlab.com/diskordanz" target="_blank" rel="noopener">GitLab</a>
                    </p>
                }  
            </div>
            <div class="secondColumn">
                @imageWithTextTop(Image.create("quadrate/Stephanie-Ebbert.jpg", 500, 500, "Sammelstelle für Klimabänder"), reverseColumn=true) {
                    <h3 class="title small">Stephanie Ebbert</h3>
                    <p class="block">
                        <strong>Designerin</strong><br>
                        Ich arbeite als UX Designer und unterstütze die ForFuture-Bewegung um mehr Menschen davon überzeugen, dass es notwendig ist, JETZT bei der Klimakrise zu HANDELN. 
                    </p>
                    <p class="block">
                        <a href="https://www.linkedin.com/in/stephanie-ebbert-9817b5154/" target="_blank" rel="noopener">Linkedin</a> | <a href="https://www.xing.com/profile/Stephanie_Ebbert" target="_blank" rel="noopener">XING</a>
                    </p>  
                }
            </div>
        </div>

    </section>

</main>
}