@use "../../css/variables.scss";

.listItem {
  margin-bottom: 1em;
  padding: 1em;
  border-radius: variables.$defaultBorderRadius;
  background-color: variables.$kwGrey;
}

.sloganField {
  position: relative;
}

.autocompletion {
  position: absolute;
  z-index: 100;
  width: 100%;
  background-color: white;
  box-shadow: variables.$darkBoxShadow;
  cursor: pointer;

  li:hover, .isSelected {
    background-color: variables.$kwGrey;
  }
}
