@import de.klimawuensche.locations.ClimateAction
@import play.api.libs.json.Json
@(action: ClimateAction)(implicit req: KWRequest[_])

@main(s"Radtour-Daten für ${action.content.name}", index=false) {

    @action.bikeTourData.map { data =>
        @views.html.helper.script(args = Symbol("type") -> "text/javascript") {
            window.bikeTourData = @Html(Json.toJson(data).toString);
        }
    }

    @includeCss("manageCollectedRibbons_css")
    @includeJsAndCss("ActionBikeTourSettings")

}{

@header()
@headerBackground("Radtour-Daten", pagesBetween = Seq(Page.MyActions))

<section class="container is-max-desktop">
    <div class="mb-4">
        <a href="@Page.MyActions.url">&larr; Zurück zur Liste</a>
    </div>

    <div class="actionContainer">
        <div class="actionLabel">Für deine @action.actionType.germanName:</div>
        <div class="actionTitle">@action.content.name</div>
        <div class="actionAddress">@action.content.address, @action.content.city</div>
    </div>

    <kb-action-biketour-settings action-id="@action.id" action-type="@action.actionType.entryName" transport-option='@action.transportOption.getOrElse("")'></kb-action-biketour-settings>

</section>

}