@use "./variables.scss";

.aboutUs {
    .twoColumns {
        .first-column {
            margin: 0;
        }
        .second-column {
            margin: 0;
            padding-top: 2em;
        }
        
        @media screen and (min-width: 769px) {
          display: flex;
          gap: 2em;
          .first-column {
            flex: 25%;
          }
          .second-column {
            flex: 75%;
            padding: 0;
          }
      
        }
    }
}