@use "./variables.scss";

.titleContainer {
  margin-top: -1em;
  margin-bottom: 1.5em;

  .action-type {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;

    kb-climate-action-icon {
      display: inherit;
      margin-right: 0.3em;
    }
  }

}

.action-description {
  white-space: pre-wrap;
  background-color: variables.$kwGrey;
  padding: 1em;
  border-radius: variables.$defaultBorderRadius;
  margin-bottom: 1.5em;
  font-weight: bold;
}

.timespan {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  border-bottom: 2px variables.$kwGrey solid;
}

.map-and-address {
  display: flex;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;

  @media screen and (max-width: 549px) {
    flex-direction: column;

    .map-container {
      display: flex;
      width: 100%;
      height: 250px;
      margin-top: 1.5rem;
    }
  }

  @media screen and (min-width: 550px) {
    justify-content: stretch;

    .map-container {
      display: flex;
      flex-grow: 1;
      flex-basis: 50%;
      min-width: 250px;
      min-height: 250px;
    }

    .address {
      width: 250px;
      flex-shrink: 1;
      margin-right: 2em;
    }
  }

}

h3.subtitle {
  font-family: variables.$headerFontFamily;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: variables.$kwBlue;
  margin-bottom: 0.5rem !important;

  &:not(:first-child) {
    margin-top: 1rem;
  }
}

.collected-ribbons-container {
  background-color: variables.$kwBlue;
  border-radius: variables.$defaultBorderRadius;
  margin-top: 1.5em;
  margin-bottom: 1.5em;

  display: flex;
  justify-content: center;
  align-items: center;

  .ribbons-count {
    margin-left: 1rem;
    margin-right: 1rem;
    font-family: variables.$headerFontFamily;
    font-size: 3em;
    color: variables.$kwOrange;
  }

  .ribbons-count-label {
    margin-right: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: white;
  }
}