@charset "utf-8";
@use "./variables.scss";

@import "./bulma.scss";
@import "./titles.scss";

.admin-content {
  padding: 1rem;
}


.admin-header {
  background-image: url(../../../backend/public/images/video-teaser-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: inset 0 0 0 2000px rgba(34, 48, 109, 0.6);

  padding: 1em;

  .admin-header-title-container {
    display: flex;
    justify-content: space-between;
    color: white;

    .admin-header-title {
      flex-grow: 1;
      text-align: center;

      h1, h2 {
        font-family: variables.$headerFontFamily;
        text-transform: uppercase;
      }

      h1 {
        font-size: 2rem;
      }
      h2 {
        font-size: 1rem;
      }
    }
  }

  .admin-navigation {
    margin-top: 0.5rem;
    color: white;
    a {
      color: white;
      font-weight: bold;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.stat-items {
  &>div {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .stat-number {
      font-size: 2em;
      font-weight: bold;
      min-width: 3em;
      text-align: right;
      margin-right: 0.5em;
    }
  }
}

.admin-footer {
  margin-top: 100px;
  background-color: variables.$lightGrayBackground;
  padding: 1em;
  display: flex;
  justify-content: center;
}