@use "./variables.scss";

$family-sans-serif: variables.$defaultFontFamily;

$primary: variables.$kwBlue;
$info: variables.$kwOrange;
$body-color: variables.$defaultFontColor;
$title-color: variables.$defaultFontColor;
$label-color: variables.$defaultFontColor;
$strong-color: variables.$defaultFontColor;
$content-heading-color: variables.$defaultFontColor;

@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";
@import "~bulma/sass/grid/columns.sass";
@import "~bulma/sass/elements/button.sass";
@import "~bulma/sass/elements/container.sass";
@import "~bulma/sass/elements/content.sass";
@import "~bulma/sass/elements/other.sass";
@import "~bulma/sass/elements/tag.sass";
@import "~bulma/sass/elements/title.sass";
@import "~bulma/sass/elements/notification.sass";
@import "~bulma/sass/layout/section.sass";
@import "~bulma/sass/layout/hero.sass";
@import "~bulma/sass/form/_all.sass";
@import "~bulma/sass/helpers/spacing.sass";
@import "~bulma/sass/helpers/color.sass";
@import "~bulma/sass/helpers/typography.sass";
@import "~bulma/sass/helpers/other.sass";
@import "~bulma/sass/components/message.sass";
@import "~bulma/sass/components/modal.sass";
@import "~bulma/sass/elements/table.sass";
@import "~bulma/sass/components/navbar.sass";
@import "~bulma/sass/components/pagination.sass";
@import "~bulma/sass/components/tabs.sass";
