@use "./variables.scss";

.event {

  display: flex;
  align-items: center;
  margin-bottom: 1em;

  .event-date {
    font-family: variables.$headerFontFamily;
    font-size: 1.5rem;
    line-height: 1.2;
    padding-right: 1rem;
    white-space: nowrap;
    min-width: 70px;
  }

  .event-name {
    font-weight: bold;
    line-height: 1.2;
  }

  .event-details {
    font-size: 0.9rem;
    line-height: 1.2;
  }

  .event-icon {
    padding-right: 1rem;
    width: 45px;
    flex-shrink: 0;

    @media screen and (max-width: 380px) {
      display: none;
    }
  }
}