@use "./variables.scss";


.day-title {
  text-decoration: underline;
}

.day-columns {

  .day-column:not(:last-child) {
    margin-bottom: 2rem;
  }

  @media screen and (min-width: 800px) {
    display: flex;

    .day-column {
      width: 50%;
      margin-bottom: 0;

      &:first-child {
        margin-right: 1.5em;
        padding-right: 1em;
        border-right: 1px #ccc dashed;
      }
    }
  }
}

.hour {

  display: flex;
  align-items: flex-start;
  margin-bottom: 0.5em;

  .time-column {
    padding-right: 1rem;
    min-width: 70px;

    .time {
      font-family: variables.$headerFontFamily;
      font-size: 1.5rem;
      line-height: 1.2;
      white-space: nowrap;
    }
    .day {
      font-size: 0.8rem;
      color: variables.$lightText;
    }
  }

  

  .location-name {
    font-family: variables.$headerFontFamily;
    font-size: 1.3rem;
    text-transform: uppercase;
    line-height: 1.3;
    margin-bottom: 0.2em;
  }

  .location-content {
    margin-bottom: 0.8rem;
  }

  .act-description {
    font-size: 0.8rem;
    color: variables.$lightText;
    margin-bottom: 0.5em;
    line-height: 1.2;
  }

}