@use "./variables.scss";

.footer {

  position: relative;
  min-height: 200px;

  background-image: url(../../../backend/public/images/landschaft-neu.svg);
  background-size: 100% 90px;
  background-position-y: bottom;
  background-repeat: no-repeat;

  .bear-footer {
    width: 60px;
    height: auto;
    margin-right: 15px;
    margin-left: 15px;
  }

  .einklang-logo {
    min-width: 130px;
    max-width: 130px;
    height: auto;
    margin-bottom: -16px;
    margin-right: -10px;
    margin-left: -10px;
  }

  @media screen and (max-width: 918px) {
    background-size: 100% 145px;
  }

  @media screen and (max-width: 520px) {
    background-size: 100% 200px;
    min-height: 250px;

    .bear-footer {
      width: 50px;
      margin-bottom: 100px;
      margin-left: -20px;
      margin-right: -20px;
    }
  }

  .footer-links {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;

    a {
      color: variables.$defaultFontColor;
      font-weight: bold;

      &:hover {
        text-decoration: underline;
      }
    }

    a:not(last-child) {
      margin-right: 1.5em;
    }

    .footer-links-right {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-end;

      div {
        display: flex;

        .social-media-links {
          display: flex;
          flex-wrap: wrap;
          align-items: flex-end;
          min-width: 40px;

          a:not(last-child) {
            margin-right: 0.7em;
          }
        }
      }
    }
  }

}
