@use "./variables.scss";

$headerHeight: 130px;

.main-header {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1; // needs to be above the video

  .header-logo {
    flex-shrink: 0;
  }

  .header-items {
    padding: 1em;
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (min-width: 769px) {
      padding: 2em;
    }
  }

  .header-links {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 550px) {
      display: none;
    }
  }

  .header-link {
    text-align: center;
    font-family: variables.$headerFontFamily;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: white;
    margin-left: 12px;
    margin-right: 12px;
    line-height: 1.1em;

    &:hover {
      color: white;
      text-decoration: underline;
    }
  }

  .header-meta-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: 0.8em;
    margin-left: 3rem;

    a {
      color: white;
      margin-left: 10px;
      margin-right: 10px;

      &:hover {
        color: white;
        text-decoration: underline;
      }

      
    }

    @media screen and (max-width: 950px) {
      display: none;
    }
  }

  .social-media-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a.social-media-button {
      width: 30px;
      min-width: 30px;

      &:first-child {
        margin-right: 0.7em;
      }

      img {
        vertical-align: middle;
      }
    }

    @media screen and (max-width:1210px) {
      display: none;
    }
  }

  .login-link {
    margin-left: 1em;
    a {
      display: inline-block;
      padding: 5px 18px;
      color: variables.$defaultFontColor;
      text-align: center;
      background-image: url(../../../backend/public/images/button_bg_white.svg);
      background-size: 100% 100%;
    }

    @media screen and (max-width:670px) {
      display: none;
    }
  }


  .header-burger-menu {
    margin-left: 1em;
    flex-shrink: 0;

    @media screen and (min-width: 951px) {
      display: none;
    }
  }

}

$ribbon-desktop-width: 500px;

.header-background {
  width: 100%;
  height: 400px;
  overflow: hidden;
  background-image: url(../../../backend/public/images/video-teaser-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: inset 0 0 0 2000px rgba(34, 48, 109, 0.6);

  .header-ribbon {
    width: 120%;
    max-width: 768px;
    min-width: 430px;
    margin-bottom: -100px;
    margin-left: auto;

    @media screen and (max-width: 769px) {
      display: block;
      margin-bottom: 0;
      margin-left: auto;
    }

    @media screen and (min-width: $ribbon-desktop-width) {
      display: block;
      margin-bottom: -100px;
      margin-left: auto;
    }

    .ribbon-main {
      fill: variables.$ribbonColor;
    }

    .ribbon-headline {
      font-family: variables.$headerFontFamily;
      text-transform: uppercase;
      font-size: 120px;
      letter-spacing: 8px;
      fill: white;
    }
  }

  .main-headline-container {
    position: relative;
    top: 100px;

    @media screen and (min-width: $ribbon-desktop-width) {
      top: 100px;
    }

    h1,
    h2 {
      color: white;
    }
  }

  h2.title {
    font-size: 2.2rem;
  }

}

.breadcrumbs {
  padding-top: 1em !important;
  padding-bottom: 1em !important;

  div {
    font-size: 0.8em;
  }
  h1 {
    display: inline;
  }
  a {
    text-decoration: underline;
    color: variables.$defaultFontColor;
  }
}


// Remove the extra padding for sections inside containers from Bulma
.container .section {
  padding: 0;
  padding-bottom: 3rem;
}