@use "./variables.scss";

.home-teaser {
    width: 90%;
    border-radius: variables.$defaultBorderRadius;
    //box-shadow: variables.$darkBoxShadow;
    margin-bottom: 2rem;
}

.stats-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: variables.$headerFontFamily;
  font-size: 2rem;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .stat-number {
    color: variables.$kwOrange;
    padding-right: 0.2rem;
  }

  .stat-item {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  @media screen and (max-width: 400px) {
    font-size: 1.7rem;
  }
}

.events-table {
  width: 100%;
  margin-bottom: 0.5rem;

  td {
    vertical-align: top;
    padding-bottom: 1rem;
  }

  .event-date {
    font-family: variables.$headerFontFamily;
    font-size: 1.5rem;
    line-height: 1.2;
    padding-right: 1rem;
    max-width: 200px;

    @media screen and (min-width: 550px) {
      white-space: nowrap;
    }
  }

  .event-name {
    font-weight: bold;
    line-height: 1.2;
  }

  .event-details {
    font-size: 0.9rem;
    line-height: 1.2;
  }

  .event-icon {
    padding-left: 1rem;
    width: 45px;

    @media screen and (max-width: 380px) {
      display: none;
    }
  }
}

.svg-map {

  @keyframes move {
    from {opacity: 0; }
    to {opacity: 1;}
  }

  #Marker1 {
    opacity: 0;
    animation: move 1s linear 0s normal forwards;
  }
  #Marker2 {
    opacity: 0;
    animation: move 1s linear 1s normal forwards;
  }
  #Marker3 {
    opacity: 0;
    animation: move 1s linear 2s normal forwards;
  }
  #Marker4 {
    opacity: 0;
    animation: move 1s linear 4s normal forwards;
  }
  #Marker5 {
    opacity: 0;
    animation: move 1s linear 5s normal forwards;
  }
  #Marker6 {
    opacity: 0;
    animation: move 1s linear 7s normal forwards;
  }

  #Fahne1 {
    opacity: 0;
    animation: move 1s linear 3s normal forwards;
  }

  #Fahne2 {
    opacity: 0;
    animation: move 1s linear 6s normal forwards;
  }

  #Fahne3 {
    opacity: 0;
    animation: move 1s linear 8s normal forwards;
  }

  #Fahne4 {
    opacity: 0;
    animation: move 1s linear 9s normal forwards;
  }
}

