@charset "utf-8";
@use "./variables.scss";

@import "./bulma.scss";
@import "./footer.scss";
@import "./header.scss";
@import "./titles.scss";

html {
  scroll-behavior: smooth;
}

body {
  // Needed for iphone in landscape mode - it normally blows up some font sizes
  // see: https://www.sitepoint.com/community/t/iphone-landscape-view-blows-up-font-sizes/30010
  @media only screen and (min-width : 320px) and (max-width : 700px) {
    -webkit-text-size-adjust: none;
  }

  overflow-x: hidden;
}

p a {
  text-decoration: underline;
}

ul.list-dot {
  list-style-type: disc;
  list-style-position: outside;
  margin: 0 0 1.5rem 1em;
}


/* ----- GLOBAL  ----- */

.container {
  padding: 1em;
  @media screen and (min-width: 769px) {
    padding: 1.5em;
  }
}

// BACKGROUND-IMAGE
.bg-img-grey {
  background-image: url(../../../backend/public/images/info-blob-white.svg);
  background-size: 100% 100%;
  padding: 3em;
  @media screen and (min-width: 769px) {
    padding: 5em;
  }
}

.bg-img-blue {
  background-image: url(../../../backend/public/images/info-blob.svg);
  color: white;
  background-size: 100% 100%;
  padding: 3em;
  h1, h2, h3, strong {
    color: white;
  }
  @media screen and (min-width: 769px) {
    padding: 5em;
  }
}



// BACKGROUND-COLOR
.bg-color-grey {
  @include variables.bg-color-grey;
}

.bg-color-blue {
  background-color: variables.$kwBlue;
  color: white;
  h1, h2, h3, strong, a {
    color: white;
  }
}

.bg-color-orange {
  background-color: variables.$kwOrange;
  color: white;
  h1, h2, h3 {
    color: white;
  }
}

.text-orange {
  color: variables.$kwOrange;
}

.header-font {
  font-family: variables.$headerFontFamily;
}

// BUTTONS
a.button-blue {
  font-family: variables.$headerFontFamily;
  letter-spacing: 0.05em;
  font-size: 1.2em;
  text-align: center;
  background-image: url(../../../backend/public/images/button_bg_blue_new.svg);
  padding: 15px;
  background-size: 100% 100%;
  font-weight: bold;
  display: inline-block;
  margin: 0px 15px 0px 0;
  text-decoration: none;

  color: white;
  &:hover {
    text-decoration: underline;
  }
}

a.button-blue-outline {
  font-family: variables.$headerFontFamily;
  letter-spacing: 0.05em;
  font-size: 1.2em;
  text-align: center;
  background-image: url(../../../backend/public/images/button_bg_blue_outline.svg);
  padding: 15px;
  background-size: 100% 100%;
  font-weight: bold;
  display: inline-block;
  margin: 0px 15px 0px 0;
  text-decoration: none;

  color: variables.$kwBlue;
  &:hover {
    text-decoration: underline;
  }
}

a.button-white {
  font-family: variables.$headerFontFamily;
  letter-spacing: 0.05em;
  font-size: 1.2em;
  text-align: center;
  background-image: url(../../../backend/public/images/button_bg_white.svg);
  padding: 15px;
  background-size: 100% 100%;
  font-weight: bold;
  display: inline-block;
  margin: 0 15px 0 0;
  text-decoration: none;

  color: variables.$kwBlue;
  &:hover {
    text-decoration: underline;
  }
}

a.button-orange {
  font-family: variables.$headerFontFamily;
  letter-spacing: 0.05em;
  font-size: 1.2em;
  text-align: center;
  background-image: url(../../../backend/public/images/button_bg_orange.svg);
  padding: 15px;
  background-size: 100% 100%;
  font-weight: bold;
  display: inline-block;
  margin: 0 15px 0 0;
  text-decoration: none;

  color: variables.$kwBlue;
  &:hover {
    text-decoration: underline;
  }
}

p.rightalign {
  @media screen and (min-width: 500px) {
    text-align: right;
  }
}

// WIDE-CONTAINER
.wide-container {
  width: 100%;
}

.imageContainer {

  @media screen and (max-width: 599px) {
    background-image: url(../../../backend/public/images/video-teaser-image.jpg);
    box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.8);
  }

  @media screen and (min-width: 600px) {
    width: 100%;
    overflow: hidden;
    background-image: url(../../../backend/public/images/video-teaser-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: inset 0 0 0 2000px rgba(34, 48, 109, 0.6);
    
    .white {
      color: white;
      text-align: center;
    }

    padding: 3em 3em;

    .container {
      
      @include variables.bg-color-grey;
      border-radius: variables.$defaultBorderRadius;  

      margin: 0 auto;
    }
  }
  
}

.supporters {
  background-color: variables.$kwBlue;
  margin-top: 40px;
  margin-bottom: -160px;
  padding-bottom: 120px;

  h2 {
    color: white;
  }
}

.supporters-logos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  img {
    height: 100px;
    width: auto;
    margin-right: 1em;
    margin-bottom: 0.5em;

    &.broad-image {
      height: 52px;
    }

    &.image-changing-cities {
      height: 95px;
      width: 110px;
      background: rgba(255, 255, 255, 0.93);
      padding: 7px;
      border-radius: 8px;
    }

    &.image-klimawette {
      background: white;
      padding: 3px 11px;
      border-radius: 35px;
    }
  }
}

// MODULE

.imageWithTextRound {
  margin: 2em 0;
  .first-column {
    z-index: 1;
    margin: 0 0 -5% 0;
    img {
      z-index: 2;
      position: relative;
      width: 50%;
    }
  }
  .second-column {
    padding: 1em;
    border-radius: variables.$defaultBorderRadius;
    //margin: 2em 2em 2em 2em;
  }
  @media screen and (min-width: 769px) {
    margin: 1em -2em 3em -2em;
    display: flex;
    align-items: center;
    .first-column {
      flex: 20%;
      margin: 0 -2% 0 0;
      img {
        width: 100%;
      }
    }
    .second-column {
      flex: 80%;
      padding: 2em;
    }
  }
}

.imageWithTextRound.reverseColumn {
  .first-column {
    text-align: right;
  }
  @media screen and (min-width: 769px) {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    //margin: 2em -2em 2em -2em;
    .first-column {
      text-align: left;
      flex: 20%;
      margin: 0 0 0 -2%;
      img {
        width: 100%;
      }
    }
    .second-column {
      flex: 80%;
      padding: 2em;
    }
  }
}

.imageWithText {
  @media screen and (max-width: 599px) {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 1em -1em 1em 0;

    .text-column {
      width: 100%;
      padding: 1em;
      z-index: 1;
      //margin: -50% 2em 1em 0em;
      border-radius: variables.$defaultBorderRadius 0 0 variables.$defaultBorderRadius;
    }

    .image-column img {
      margin-left: -1em;
      margin-bottom: -4em;
      max-width: 70vw;
      max-height: 300px;
      width: 300px;
    }

    &.reverseColumn {
      margin: 1em 0 1em -1em;
      align-items: flex-end;

      .image-column {
        img {
          margin-left: 0;
          margin-right: -1em;
        }
      }

      .text-column {
        border-radius: 0 variables.$defaultBorderRadius variables.$defaultBorderRadius 0;
      }
    }
  }

  @media screen and (min-width: 600px) {
    display: flex;
    align-items: center;
    margin: 1em -1em 3em -1em;

    .image-column {
      flex: 33.33%;
      margin: 0;
      padding: 0em;
      img {
        width: 100%;
      }
    }
    .text-column {
      flex: 66.66%;
      margin: 0 0 0 -10%;
      padding: 2em;
      border-radius: variables.$defaultBorderRadius;
    }

    &.reverseColumn {
      flex-direction: row-reverse;

      .text-column {
        margin: 0 -10% 0 0;
      }
    }
  }
}


.imageWithTextTop {
  hyphens: auto;
  margin: 1em 0;
  .second-column {
    padding: 1em;
    margin: -25% 2em 1em 0em;
    z-index: 1;
    position: relative;
    border-radius: variables.$defaultBorderRadius;
  }

  @media screen and (min-width: 769px) {
    display: flex;
    align-items: center;
    .first-column {
      flex: 50%;
      margin: 0;
      padding: 0em;
    }
    .second-column {
      flex: 50%;
      margin: 0% 0 0 -10%;
      padding: 2em;
    }
  }
}

.imageWithTextTop.reverseColumn {
  hyphens: auto;
  .second-column {
    padding: 1em;
    margin: -25% 0em 1em 2em;
  }
  @media screen and (min-width: 769px) {
    display: flex;
    flex-direction: row-reverse;
    .second-column {
      margin: 0% -10% 0 0;
      padding: 2em;
    }
  }
}

.iconWithText {
  margin: 0 0 1.5rem 0;
  .first-column {
    z-index: 1;
    margin: 0;
    img {
      z-index: 2;
      position: relative;
      width: 20%;
    }
  }
  .second-column {
    font-weight: bold;
  }
  @media screen and (min-width: 769px) {
    display: flex;
    align-items: center;
    .first-column {
      flex: 10%;
      margin: 0;
      img {
        width: 100%;
      }
    }
    .second-column {
      flex: 90%;
      padding: 0 0 0 2em;
    }
  }
}


.smallIconWithText {
  display: flex;
  align-items: center;
  justify-content: stretch;
  .icon {
    flex-grow: 0;
    width: 2em;
    height: auto;
    margin-right: 1em;
  }

}

.twoColumnsContainer {
    @media screen and (min-width: 769px) {
      display: flex;
      align-items: center;
      gap: 2em;
    }
    @media screen and (min-width: 1024px) {
      margin: 0 -2em 2em -2em;
    }

    &.top {
      align-items: flex-start;
    }
    &.strech {
      align-items: stretch;
    }
    .firstColumn {
      flex: 100%;
      margin: 0 0 1em 0;
      @media screen and (min-width: 769px) {
        flex: 50%;
        margin: 0;
      }
      &.bg-white {
        background-color: white;
        padding: 1em;
        border-radius: 10px;
        @media screen and (min-width: 769px) {
          padding: 2em;
        }
      }
    }
    .secondColumn {
      flex: 100%;
      margin: 0 0 1em 0;
      @media screen and (min-width: 769px) {
        flex: 50%;
        margin: 0;
      }
      &.bg-white {
        background-color: white;
        padding: 1em;
        border-radius: 10px;
        @media screen and (min-width: 769px) {
          padding: 2em;
        }
      }
    }
}

img.roundImage {
  border-radius: 50%;
}

.threeColumnsContainer {
  @media screen and (min-width: 769px) {
    display: flex;
    align-items: center;
    gap: 2em;
    margin: 0 -2em 2em -2em;
    &.top {
      align-items: flex-start;
    }
    &.strech {
      align-items: stretch;
    }
    .firstColumn {
      flex: 33.3333%;
      &.bg-white {
        background-color: white;
        padding: 1em;
        border-radius: 10px;
        @media screen and (min-width: 769px) {
          padding: 2em;
        }
      }
    }
    .secondColumn {
      flex: 33.3333%;
      &.bg-white {
        background-color: white;
        padding: 1em;
        border-radius: 10px;
        @media screen and (min-width: 769px) {
          padding: 2em;
        }
      }
    }
    .thirdColumn {
      flex: 33.3333%;
      &.bg-white {
        background-color: white;
        padding: 1em;
        border-radius: 10px;
        @media screen and (min-width: 769px) {
          padding: 2em;
        }
      }
    }

  }
}

ul.bullet-list {
  list-style-type: disc;
  padding: 5px;
  margin-left: 15px;

  li {
    padding: 5px;
    padding-left: 0;

    a {
      text-decoration: underline;
    }
  }
}

ol.numbered-list {
  list-style-position: inside;

  li {
    padding-top: 5px;
    padding-bottom: 5px;

    a {
      text-decoration: underline;
    }
  }
}

.etappenBox {
  display: flex;
  flex-direction: column-reverse;
  gap: 1em;
  @media screen and (min-width: 840px) {
    justify-content: space-between;
    flex-direction: unset;
  }

  h2 {
    display: inline-block;
    @media screen and (min-width: 840px) {
      align-self: center;
      margin: 0 !important;
    }
  }
  .etappe-icon {
    padding: 15px 0;
    color: variables.$defaultFontColor;
    background-image: none;
    background-size: 100% 125%;
    background-position: center;
    width: 90px;
    text-align: center;
    font-family: variables.$headerFontFamily;
    font-size: 1.1em;
    display: inline-block;
    @media screen and (min-width: 414px) {
      width: 110px;
    } 
    @media screen and (min-width: 840px) {
      padding: 25px 0;
      width: 120px;
    }
    span.small {
      font-size: 0.8em;
      display: block;
    }
    &:hover {
      background-image: url(../../../backend/public/images/icons/icon-bg-bubble-orange.svg);
    }
  }
  .etappe-icon.active {
    background-image: url(../../../backend/public/images/icons/icon-bg-bubble-orange.svg);
  }
  a {
    display: block;
    color: variables.$defaultFontColor;
  }
  img {
    height: 40px;
    width: auto;
    display: block;
    margin: 0 auto;
  }
  
}

.images-for-download {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &>div {
    margin-right: 1em;
    margin-bottom: 1em;
    font-size: 0.9em;
  }

  img {
    max-height: 250px;
    width: auto;
    border-radius: 10px;
  }

  &.big {
    img {
      max-height: 300px;
    }
  }

}

.press-articles-title {
  display: none;

  @media screen and (min-width:500px) {
    display: table-cell;
  }

}

.video-teaser {
  position: relative;
  text-align: center;

  img.video-image {
    width: 500px;
  }

  .play-button {
    position: absolute;
    top: calc(50% - 50px);
    right: 0;
    bottom: 0;
    left: 0;
  }

  margin-bottom: 1.5em;
}