@use "./variables.scss";

.actionContainer {
  margin-bottom: 1.5em;

  .actionLabel {
    font-size: 1.1em;
    font-weight: bold;
  }

  .actionTitle {
    font-size: 1.8em;
    font-family: variables.$headerFontFamily;
    line-height: 1.1;
  }
}