@use "./variables.scss";

h1, h2, h3, h4 {
  &.title {
    font-family: variables.$headerFontFamily;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
}

.subline {
  font-family: variables.$headerFontFamily;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 1.5em;
  margin-bottom: 1em;
}

h1.title {
  font-size: 2.8rem;

  @media screen and (max-width: 500px) {
    font-size: 2.2rem;
  }
}

h2.title {
  font-size: 2.5rem;
  @media screen and (max-width: 500px) {
    font-size: 2rem;
  }
}

h3.title {
  font-size: 2rem;
  @media screen and (max-width: 500px) {
    font-size: 1.8rem;
  }
}

h3.title.small {
  font-size: 1.4rem;
  @media screen and (max-width: 500px) {
    font-size: 1.2rem;
  }
}

h4.title {
  font-size: 1.5rem;
  @media screen and (max-width: 500px) {
    font-size: 1.3rem;
  }
}
