@use "sass:color";

$kwBlue: #1d316a;
$defaultFontColor: #22306D;
$kwOrange: #FF773A;
$kwGrey: #E9E2D6;
$linkOnDarkColor: lighten(blue, 32%);
$lightLinkColor: #5997ff;
$lightText: hsl(0, 0%, 50%);
$labelColor: lighten(black, 20%);
$lightGrayBackground: #F6F6F6; //hsl(0, 0%, 90%);

$defaultBorderRadius: 10px;
$darkBoxShadow: 0 0 5px rgba(0, 0, 0, 0.5);
$lightBoxShadow: 0 0 5px rgba(0, 0, 0, 0.3);

$ribbonColor: color.adjust($kwOrange, $alpha: -0.3);

$defaultFontFamily: 'Nunito', BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", 
"Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

$headerFontFamily: 'Londrina Solid', $defaultFontFamily;

$fixedHeaderHeight: 100px;

@mixin bg-color-grey {
  background-color: $kwGrey;
  color: $kwBlue;
  h1, h2, h3 {
    color: $kwBlue;
  }
}