@()(implicit request: KWRequest[_])

@main("Fotos der Klimabänder-Aktionen", index=true, description=Some("Hier findest du die neuesten Fotos der Klimabänder-Aktionen vor Ort: Sammelstellen, Veranstaltungen und einzelne Klimabänder.")) {
    @includeJsAndCss("AsyncImageGallery")
}{
@header()
@headerBackground("Fotos", backgroundImage = Some("images/photos/klimabaender_omasforfuture_aktionenvorort.jpg"), pagesBetween=Seq(Page.AktionenVorOrt))

<main class="main-content">

    <section class="container is-max-desktop">
        <p class="block">
            Hier findest du die neuesten Fotos der Klimabänder-Aktionen vor Ort: Fahrradtouren, Veranstaltungen, Sammelstellen und einzelne Klimabänder.
        </p>

        <h2 class="title">Fahrradtouren</h2>

        <kb-async-image-gallery fetch-url="/imagesByCategories?categories=BikeTour,BikeWithRibbons&page=PAGE" show-uploader="true"></kb-async-image-gallery>

        <h2 class="title mt-6">Veranstaltungen</h2>

        <kb-async-image-gallery fetch-url="/imagesByCategories?categories=Event&page=PAGE" show-uploader="true"></kb-async-image-gallery>

        <h2 class="title mt-6">Klimabänder</h2>

        <kb-async-image-gallery fetch-url="/imagesByCategories?categories=ClimateRibbon,MultipleRibbons,HangingRibbons,PersonWithRibbon&page=PAGE" show-uploader="true"></kb-async-image-gallery>

        <h2 class="title mt-6">Sammelstellen</h2>

        <kb-async-image-gallery fetch-url="/imagesByCategories?categories=CollectionLocation&page=PAGE" show-uploader="true"></kb-async-image-gallery>

    </section>




</main>
}