@import play.api.libs.json._
@(maxImageUploadSizeBytes: Int, allowedMimeTypes: Seq[String], ownActions: Seq[de.klimawuensche.locations.ClimateAction])(implicit request: KWRequest[_])

@main("Klimabänder - Deine Fotos", index = false) {

    @views.html.helper.script(args = Symbol("type") -> "text/javascript") {
        window.ownActionsForList = @Html(JsArray(ownActions.map(_.toMinimalJson)).toString);
    }

    @includeJsAndCss("imageUpload")

} {
@header()
@headerBackground("Deine Fotos", pagesBetween = Seq(Page.MyActions))


<main class="main-content">

    <section class="container is-max-desktop">
      <kw-image-upload-form max-image-upload-size-bytes="@maxImageUploadSizeBytes" allowed-mime-types='@(allowedMimeTypes.mkString(","))'></kw-image-upload-form>
    </section>

</main>

}