@use "../../css/variables.scss";

$videoHeight: max(85vh, 580px);
$videoHeightSmall: 500px;
$smallWidth: 600px;


.container {
  position: relative;
  width: 100%;
  
  height: $videoHeight;
  @media screen and (max-width: $smallWidth) {
      height: $videoHeightSmall;
  }

  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: -50px;

  .headerRibbonContainer {
      margin-top: 120px;
      position: relative;
      align-self: flex-end;

      @media screen and (max-width: 769px) {
          align-self: flex-start;
          margin-left: 30px;
      }
  }

  .playButtonContainer {
      position: relative;

      h1, h2 {
          color: white;
      }
      h1 {
          font-size: 2.5rem;
      }
      h2 {
          font-size: 1.5rem;
          margin-right: 30vw;
      }

      @media screen and (min-width: 400px) {
          h1 {
              font-size: 3rem;
          }
          h2 {
              font-size: 2rem;
          }   
      }
  }

  .screenshot {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
      background-image: url(../../../../backend/public/images/photos/video-screenshot.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      box-shadow: inset 0 0 0 2000px rgb(34 48 109 / 60%);
  }

  .vimeoWrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
      pointer-events: visible;
      background-color: darken(variables.$kwBlue, 8%);

      .iframeWrapper {
        padding: 56.25% 0 0 0;
        position: relative;
        pointer-events: none;
      }
      
      iframe {
          position:absolute;
          top:0;
          left:0;
          
          width: max(#{$videoHeight} * 16 / 9, 100%);
          height: max(#{$videoHeight}, 100%);

          @media screen and (max-width: $smallWidth) {
              width: max(#{$videoHeightSmall} * 16 / 9, 100%);
              height: max(#{$videoHeightSmall}, 100%);
          }

          opacity: 0.4;
          overflow: hidden;
      }
  }
}