@use "../../css/variables.scss";

.headerRibbon {
  width: max(900px, min(1400px, calc(90vw + 200px)));
  margin-right: -200px;
  margin-bottom: -50px;

  @media screen and (max-width: 430px) {
      width: 220vw;
      margin-left: -15px;
  }

  .ribbon {
      fill: variables.$ribbonColor;
  }

  .headline {
      font-family: variables.$headerFontFamily;
      text-transform: uppercase;
      font-size: 80px;
      letter-spacing: 5px;
      fill: white;
  }

  .subline {
      font-family: variables.$headerFontFamily;
      text-transform: uppercase;
      font-size: 50px;
      letter-spacing: 3px;
      fill: white;
  }
}