.spinnerContainer {
  position: absolute;
  top: 60px;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.videoFrame {
  position:absolute;
  top: 60px;
  left: 30px; 
  width: calc(100% - 60px);
  height: calc(100% - 90px);

  @media screen and (max-width: 500px) {
    left: 0;
    width: 100%;
  }

  @media screen and (max-height: 500px) {
    height: calc(100% - 60px);
  }
}

.container.bigButton {
  @media screen and (min-width: 1500px) {
    margin-top: -50px;
    .playButton {
      width: 130px;
      height: 130px;
    }
  }
}