.container {

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.4);

  display: flex;
  justify-content: center;
  align-items: center;

  .message {
    margin-top: 10vh;
    padding: 60px;
    max-width: 400px;
    min-width: 300px;
    background-image: url(../../../../backend/public/images/bubble-future.svg);
    background-size: 100% 100%;

    .text {
      font-size: 14px;
    }

    button {
      background-image: url(../../../../backend/public/images/button_bg_blue_new.svg);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-color: transparent;
      color: white;
      border: 0px;
      margin-top: 1em;
    }

    .buttonContainer {
      text-align: center;
    }
  }

}