@(currentPageTitle: String, pagesBetween: Seq[Page])

<div class="container is-max-desktop breadcrumbs">
    <div><a href="@de.klimawuensche.common.routes.HomeController.homepage()">Homepage</a> &gt;
        @pagesBetween.map { page =>
            <a href="@page.url">@page.title</a> >
        }
        <h1>@currentPageTitle</h1></div>
</div>
