@(title: String, activePart: Int)
<div class="etappenBox">
    <h2 class="title">@title</h2>
    <div class="etappenIcons">
        <div class="etappe-icon @if(activePart == 1){active}">
            <a class="" href="#etappe1"><img class="" src="assets/images/icons/icon-baender.svg" width="137" height="192" />
                1. Sammeln <span class="small">ab Juni</span></a>
        </div>
        <div class="etappe-icon @if(activePart == 2){active}">
            <a class="" href="#etappe2"><img class="" src="assets/images/icons/icon-fahrrad.svg" width="137" height="192" />
                2. Radeln <span class="small">ab August</span></a>
        </div>
        <div class="etappe-icon @if(activePart == 3){active}">
            <a class="" href="#etappe3"><img class="" src="assets/images/icons/icon-baender.svg" width="137" height="192" />
                3. Berlin <span class="small">September</span></a>
        </div>
    </div>
</div>