@import de.klimawuensche.locations.ClimateAction
@import de.klimawuensche.locations.Organization
@(event: ClimateAction)
@if(event.content.organization.contains(Organization.OhneKerosinNachBerlin)) {
    <kb-oknb-icon size="35"></kb-oknb-icon>
} else if(event.bikeTourData.exists(b => b.isMainRouteId.isDefined || b.nextMainRouteId.isDefined)) {
    <kb-bike-icon size="35"></kb-bike-icon>
} else {
    <kb-climate-action-icon action-type="Event" height="35"></kb-climate-action-icon>
}