@()

<link rel="shortcut icon" type="image/x-icon" href="@routes.Assets.versioned("images/favicon/favicon.ico")">
<link rel="icon" type="image/png" sizes="96x96" href="@routes.Assets.versioned("images/favicon/favicon-96x96.png")">
<link rel="icon" type="image/png" sizes="32x32" href="@routes.Assets.versioned("images/favicon/favicon-32x32.png")">
<link rel="icon" type="image/png" sizes="16x16" href="@routes.Assets.versioned("images/favicon/favicon-16x16.png")">
<link rel="icon" type="image/png" sizes="192x192" href="@routes.Assets.versioned("images/favicon/android-icon-192x192.png")">

<link rel="apple-touch-icon" sizes="180x180" href="@routes.Assets.versioned("images/favicon/apple-icon-180x180.png")">
<link rel="manifest" href="@routes.Assets.versioned("images/favicon/manifest.json")">
