@()
<div class="footer">
    <div class="footer-links">
        <div class="footer-links-left footer-links-container">
            <a href="/kontakt">Kontakt</a>
            <a href="@{de.klimawuensche.common.routes.HomeController.homepage()}#newsletter">Newsletter</a>
            <a href="@de.klimawuensche.info.routes.InfoController.privacy">Datenschutz</a>
            <a href="@de.klimawuensche.info.routes.InfoController.legal">Impressum</a>
        </div>
        <img class="bear-footer" src='@routes.Assets.versioned("images/baer/baer-rad-orange-rechts.svg")' width="132" height="254" alt="Bär auf Hochrad mit orangem Schal">
        <div class="footer-links-right footer-links-container">
            <div>
                <a href="https://lebenimeinklangmitdernatur.de/" target="_blank" rel="noopener">
                    <img class="einklang-logo" src='@routes.Assets.versioned("images/logos/einklang_logo.svg")' width="1257" height="735" alt="Leben im Einklang mit der Natur e.V.">
                </a>
                <div class="social-media-links">
                    <a href="@facebookUrl" target="_blank" rel="noopener">
                        <img src='@routes.Assets.versioned("images/logos/logo_facebook.svg")'
                             width="30" height="30" alt=facebook" title="facebook"></a>
                    <a href="@instagramUrl" target="_blank" rel="noopener">
                        <img src='@routes.Assets.versioned("images/logos/logo_instagram.svg")'
                             width="30" height="30" alt=instagram" title="instagram"></a>
                </div>
            </div>
            <a href="https://www.omasforfuture.de/" target="_blank" rel="noopener">Omas for Future</a>
        </div>
    </div>
</div>
