@(headline: String)
<svg class="header-ribbon" version="1.1" viewBox="0 0 1929.2 795.77" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g data-name="Ebene 2">
        <g data-name="Ebene 1">
            <path class="ribbon-main" d="m1929.1 31.53c0.1 4.53-1.23 9.48-1.86 14q-7.5 53.93-17.54 107.46t-22.56 106.53q-12.44 52.61-26.91 104.71c-14.19 51.11-23.82 104.4-34.86 156.43q-10.86 51.17-21.23 102.45-8.28 40.71-16.31 81.47c-4.53 23-5.38 52.79-17.3 73.43-8.61 14.91-28.5 21.07-44.65 16.1-2.59-0.79-5.22-1.94-6.84-4.11-2.72-3.67-1.67-8.79-0.5-13.2 5.64-21.19 12.32-42.37 17-63.79q34.56-159.29 68.86-318.87l2.79-13.07c7.7-36 15.47-71.88 23-107.89q3-14.14 5.92-28.28c3.61-17.17 8.49-34.61 10.81-52-4 0.18-7.68 0.24-10.73 0.4-24.29 1.28-48.57 2.9-72.71 5.92-12.3 1.53-24.55 3.43-36.71 5.82-30.69 6-61.06 15.34-88 31.27-18.9 11.19-35.76 25.46-51.51 40.68s-31.32 31.08-46.25 47.19q-16.1 17.38-31.54 35.38-11.68 13.56-23.15 27.3c-7.43 8.88-14.35 19.14-22.68 27.17-9.17 8.84-18.11 18.15-27.67 26.67-38.39 34.23-85.37 58.37-135 71.59a385.2 385.2 0 0 1-50.48 10 382.65 382.65 0 0 1-139.32-8.08c-7.34-4.76-13.22-11-14.45-19.31-7.5-50.35-14.69-101.29-18.63-152.07-0.45-5.8-0.72-11.63-0.77-17.45-0.1-9.92 10.54-6 16.22-3.35a333.38 333.38 0 0 0 132.94 31.51 334.43 334.43 0 0 0 44.87-2c44.53-4.83 88.24-19.45 125.88-43.9 18.65-12.13 35.77-26.42 52.48-41.06 8.37-7.34 16.65-14.78 25-22.12a789.71 789.71 0 0 1 103.09-76c33.43-20.78 68.71-38.79 105.78-52.12q2.28-0.82 4.58-1.61c-22.32 2.52-44.35 7-66.75 12.07-27.42 6.2-54.42 14.52-80.04 26.2-57.54 26.27-106.5 68.81-164.07 95a349.46 349.46 0 0 1-48.19 17.74c-63.32 18.25-131 20.72-196.45 16.06-33.3-2.37-66.51-4-99.71-7.89-33.9-4-67.66-9.08-101.54-13.38-24.36-3.1-48.8-5.8-73.3-7.44a840.56 840.56 0 0 0-201.12 10.91q-25 4.38-49.66 10.29c-15.1 3.61-31.37 5-46.82 7.67-34 5.94-68.15 11.56-102.39 16.28q-16.93 2.33-33.94 4.35c-67.88 8-136.75 11.92-205 6.53-45.6-3.6-90.68-11.82-135.63-20-7.37-1.35-15.17-2.91-20.63-8-8.06-7.55-9.51-20.89-12.46-31-4.35-15-8.3-30.08-12.42-45.12-8.12-29.77-16.05-59.55-23.42-89.48q-6.14-25-11.88-50.16c-2.08-9.16-6.21-28.62 2.99-35.26 5.26-3.8 13.46 0.9 18.57 2.9 33.44 12.9 64.24 30.38 98.83 41 58.09 17.69 118.86 24.22 179.48 24.07 61.88-0.15 123.51-6.93 184.81-14.77 62-7.94 124-17.11 186.3-22.33 67.52-5.65 136.13-5.51 203 6 66.39 11.42 131.48 29.23 197.81 40.9 63.84 11.24 129.76 17.27 194.13 6.81a349.3 349.3 0 0 0 50-11.84c60.29-19.19 114-55.57 174.24-74.79 41.6-13.26 85.32-18 128.78-19.64 22.9-0.88 45-1.63 67.24-1.35a546.21 546.21 0 0 1 61.76 4l54.77 6.94c24.45 3.07 49 6.15 73 11.56 1.83-13.19 5.85-29.06 20.93-29.5 4.72-0.14 9.36 1.09 14 1.92 3.61 0.65 7.36 1.1 10.53 2.94 5.92 3.42 5.48 11.21 5.13 17.1-0.2 3.2-0.05 6.3 0.06 9.51z"/>
        </g>
    </g>

    <path id="path855" d="m85.435 233.4c61.059 12.127 146.6 15.691 207.94 16.596 129.67-6.008 179.37-9.3595 342.18-33.281 0 0 71.423-11.078 151.32-12.173 77.474-1.0618 90.078 4.3701 134.77 10.013 52.805 6.6676 104.27 22.295 157.18 28.122 44.649 4.918 89.857 9.2547 134.64 5.7071 40.802-3.2325 84.149-7.2711 122.79-20.759 45.994-16.054 87.464-40.485 131.46-61.412 21.723-10.334 62.292-37.841 62.292-37.841" fill="none"/>
    <text fill="#000000" font-family="sans-serif" font-size="106.67px" style="line-height:1.25" xml:space="preserve"><textPath xlink:href="#path855"><tspan class="ribbon-headline">@headline</tspan></textPath></text>

</svg>
