@(headline: String, backgroundImage: Option[String] = None, pagesBetween: Seq[Page] = Seq.empty)

<section class="header-background" @backgroundImage.map{img => style="background-image:url(@routes.Assets.versioned(img))" } >
	<div class="main-headline-container container is-max-desktop">
		@headerRibbon(abbreviate(headline, 26))
	</div>
</section>
@breadcrumbs(headline, pagesBetween)
