@()(implicit req: KWRequest[_])

<header id="site-main-header" class="main-header">
    
    <nav class="header-items">
            
        <kb-logo class="header-logo" home-link="/" small-margin="true"></kb-logo>
            
        <div class="header-links">
            <a href="/mitmachen" class="header-link">Mitmachen</a>
            <a href="/aktionen-vor-ort" class="header-link">Aktionen vor&nbsp;Ort</a>
            <a href="/ueber-uns" class="header-link">Über uns</a>
        </div>

        <div class="header-meta-navigation">
            <a href="/faq">Häufige Fragen</a>
            <a href="/downloads">Downloads</a>
            <a href="/presse">Presse</a>
            <a href="/spenden">Spenden</a>
        </div>

        <div class="social-media-icons">
            <a href="@facebookUrl" target="_blank" rel="noopener" class="social-media-button">
                <img src='@routes.Assets.versioned("images/logos/logo_facebook_inverted.svg")'
                     width="40" height="40" alt=facebook" title="facebook"></a>
            <a href="@instagramUrl" target="_blank" rel="noopener" class="social-media-button">
                <img src='@routes.Assets.versioned("images/logos/logo_instagram_inverted.svg")'
                     width="40" height="40" alt=instagram" title="instagram"></a>
        </div>

        <div class="login-link">
            @if(req.optUser.isDefined) {
                <a href="/aktionen-verwalten">Login-Bereich</a>
            } else {
                <a href="/login">Login</a>
            }
        </div>

        <kb-flyout-menu></kb-flyout-menu>
        <kb-burger-menu class="header-burger-menu" logged-in="@req.optUser.isDefined"></kb-burger-menu>
    </nav>

</header>
