@(image: String)(body: => Html)

<div class="iconWithText">
    <div class="first-column">
        <img src='@routes.Assets.versioned(s"images/$image")' width="100%" height="auto" alt="">
    </div>

    <div class="second-column">
        @body
    </div>
</div>