@(image: Image, reverseColumn: Boolean = false )(body: => Html)

<div class="imageWithText @if(reverseColumn){reverseColumn}">
    <div class="image-column">
        @imageTag(image)
    </div>

    <div class="text-column bg-color-grey">
        @body
    </div>
</div>