@(image: Image, reverseColumn: Boolean = false )(body: => Html)

<div class="imageWithTextTop @if(reverseColumn){reverseColumn}">
    <div class="first-column">
        @imageTag(image)
    </div>

    <div class="second-column bg-color-blue">
        @body
    </div>
</div>