@(image: Image, reverseColumn: Boolean = false, clipImage: Boolean = false)(body: => Html)

<div class="imageWithTextRound @if(reverseColumn){reverseColumn}">
    <div class="first-column">
        @imageTag(image, if(clipImage) "roundImage" else "")
    </div>

    <div class="second-column bg-color-grey">
        @body
    </div>
</div>