@()

<div class="defaultHeader">
    <div class="container is-max-desktop headerItems">
        <div class="logo-and-backlink">
            <kb-logo class="header-logo"></kb-logo>

            <a href="/" class="header-backlink"><img src='@routes.Assets.versioned("images/icons/icon-arrow-left-white.svg")'
                                                     class="backArrow"
                                                     width="26" height="51"
                                                     alt="Zurück"><span>Zurück zur Hauptseite</span></a>
        </div>

        <kw-start-next-button class="startNextButton"></kw-start-next-button>
    </div>
</div>