@(title: String, description: Option[String] = None)(implicit request: RequestHeader)
<meta name="og:title" content="@title" />
@description.map { desc =>
<meta name="og:description" content="@desc" />
<meta name="description" content="@desc" />
}
<meta name="og:type" content="website" />
<meta name="og:image" content="@routes.Assets.versioned("images/downloads/Logo-Klimabaender-2c-short.png").absoluteURL()" />
