@import de.klimawuensche.db.PagingInfo
@(p: PagingInfo, linkForPage: Int => String)

@pageLink(page: Int) = {
  <li><a class="pagination-link" aria-label="Gehe zu Seite @page" href="@linkForPage(page)">@page</a></li>
}
@ellipsis() = {
  <li><span class="pagination-ellipsis">&hellip;</span></li>
}

<div>
    @if(p.numberOfPages > 1) {
        <nav class="pagination is-rounded" role="navigation" aria-label="pagination">
            <a class="pagination-previous" @if(p.previousPage.isEmpty){disabled} @p.previousPage.map { prev => href="@linkForPage(prev)" }>Vorherige Seite</a>
            <a class="pagination-next" @if(p.nextPage.isEmpty){disabled}  @p.nextPage.map { next => href="@linkForPage(next)" }>Nächste Seite</a>
            <ul class="pagination-list">
                @if(p.currentPage > 1) { @pageLink(1) }
                @if(p.currentPage > 3) { @ellipsis() }
                @if(p.currentPage > 2) { @pageLink(p.currentPage - 1) }
                <li><a class="pagination-link is-current" aria-label="Aktuelle Seite ist @p.currentPage" aria-current="page">@p.currentPage</a></li>
                @if(p.currentPage < p.numberOfPages - 1) { @pageLink(p.currentPage + 1) }
                @if(p.currentPage < p.numberOfPages - 2) { @ellipsis() }
                @if(p.currentPage < p.numberOfPages) { @pageLink(p.numberOfPages) }
            </ul>
        </nav>
    }
</div>