@import de.klimawuensche.info.PressArticle
@(articles: Seq[PressArticle])(implicit request: KWRequest[_])
<table class="table is-striped is-fullwidth">
    <thead >
        <th>Datum</th>
        <th class="press-articles-title">Titel</th>
        <th>Wo</th>
    </thead>
    <tbody>
    @articles.map { article =>
        <tr>
            <td>@article.dateAsString</td>
            <td class="press-articles-title">@article.title</td>
            <td><a href="@article.url" target="_blank" rel="noopener">@article.mediaName</a></td>
        </tr>
    }
    </tbody>
</table>