@()
<svg xmlns="http://www.w3.org/2000/svg"
     class="top-image-blob"
     width="500.859" height="467.506" viewBox="0 0 500.859 467.506">
    <defs><clipPath id="topImageBlobClipPath">
        <path d="M333.13,279.061c18.6-40.969,59.408-68.765,102.788-80.712,64.052-17.639,136.115-3.142,188.358,37.9,19.74,15.5,36.561,34.345,53.273,53.078q41.677,46.727,83.359,93.459c35.444,39.737,73.479,90.426,57.031,141.069s-76.989,69.312-129.013,80.649L474.6,651.218c-37.885,8.258-82.623,14.79-110.943-11.688-33.39-31.232-20.315-78.146-17.921-117.768,3.188-52.8-17.909-104.681-23.365-156.758C319.325,335.9,320.878,306.046,333.13,279.061Z" transform="translate(-1173.581 -1980.412)" fill="#f6f6f6"/>
    </clipPath></defs>
    <g transform="translate(852.552 1789.444)" clip-path="url(#topImageBlobClipPath)">
        <image width="561" height="465" transform="translate(-900 -1789)" href='@routes.Assets.versioned("images/baender.jpg")' />
    </g>
</svg>