@use "../../css/variables.scss";

.container {
  background-image: url(../../../../backend/public/images/newsletter-bg-blob.svg);
  background-size: 100% 100%;
  padding: 120px;
  padding-right: 180px;
  padding-bottom: 70px;
  padding-top: 90px;
  position: relative;

  :global(.newsletter-options) {
    margin-bottom: 1em;
  }

  :global(.help.is-danger) {
    color: white;
  }

  :global(.input.is-danger) {
    border-color: variables.$defaultFontColor;
  }

  .flyer {
    position: absolute;
    right: 50px;
    bottom: 250px;
  }

  .bear {
    position: absolute;
    width: 300px;
    left: -220px;
    top: 10px;
  }

  .bearFlipped {
    display: none;
  }

  .top {
    margin-bottom: 1.5em;
    padding-right: 40px;
  }

  @media screen and (max-width: 700px) {
    background-image: url(../../../../backend/public/images/newsletter-blob-mobile.svg);
    padding: 20px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-size: calc(100% + 60px) 100%;
    background-position-x: -30px;

    h2 {
      padding-left: 40px;
    }

    .top {
      padding-right: 60px;
    }

    :global(.newsletter-options) {
      padding-left: 20px;
    }

    :global(.sendinblue) {
      padding-left: 50px;
    }

    .button {
      margin-right: 20px;
    }

    .flyer {
      right: auto;
      bottom: 20px;
      left: 19%;
      width: 120px;
      height: auto;
    }

    .bear {
      display: none;
    }

    .bearFlipped {
      display: inline;
      position: absolute;
      right: -37px;
      top: 40px;
      height: 200px;
      width: auto;
    }

  }

  @media screen and (max-width: 450px) {
    :global(.newsletter-options) {
      padding-left: 0;
    }

    :global(.sendinblue) {
      padding-left: 20px;
    }

    .flyer {
      width: 90px;
    }
  }


}