@use "../../css/variables.scss";

.website {
  display: none;
}

.textInput {
  background-image: url(./textinput-background.svg);
  background-size: 100% 100%;
  background-color: transparent;
  padding: 8px 20px;
  height: auto;
  box-shadow: none;
  border: 0;
  max-width: 400px;

  &.error {
    background-image: url(./textinput-background-red.svg);
  }
}

.buttonContainer {
  text-align: right;

  @media screen and (max-width: 350px) {
    margin-right: -15px;
  }
}

.button {
  font-family: variables.$headerFontFamily;
  letter-spacing: 0.05em;
  font-size: 1.2em;
  background-image: url("../../../../backend/public/images/button_bg_blue.svg");
  background-size: 100% 100%;
  border: 0;
  background-color: transparent;
  color: white;
  font-weight: bold;
  padding: 15px;
  height: auto;

  &:hover {
    color: white;
    text-decoration: underline;
  }
}
