@use "../../css/variables.scss";

.loadingText {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  
  color: variables.$defaultFontColor;
}

.mapContainer {
  height: 400px;
  background-color: #f6f6f6;
  border-radius: 10px;
  @media screen and (min-width: 769px) {
    margin: 0 -2em;
  }
}