.container {
  position: relative;
  flex-grow: 1;
  display: flex;
}

.map {
  flex-grow: 1;
}

.searchBox {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 350px;
  max-width: 70%;
}

.description {
  position: absolute;
  left: 0;
  font-size: 13px;
  max-width: 60%;
  background-color: rgba($color: #fff, $alpha: 0.7);
  padding: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  user-select: none;
  pointer-events: none;
  border-top-right-radius: 10px;
  bottom: 0;
}