@use "../../css/variables.scss";

.container {
  font-size: 13px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.legend {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  &>span {
    margin-top: 0.5em;
    display: flex;
    align-items: center;
    margin-right: 1em;

    img {
      margin-right: 0.5em;
    }

    &.legendLabel {
      @media screen and (max-width: 450px) {
        display: none;
      }
    }
    
  }
}

.expandLink {
  margin-top: 0.5em;
  display: flex;
  align-items: center;
  text-decoration: none;

  img {
    margin-right: 0.5em;
  }
}

.typesDescription {
  margin-top: 0.5em;
  background-color: variables.$kwGrey;
  padding: 0.5em;
  border-radius: 10px;

  li {
    margin: 0.5em;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    img {
      margin-right: 1em;
    }

  }

}