.adminImageList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.adminImageEntry {
    display: flex;
    flex-wrap: wrap;
    width: 49%;
    position: relative;
    margin-bottom: 30px;
}

.adminImage {
    cursor: zoom-in;
}

.description {
    white-space: pre-wrap;
}

.actions {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    button {
        border-top: none;
        border-radius: 0 0 5px 5px;
    }
}

.fullScreenImageContainer {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    cursor: zoom-out;

    img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }

    .fullScreenToolbar {
        position: absolute;
        bottom: 0;
        max-width: 1200px;
        width: 100%;
        padding: 10px 15px;
        cursor: default;
        background: rgba(255, 255, 255, 0.8);
    }

    .fullScreenImageButtonContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .fullScreenMetaInfoContainer {
        overflow: auto;
        max-height: 300px;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

        .metaInfosMinimized {
            display: flex;
            justify-content: space-between;

            div {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                font-size: 14px;
                padding: 2px 0;
            }
        }

        .metaInfosMaximized {
            div {
                display: flex;
                justify-content: space-between;
            }

            p {
                margin-top: 5px;
            }
        }

        .minMaxButton {
            height: 25px;
            padding: 0 6px;
        }
    }
}

.confirmationDialog {
    position: absolute;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px 0;
    cursor: default;

    .confirmationButtons {
        display: flex;
    }
}
