@(success: Boolean)(implicit request: KWRequest[_])

@main("Klimabänder - E-mail-Bestätigung", index = false) {
    @includeJsAndCss("loginRegister")
} {
    @header()
    @headerBackground("E-mail-Bestätigung")

    <section class="container is-max-desktop">
        @if(success) {
            <div class="notification is-success">
                Registrierung abgeschlossen!<br />
                Du kannst dich jetzt <a href="/login">einloggen</a>.
            </div>
        } else {
            <div class="notification is-warning">
                Ungültiger Code
            </div>
        }
    </section>

}