@(pageNeedsLogin: Boolean = false, notEnoughRights: Boolean = false)(implicit request: KWRequest[_])

@main("Klimabänder - Login", index = false) {
    @includeJsAndCss("loginRegister")
} {
@header()
@headerBackground("Login / Registrieren")


<main class="main-content">

    @if(pageNeedsLogin || notEnoughRights) {
        <section class="container is-max-desktop">
            <div class="notification is-danger">
                @if(pageNeedsLogin){Für diese Seite musst du eingeloggt sein!}
                @if(notEnoughRights){Du hast keine Berechtigung für diese Seite. Logged dich mit einem berechtigten Nutzer ein.}
            </div>
        </section>
    }

    <section class="container is-max-desktop">

      <div class="mb-5">
          @smallIconWithText("icons/icon-pin.svg") {
            Registriere dich jetzt, um eine Sammelstelle oder Veranstaltung anzulegen.
          }
      </div>

      <kw-login-form redirect-target='@de.klimawuensche.locations.routes.ClimateActionController.manageClimateActions'
                     redirect-to-same-page="@{pageNeedsLogin || notEnoughRights}"></kw-login-form>
    </section>

</main>

}