@(email: String, token: String)(implicit request: KWRequest[_])

@main("Klimabänder - Passwort zurücksetzen", index = false) {
    @includeJsAndCss("resetPassword")
} {
@header()
@headerBackground("Passwort zurücksetzen")


<main class="main-content">

    <section class="container is-max-desktop">
      <kw-reset-password-form email='@email' token='@token'></kw-reset-password-form>
    </section>

</main>

}