@use "../../css/variables.scss";

.category {
  margin-bottom: 2em;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: variables.$kwGrey;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;

  img {
    width: 17px;
    height: 9px;
    margin-left: 10px;
  }
  margin-bottom: 0.5em;
  cursor: pointer;

  &:hover {
    background-color: lighten(variables.$kwGrey, 2%);
  }
}

.content {
  margin-bottom: 1.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;

  ul {
    list-style-type: disc;
    padding: 5px;
    margin-left: 15px;
  
    li {
      padding: 5px;
      padding-left: 0;
  
      a {
        text-decoration: underline;
      }
    }
  }

  ol {
    list-style-position: inside;

    li {
      padding-top: 5px;
      padding-bottom: 5px;
    }

    ol {
      padding-left: 25px;
    }
  }
}