@use "../../css/variables.scss";

.container {

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 5px;
  height: 51vw;
  max-height: 600px;

  @media screen and (max-width: 600px) {
    margin-left: -19px;
    margin-right: -19px;
    height: auto;
    max-height: none;
    flex-direction: row;
  }

}

.imageContainer {
  cursor: pointer;
  width: 31%;
  height: 25vw;
  max-height: 295px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: variables.$defaultBorderRadius;

  @media screen and (max-width: 600px) {
    width: 49%;
    height: 40vw;
    border-radius: 0;
    margin-bottom: 10px;
  }
}

.imageContainerCenter {
  height: 40vw;
  width: 34%;
  max-height: 500px;

  @media screen and (max-width: 600px) {
    width: 49%;
    height: 40vw;
  }
}

.imageContainerLast {
  @media screen and (max-width: 600px) {
    width: 100%;
    height: 50vw;
  }
}

.navigation {

  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  
  .hidden {
    visibility: hidden;
  }

  .arrow {
    width: 50px;
    padding-left: 12px;
    padding-right: 12px;
    min-width: 50px;
    height: auto;
    user-select: none;
  }


}

.instagramLink {
  text-align: center;
  margin-top: 1.5em;

  a:hover, a:active {
    text-decoration: underline;
  }
}
