@use "../../css/variables.scss";

.item {

  background-color: variables.$kwGrey;
  border-radius: variables.$defaultBorderRadius;
  padding: 1rem;
  margin-bottom: 1.5rem;

  a {
    text-decoration: underline;
  }

}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.actionType {
  margin-left: 1em;
  font-size: 0.8em;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  img {
    margin-right: 0.5em;
  }
}

.blocks {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;

  &>div {
    margin-bottom: 0.5em;
    margin-right: 1.5em;    
  }

  .contact {
    flex-shrink: 1;
    min-width: 120px;
  }
}

.fullDescription {
  white-space: pre-wrap;
}