@use "../../css/variables.scss";

.coordinates {
  font-size: 12px;
  color: variables.$lightText;
  a {
    color: variables.$lightLinkColor;
  }
}

.postalAddress {
  background-color: variables.$lightGrayBackground;
  padding: 15px;
  margin-top: 1em;

  .info {
    margin-bottom: 1em;
  }
}

.dateInputs {
  display: flex;
  width: 500px;
  max-width: 100%;
  margin-bottom: 1em;

  :global(.control):first-child {
    margin-right: 1em;
  }
}