@use "../../css/variables.scss";

.container {
  min-height: 100px;
  padding-top: 5px;
  font-family: variables.$defaultFontFamily;
  font-size: 0.9rem;
  line-height: 1.4;
}
.loadingContainer {
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;

  .loadingText {
    margin-left: 10px;
  }
}

.title {
  font-family: variables.$headerFontFamily;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.description {
  white-space: pre-wrap;  
}

a.detailsLink {
  font-size: 1rem;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
}
