@use "../../css/variables.scss";

.query {
  max-width: 300px;
}

.filterColumns {
  margin: 0 0 2em 0;

  @media screen and (min-width: 769px) {
    display: flex;
    gap: 2em;
    align-items: center;
    .firstColumn {
      flex: 50%;
    }
    .secondColumn {
      flex: 50%;
    }

  }

}