@use "../../css/variables.scss";


.menuBackground {
  position: fixed;
  z-index: 20;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  //background-color: rgba(0, 0, 0, 0.5);
}

.menu {
  position: fixed;
  overflow-y: scroll;
  top: 110px;
  bottom: 0;
  right: 0;
  background-color: rgba(29, 49, 106, 0.9);
  padding-left: 20px;
  border-top-left-radius: 10px;
  padding-right: 1em;

  display: flex;
  flex-direction: column;

  a {
    padding: 10px;
    font-size: 1.4rem;
    font-family: variables.$headerFontFamily;
    text-transform: uppercase;
    text-align: right;

    color: white;
    &:hover {
      text-decoration: underline;
    }
  }

  .subMenu {
    display: flex;
    flex-direction: column;
    background-color: variables.$ribbonColor;

    a {
      font-size: 1.3rem;
      padding-top: 6px;
      padding-bottom: 6px;
    }
  }
}
