@use "../../css/variables.scss";

.wrapper {
  z-index: 20;
  position: absolute;
  padding: 30px;
  padding-top: 12px;
}

.menu {
  z-index: 20;
  padding: 1em 1.5em;
  font-family: variables.$headerFontFamily;
  text-transform: uppercase;
  font-size: 1.3rem;
  background-image: url(./flyout-background.svg);
  background-size: 100% 100%;

  a {
    display: block;
    color: white;

    &:hover {
      text-decoration: underline;
    }
  }
}