@use "../../css/variables.scss";

.autocompletion {
  position: absolute;
  z-index: 100;
  width: 100%;
  background-color: white;
  box-shadow: variables.$darkBoxShadow;
  cursor: pointer;

  li:hover, .isSelected {
    background-color: variables.$kwGrey;
  }
}
