@-webkit-keyframes spinAround {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
@keyframes spinAround {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

.loading {
  pointer-events: none;
  -webkit-animation: spinAround 800ms infinite linear;
          animation: spinAround 800ms infinite linear;
  border: 2px solid #d3d3d3;
  border-radius: 290486px;
  border-right-color: transparent;
  border-top-color: transparent;
  height: 1.5em;
  width: 1.5em;
  display: inline-block;
  margin-right: 0.8em;
  margin-left: 0.8em;
  vertical-align: middle;
}