@import de.klimawuensche.locations.ClimateAction
@import de.klimawuensche.info.HomepageStatistics
@import de.klimawuensche.images.ImageDetails
@import de.klimawuensche.images.ImageWidth
@(stats: HomepageStatistics)(implicit request: KWRequest[_])

@main("Klimabänder – deine Wünsche auf dem Klimaband", description=Some("Wir sammeln deutschlandweit Klimawünsche auf Bändern, den Klimabändern, und bringen sie CO2-neutral mit dem Fahrrad zur Bundestagswahl nach Berlin"), index=true) {
    @includeJsAndCss("map")
    @includeJsAndCss("homepage")
    @includeCss("home_css")
}{

@header()

<main class="main-content">

    <kb-homepage-top-teaser></kb-homepage-top-teaser>

        <div class="container bg-color-blue is-max-desktop home-teaser">
            <h2 class="title">Wenn wir es wollen, wird unsere Zukunft bunt</h2>
            <p class="block">
                Ein Meer von bunten Klimabändern wehte am 11./12.September über dem Washingtonplatz und verzauberte den sonst so grauen
                Hauptbahnhofsvorplatz in Berlin. Bundesweit hatten zigtausende Bürger von Juni bis August ihre Klimaforderungen auf bunte Stoffreste geschrieben.
                Über 15.000 Bänder wurden in Etappen nach Berlin geradelt. Ein Riesenerfolg.
            </p>
            <p class="block">
                Darum geht die Aktion weiter. Wir aktualisieren in den nächsten Wochen die Webseite und fragen dann:
                Was ist dein Versprechen an die Erde? Wie änderst Du dein Konsum- und Lebensverhalten? Schreib es auf ein Klimaband.
            </p>
            <p class="block">
                So zeigen wir die große und stetig wachsende Gemeinschaft derer, die bereit sind, für unsere Zukunft bewusster und nachhaltiger zu leben.
            </p>
        </div>

        <section class="container is-max-desktop">
            <div class="stats-container">
                <div class="stat-item"><span class="stat-number">Viele Tausend</span>&nbsp;Klima&shy;bän&shy;der</div>
                <div class="stat-item"><span class="stat-number">@stats.numberOfCollectLocations</span>&nbsp;Sammel&shy;stellen</div>
                <div class="stat-item"><span class="stat-number">@stats.numberOfEvents</span>&nbsp;Veran&shy;stal&shy;tungen</div>
            </div>
        </section>

        <section class="container is-max-desktop">

            @imageWithText(Image.GlobalerKlimastreik, reverseColumn=false) {
                <h3 class="title">Globaler Klimastreik am 24.9.</h3>
                <div class="block">
                    Am 24.09. fand der Globale Klimastreik statt. Unter dem Motto #AlleFürsKlima waren in Berlin auch die Klimabänder dabei.
                </div>
                <div class="block">
                    Auf der Demo wurden 50 Seile à fünf Meter Länge mit jeweils hunderten von Klimabändern präsentiert. Viele haben sich für die Bänder
                    interessiert, die Klimawünsche gelesen und darüber diskutiert.
                </div>
                <div class="block">
                    Cordula Weimann hat auf der Demo-Bühne vor dem Start des Umzugs <a href="https://vimeo.com/619042435" target="_blank" rel="noopener">eine Rede gehalten</a>.
                </div>
                <a class="button-blue" href="https://www.klimabaender.de/aktionen-vor-ort/614883ecb0714c3d5932c756">Details und Fotos</a>
            }

            @imageWithText(Image.FestivalDerZukunft, reverseColumn=true) {
                <h3 class="title">Festival der Zukunft am 11. und 12.9.</h3>
                <div class="block">
                    Das <a href="/festival-der-zukunft">Festival der Zukunft</a> auf dem Washingtonplatz in Berlin war der Höhepunkt
                    der Klimabänder-Aktion. Es gab dort Workshops, Vorträge, Ausstellungen, Musik und die Klimabänder aus ganz Deutschland.
                </div>
                <a class="button-blue" href="/festival-der-zukunft">Bericht und Details zum Festival</a>
            }

            @imageWithText(Image.BikeTour) {
            <h3 class="title">Fahrradtouren und Fahrraddemo in Berlin</h3>
            <div class="block">
                Die gesammelten Klimabänder sind über viele Radtouren in Berlin angekommen. Der Abschluss war eine
                <a href="/fahrraddemo-berlin">große Fahrraddemo in Berlin</a> für die letzten
                Kilometer bis zum <a href="/festival-der-zukunft">Festival der Zukunft</a>.
                <ul class="bullet-list">
                    <li>Auf der <a href="/fahrradtouren">Karte mit den Fahrradtouren</a> kannst du dir die Radrouten
                        noch einmal ansehen</li>
                    <li>
                        Unter <a href="/fotos">Fotos</a> findest du Eindrücke der Radtour.
                    </li>
                    <li>
                        Auf der <a href="/presse">Presse-Seite</a>
                        sind die bisherigen Medienberichte über die Radtour verlinkt.
                    </li>
                </ul>
            </div>
            }

            @imageWithText(Image.Liebesbruecke, reverseColumn=true) {
                <h3 class="title">Liebesbrücken-Aktion</h3>
                <p class="block">
                    Am <strong>6. August von 15:30 bis 18:00 Uhr</strong> wurden an vielen Orten Klimabänder an Liebesbrücken aufgehängt - an Brücken mit kleinen Schlössern,
                    auf der verliebte Paare den Schlüssel ins Wasser werfen und sich damit ewige Liebe versprechen.
                </p>
                <a class="button-blue" href="/liebesbruecken">Mehr zur Liebesbrücken-Aktion</a>
            }

        </section>


    <section class="container is-max-desktop">

        <h2 class="title">Eindrücke</h2>

        <kb-image-gallery instagram-url="@instagramUrl" show-title="false"></kb-image-gallery>

    </section>

    <div class="container is-max-desktop etappe-section">
        <h2 class="title">Das war der Ablauf</h2>
        <kw-etappe-tabs bear-image-url='@routes.Assets.versioned("images/baer/baer-orange-hand.svg")'
                        pointer-url='@routes.Assets.versioned("images/info-blob-pointer.svg")'></kw-etappe-tabs>
    </div>


    <section class="container is-max-desktop">
        <h2 class="title">Über uns</h2>
        <p class="block">
            Hinter der Aktion Klimabänder steht eine große Idee und das Bedürfnis etwas für unsere Zukunft zu tun.
            Gemeinsam mit vielen Menschen, Organisationen und Unterstützer:innen wollen wir das Klimathema in den Alltag,
            auf die Straße holen - sichtbar für jede:n. <a href="/ueber-uns">Erfahre mehr über die Idee und die Menschen dahinter.</a>
        </p>
    </section>


    <section class="container is-max-desktop">
        <h2 class="title">Schirmherr</h2>
        @imageWithTextRound(Image.cdnStatic("images/klimabotschafter/franz-alt.jpg", 550, 550, "Foto von Franz Alt"), reverseColumn=true, clipImage = true) {
        <h3 class="title">Franz Alt</h3>
        <p class="block">
            „Für die Klimabänder engagiere ich mich, um bundesweit mit darauf aufmerksam zu machen, dass es allerhöchste
            Zeit ist, sich mitverantwortlich gegen den Klimawandel einzusetzen.“
        </p>
        <p class="block">
            Franz Alt ist der am meisten ausgezeichnete deutsche Fernsehjournalist. Er profiliert sich heute im Bereich Umwelt- und Friedenspolitik.
            Von 1972 bis 1992 leitete und moderierte er das politische Magazin «Report». Seit 1997 sind er und seine Ehefrau mit der vielfach prämierten
            Webseite «Sonnenseite» im Internet aktiv und informieren über aktuelles Geschehen im Energie- und Umweltsektor.
        </p>

        }

        <h2 class="title">Klimabotschafter:innen</h2>

        @imageWithTextRound(Image.cdnStatic("images/klimabotschafter/LuciVanOrg.jpg", 500, 500, "Foto von Luci van Org"), reverseColumn=false, clipImage = true) {
        <h3 class="title">Luci van Org</h3>
        <h4 class="subtitle">Musikerin/Autorin</h4>
        <p class="block">
            „Wenn mein Haus von Feuer oder Überflutung bedroht, aber noch zu retten ist, gibt es nichts Wichtigeres, als das Feuer zu löschen
            und das Wasser aufzuhalten. Alles andere wird zweitrangig. Unsere ganze Erde ist gerade dieses Haus. Deshalb hat für mich der Kampf
            gegen den Klimawandel höchste Priorität und ich versuche zu helfen, wo ich kann.
            Indem ich mich verändere, was meine Ernährung, mein Konsumverhalten und die Wahl meiner Fortbewegungsmittel angeht.
            Und indem ich versuche, möglichst viele Menschen dafür zu begeistern, ebenfalls mitzuhelfen.
            Denn wir können es nur gemeinsam schaffen, das Schlimmste noch aufzuhalten.
            Die Klimabänder sind ein wunderschöner, überall sichtbarer Weg, Menschen an das Thema heranzuführen. Deshalb bin ich von Herzen gern Klimabotschafterin.“
        </p>
        }

        @imageWithTextRound(Image.cdnStatic("images/klimabotschafter/joerg-sommer.jpg?height=500&width=500&crop=smart", 500, 500, "Foto von Jörg Sommer"), reverseColumn=true, clipImage = true) {
        <h3 class="title">Jörg Sommer</h3>
        <h4 class="subtitle">Vorstandsvorsitzender der deutschen Umweltstiftung</h4>
        <p class="block">
            „Ich freue mich, als Klimabotschafter bei den Klimabändern dabei zu sein. Solche Aktionen fördern auf kreative Weise das Bewusstsein für einen wirksamen und generationengerechten Klimaschutz. Hoffnung durch Handeln ist das Motto der Deutschen Umweltstiftung. Dazu möchte ich Sie in diesem Sinne ermutigen:
            Lassen Sie uns gemeinsam handeln - denn nur so können wir etwas bewegen."
        </p>
        }

        @imageWithTextRound(Image.cdnStatic("images/klimabotschafter/PfarrerStief_Copyright-Lukas-Gensel_3.jpg?height=500&width=500&crop=smart", 500, 500, "Foto von Bernhard Stief"), reverseColumn=false, clipImage = true) {
        <h3 class="title">Bernhard Stief</h3>
        <h4 class="subtitle">Pfarrer Nikolaikirche Leipzig</h4>
        <p class="block">
            „Mit Begeisterung gehe ich durch die Berge wandern oder fahre mit dem Fahrrad quer durch Europa.
            Aufgrund der zahlreichen Proteste, Debatten und Veröffentlichungen zum Klima in den letzten Jahren nehme ich aufmerksamer die
            Eingriffe der Menschen in die Flussläufe und die Bergwelt wahr. Ich meine, wir sollten demütiger werden und der Natur
            den Respekt zurückgeben, den sie verdient. Darum möchte ich Teil der Klimabewegung sein und zur Bewahrung der uns geliehenen Erde beitragen."
        </p>
        <p class="help block">
            Foto: &copy; Lukas Gensel
        </p>
        }

    </section>

    <a name="newsletter"></a>
    <section class="container is-max-desktop mt-5" style="padding:0">
        <kb-newsletter-registration></kb-newsletter-registration>
    </section>


    <a name="unterstuetzerinnen"></a>
    <div class="supporters">
        <div class="container is-max-desktop">
            <h2 class="title">Unter&shy;stützer*innen</h2>

            <div class="supporters-logos">
                <a href="https://www.omasforfuture.de/" target="_blank" rel="noopener">
                    <img src='@routes.Assets.versioned("images/logos/logo_omasforfuture.png")' width="350" height="350" title="Omas for Future" alt="Omas for Future">
                </a>
                <a href="https://www.parentsforfuture.de/de/" target="_blank" rel="noopener">
                    <img src='@routes.Assets.versioned("images/logos/logo_parents4future_360.png")' width="360" height="361" alt="PARENTS 4 FUTURE" title="PARENTS 4 FUTURE">
                </a>
                <a href="https://studentsforfuture.info/" target="_blank" rel="noopener">
                    <img src='@routes.Assets.versioned("images/logos/logo_studentsforfuture_360.png")' width="352" height="352" alt="Students for Future" title="Students for Future">
                </a>
                <a href="https://www.kirchen-fuer-klimagerechtigkeit.de/churches-for-future" target="_blank" rel="noopener">
                    <img src='@routes.Assets.versioned("images/logos/logo_churchesforfuture.png")' width="334" height="334" alt="Churches for Future" title="Churches for Future">
                </a>
                <a href="https://creativesforfuture.de/" target="_blank" rel="noopener">
                    <img src='@routes.Assets.versioned("images/logos/logo_creativesforfuture.png")' width="369" height="369" alt="Creatives for Future" title="Creatives for Future">
                </a>
                <a href="https://healthforfuture.de/" target="_blank" rel="noopener">
                    <img src='@routes.Assets.versioned("images/logos/logo_healthforfuture.png")' width="400" height="400" alt="Health For Future" title="Health For Future">
                </a>
                <a href="https://togetherforfuture.org/" target="_blank" rel="noopener">
                    <img src='@routes.Assets.versioned("images/logos/logo_togetherforfuture.png")' width="720" height="269" class="broad-image" alt="Together for Future" title="Together for Future">
                </a>
                <a href="https://www.dieklimawette.de/" target="_blank" rel="noopener">
                    <img src='@routes.Assets.versioned("images/logos/logo_klimawette.svg")' width="650" height="150" class="broad-image image-klimawette" alt="Die Klimawette" title="Die Klimawette">
                </a>
                <a href="https://changing-cities.org/" target="_blank" rel="noopener">
                    <img src='@routes.Assets.versioned("images/logos/logo_changingcities.svg")' width="110" height="95" class="image-changing-cities" alt="Changing Cities" title="Changing Cities">
                </a>
            </div>
        </div>
    </div>

</main>

}
