@use "../../css/variables.scss";

.photosContainer {
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.photoContainer {
  flex-basis: calc(50% - 1rem);
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 1rem;

  img {
    border-radius: variables.$defaultBorderRadius;
  }
}

.description {
  font-size: 0.9rem;
  white-space: pre-wrap;
}

.metaInfo {
  font-size: 0.8rem;
  color: variables.$lightText;
}