@use "../../css/variables.scss";

.photosContainer {
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.imageContainer {
  width: 100%;
  height: 25vw;
  max-height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media screen and (max-width: 600px) {
    height: 40vw;
  }
}

.photoContainer {
  flex-basis: calc(33.3% - 1rem);
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  word-break: break-word;

  img {
    border-radius: variables.$defaultBorderRadius;
  }

  @media screen and (max-width: 600px) {
    flex-basis: calc(50% - 1rem);
  }
}

.description {
  font-size: 0.9rem;
  white-space: pre-wrap;
}

.metaInfo {
  font-size: 0.8rem;
  color: variables.$lightText;
}

.linkToAction {
  font-size: 0.8rem;
}
