@use "../../css/variables.scss";

.image > img {
  border-bottom: 1em solid red;
}

.approved_image > img {
  border-bottom: 1em solid green;
}

.imageList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.description {
  white-space: pre-wrap;
}

.copyright {
  text-align: right;
  color: variables.$lightText;
  a {
    color: variables.$lightText;
  }
}

.imageEntry {
  display: flex;
  flex-wrap: wrap;
  width: 49%;
  position: relative;
  margin-bottom: 30px;
}

@media screen and (max-width: 532px) {
  .imageEntry {
    width: 100%;
  }
}

.imageInfo {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: left;
  padding: 10px;
  font-size: 14px;

  p {
    margin-bottom: 8px;
  }

  button {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.confirmationDialog {
  position: absolute;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 15px 0;
  cursor: default;

  .confirmationButtons {
    display: flex;
  }
}
